<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>1h30</div>
	</h1>
	<img class="right" src="../images/asparagus-pea soup.jpg" title="Asparagus-pea soup" />
	<h2>Ingredients</h2>
	<ul>
		<li>2 tablespoons butter</li>
		<li>2 tablespoons all purpose flour</li>
		<li>1/2 teaspoon sea salt</li>
		<li>1/8 teaspoon freshly ground black pepper</li>
		<li>2 cups milk</li>
		<li>3/4 to 1 pound fresh asparagus</li>
		<li>boiling water</li>
		<li>salt and pepper, to taste</li>
		<li>tbsp olive oil</li>
		</li>
	</ul>
	<h2>Preparations</h2>
	<p>Make the white sauce: Melt butter in a saucepan over low heat. Blend in flour, 1/2 teaspoon salt and 1/8 teaspoon pepper. Cook, stirring constantly, for 1 to 2 minutes. Gradually add milk; cook, stirring constantly, until mixture thickens and begins to bubble. Set aside.

Wash asparagus, trim woody ends, and cut in 1/2-inch pieces. Cook the asparagus in a small amount of boiling water until tender, for about 5 minutes.
ar, vinegar, chopped tomatoes and passata, then crumble in the stock cubes. Add 1 litre boiling water and bring to a simmer. Cover and simmer for 15 mins until the potato is tender, then remove the bay leaves. 
	</p>
	<p>Drain, reserving the cooking liquid. Set aside a few of the asparagus tips for garnish. Mash or blend remaining asparagus; set aside. 
	Add enough boiling water to cooking liquid to make 1 cup; add white sauce and pureed asparagus. Heat thoroughly; season to taste with salt and pepper.
	</p> 
	<p>Top with the reserved asparagus tips and serve. Serves 4 to 6.</p>
</div>