<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>1h30</div>
	</h1>
	<img class="right" src="../images/tomato soup.jpg" title="Tomato soup" />
	<h2>Ingredients</h2>
	<ul>
		<li>2 tablespoons olive oil
		<li>1 onion, diced	
		<li>2 cloves garlic, minced
		<li>6 beefsteak tomatoes, seeded and chopped
		<li>4 ripe Roma tomatoes, chopped
		<li>1 teaspoon salt
		<li>1/8 teaspoon white pepper
		<li>2 cups chicken or vegetable stock
		<li>2 tablespoons butter
		<li>2 tablespoons flour
		<li>1/2 teaspoon orange zest
		<li>1 tablespoon minced fresh basil leaves
		<li>1 teaspoon fresh thyme leaves</li>
	</ul>
	<h2>Preparation</h2>
	<p>In heavy saucepan, heat oil and cook onions and garlic until tender.

Add both kinds of tomatoes, salt, pepper, and stock, and simmer for 20 minutes.

Strain soup through a fine strainer; discard the solids.

In clean saucepan, melt butter and add flour; cook and stir for 2-3 minutes to make a roux to thicken the soup.

Add 1/2 cup of the tomato mixture; cook and stir until thickened.

Add remaining tomato mixture and cook and stir with wire whisk until mixture is hot and slightly thickened.
</p>
</div>	