<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>1h30</div>
	</h1>
	<img  class="right" src="../images/chicken-soup.jpg" title="chicken-soup" />
	<h2>Ingredients</h2>
	<ul>
		<li>3 tbsp olive oil</li>
		<li>2 onions, chopped</li>
		<li>2 celery sticks, chopped</li>
		<li>300g  carrot, chopped</li>
		<li>500g potatoes, diced</li>
		<li>4 bay leaf</li>
		<li>5 tbsp tomato purée</li>
		<li>2 tbsp sugar</li>
		<li>2 tbsp red or white wine vinegar</li>
		<li>4 x 400g cans chopped tomatoes</li>
		<li>500g passata</li>
		<li>3 vegetable stock cubes</li>
		<li>400ml whole milk</li>
	</ul>
	<h2>Preparations</h2>
		<p>Put the oil, onions, celery, carrots, potatoes and bay leaves in a big casserole dish, or two saucepans. Fry gently until the onions are softened – about 10-15 mins. Fill the kettle and boil it.</p>
		<p><img class="leftverysmall" src="../images/mushroom.jpg" title="..." />Stir in the tomato purée, sugar, vinegar, chopped tomatoes and passata, then crumble in the stock cubes. Add 1 litre boiling water and bring to a simmer. Cover and simmer for 15 mins until the potato is tender, then remove the bay leaves. 
		Purée with a stick blender (or ladle into a blender in batches) until very smooth. Season to taste and add a pinch more sugar if it needs it. The soup can now be cooled and chilled for up to 2 days, or frozen for up to 3 months.</p>
		<p>To serve, reheat the soup, stirring in the milk – try not to let it boil. Serve in small bowls for the children with cheesy sausage rolls then later in bowls for the adults as Hot Bloody Mary soup.</p>
		<p>Put the oil, onions, celery, carrots, potatoes and bay leaves in a big casserole dish, or two saucepans. Fry gently until the onions are softened – about 10-15 mins. Fill the kettle and boil it.</p>
		<p><img class="rightverysmall" src="../images/mushroom.jpg" title="..." />Stir in the tomato purée, sugar, vinegar, chopped tomatoes and passata, then crumble in the stock cubes. Add 1 litre boiling water and bring to a simmer. Cover and simmer for 15 mins until the potato is tender, then remove the bay leaves. 
		Purée with a stick blender (or ladle into a blender in batches) until very smooth. Season to taste and add a pinch more sugar if it needs it. The soup can now be cooled and chilled for up to 2 days, or frozen for up to 3 months.</p>
		<p>To serve, reheat the soup, stirring in the milk – try not to let it boil. Serve in small bowls for the children with cheesy sausage rolls then later in bowls for the adults as Hot Bloody Mary soup.</p>
		<p>Put the oil, onions, celery, carrots, potatoes and bay leaves in a big casserole dish, or two saucepans. Fry gently until the onions are softened – about 10-15 mins. Fill the kettle and boil it.</p>
		<hr/>
		<p><img class="right" src="../images/mushroom.jpg" title="..." />Stir in the tomato purée, sugar, vinegar, chopped tomatoes and passata, then crumble in the stock cubes. Add 1 litre boiling water and bring to a simmer. Cover and simmer for 15 mins until the potato is tender, then remove the bay leaves. 
		Purée with a stick blender (or ladle into a blender in batches) until very smooth. Season to taste and add a pinch more sugar if it needs it. The soup can now be cooled and chilled for up to 2 days, or frozen for up to 3 months.</p>
		<p>To serve, reheat the soup, stirring in the milk – try not to let it boil. Serve in small bowls for the children with cheesy sausage rolls then later in bowls for the adults as Hot Bloody Mary soup.</p>
		<p>Put the oil, onions, celery, carrots, potatoes and bay leaves in a big casserole dish, or two saucepans. Fry gently until the onions are softened – about 10-15 mins. Fill the kettle and boil it.</p>
		<p><img class="left" src="../images/mushroom.jpg" title="..." />Stir in the tomato purée, sugar, vinegar, chopped tomatoes and passata, then crumble in the stock cubes. Add 1 litre boiling water and bring to a simmer. Cover and simmer for 15 mins until the potato is tender, then remove the bay leaves. 
		Purée with a stick blender (or ladle into a blender in batches) until very smooth. Season to taste and add a pinch more sugar if it needs it. The soup can now be cooled and chilled for up to 2 days, or frozen for up to 3 months.</p>
		<p>To serve, reheat the soup, stirring in the milk – try not to let it boil. Serve in small bowls for the children with cheesy sausage rolls then later in bowls for the adults as Hot Bloody Mary soup.</p>
</div>	