<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>10 min</div>
		<div class="intro">Going to die-for classic healthy Japanese soup in minutes</div>
	</h1>
	<img class="right" src="../images/classic miso soup.png" title=" Classic miso soup" />
	<h2>Ingredients</h2><small> Serves 4</small></h2>
	<ul>
		<li>4 cups water</li>
		<li>2 t. dashi granules</li>
		<li>4 T. miso paste</li>
		<li>8 oz. silken (soft) tofu</li>
		<li>2 scallions, bias </li>
	</ul>
	<h2>Preparations</h2>
	<ol>
		<li>Bring the water to a simmer and add dashi granules. Whisk until dissolved.</li>
		<li>Add miso paste and whisk until incorporated. Simmer for 2-3 minutes.</li>
		<li>Add tofu and scallions and simmer for another 5 minutes.</li>
		<li>Garnish with seaweed, shrimp or fish. Serve hot!</li>
	</ol>
</div>