<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>30min</div>
	</h1>
	<img class="right" src="../images/cream of broccoli soup.jpg" title="Cream of broccoli soup"/>
	<h2>Ingredients</h2>
	<ul>
		<li>⅕ Medium ourgette</li>
		<li>1 Medium roccoli</li>
		<li>1 Small onion (peeled)</li>		
		<li>1 Tsp oregano</li>
		<li>1 Tsp thyme</li>
		<li>468ml water</li>
		<li>2Tbsp Greek oghurt</li>
		<li>Salt & pepper</li>
	</ul>
	<h2>Preparations</h2>
	<ol>
		<li>Chop up your vegetables and add them to your soup maker.
		And put your broccoli into medium sized florets.</li>
		<li>Add the water and seasoning.</li>
		<li>Put in the soup maker and cook for 25 minutes on their cook and blend setting</li>
		<li>Add the Greek Yoghurt and mix it in well.</li>
		<li>Adjust with extra water if needed.</li>
		<li>Serve!</li>
	</ol>
	<h3>Notes</h3>
	<p>Broccoli texture produces an incredibly thick so it is recommended that you either add extra water or
	more courgette in order to get a nice creamy soup.</p>
</div>