<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chicken soup2</title>
	<!--  Built with wwwebify : page href = {{hrefS}} -->
	<link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../../stylesheets/main.css" />
	<link rel="stylesheet" type="text/css" href="../../icons/style.css" />
	<link rel="stylesheet" type="text/css" href="../../highlight/styles/default.css" />
	<link rel="stylesheet" type="text/css" href="../../slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="../../slick/slick-theme.css"/>
</head>
<body>
	<div class="main-header">
		<div class="wrapper">
			<div class="row">
				<div class="sidebar top">
					<a href="../../index.html" class="logo" title="Lilia Azur">
						<img src="../../images/logo.svg"  alt="Lilia Azur"/>
						<span>Lilia Azur</span>
					</a>
				</div>
				<div class="sidebar top-small">
					<a href="../../index.html" class="logo" title="Lilia Azur">
						<img src="../../images/logo-white.svg"  alt="Lilia Azur"/>
						<span>Lilia Azur</span>
					</a>
				</div>
				<div class="main top">
					<div>
						<div class="main-navigation">	
							<ul class="menu">
								<li class="item-has-children"><a href="../1_Drinks/home.html" target="" >Drinks</a><ul class="children"><li class="item-no-children"><a href="../1_Drinks/Matcha Tea.html" target="" >Matcha Tea</a><ul class="children"></ul></li><li class="item-no-children"><a href="../1_Drinks/Bloody Mary.html" target="" >Bloody Mary</a><ul class="children"></ul></li></ul></li><li class="item-has-children"><a href="home.html" target="" >Soups</a><ul class="children"><li class="item-no-children"><a href="Tomato soup.html" target="" >Tomato soup</a><ul class="children"></ul></li><li class="item-no-children"><a href="Chicken soup.html" target="" >Chicken soup</a><ul class="children"></ul></li><li class="item-no-children"><a href="Chicken soup2.html" target="" >Chicken soup2</a><ul class="children"></ul></li></ul></li><li class="item-has-children"><a href="../3_Main course/home.html" target="" >Main course</a><ul class="children"><li class="item-no-children"><a href="../3_Main course/Pizza.html" target="" >Pizza</a><ul class="children"></ul></li><li class="item-no-children"><a href="../3_Main course/Spinach and mushroom with beef tenderloin.html" target="" >Spinach and mushroom with beef tenderloin</a><ul class="children"></ul></li></ul></li><li class="item-has-children"><a href="../6_Desserts/home.html" target="" >Desserts</a><ul class="children"><li class="item-no-children"><a href="../6_Desserts/Pancakes.html" target="" >Pancakes</a><ul class="children"></ul></li></ul></li><li class="item-no-children"><a href="../9_Blog/home.html" target="" >Blog</a><ul class="children"></ul></li>
							</ul>
							<div class="right search-container">
								<input class="search-main-text" id="search_main_text"  data-action="search.search_main"/>
								<span class="search-main-clear" id="search_main_clear"><i class="i-clear" data-action="search.searchClear"></i></span>
								<span class="search-main-search"><i class="i-search" data-action="search.searchMainSearch"></i></span>
								<ul class="search-main-dropdown hide" id="search_main_dropdown" ></ul>
							</div>								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-content">
	<div class="wrapper">
		<div class="row">
			<div class="search-results-main" id="search_results_main"></div>
		</div>
		<div class="row" >
			<div id="content">
				<div class="col-sub-nav" id="col_sub_nav">
					<ul class="sub-navigation">
						<li class="item-type-b not-active"><a href="home.html" target="" >Soups</a></li><li class="item-type-c not-active"><a href="Tomato soup.html" target="" >Tomato soup</a></li><li class="item-type-c not-active"><a href="Chicken soup.html" target="" >Chicken soup</a></li><li class="item-type-c is-active"><a href="Chicken soup2.html" target="" >Chicken soup2</a></li>
					</ul>
				</div>				
				<div class="col-content" id="col_content">
					<div class="content-content" id="contentContent">
						<div class="content-breadcrumb" id="contentBreadcrumb"><a href="home.html" class="breadcrumb-not-active">Soups</a> / <a href="Chicken soup2.html" class="breadcrumb-is-active">Chicken soup2</a></div>
						<div class="recipe">
	<h1>Chicken soup2
		<div class="duration"><i class="i-stopwatch"></i>1h30</div>
	</h1>
	<img class="right" src="../images/chicken-soup.jpg" title="chicken-soup" />
	<h2>Ingredients</h2>
	<ul>
		<li>3 tbsp olive oil</li>
		<li>2 onions, chopped</li>
		<li>2 celery sticks, chopped</li>
		<li>300g  carrot, chopped</li>
		<li>500g potatoes, diced</li>
		<li>4 bay leaf</li>
		<li>5 tbsp tomato purée</li>
		<li>2 tbsp sugar</li>
		<li>2 tbsp red or white wine vinegar</li>
		<li>4 x 400g cans chopped tomatoes</li>
		<li>500g passata</li>
		<li>3 vegetable stock cubes</li>
		<li>400ml whole milk</li>
	</ul>
	<h2>Preparations</h2>
	<p>Put the oil, onions, celery, carrots, potatoes and bay leaves in a big casserole dish, or two saucepans. Fry gently until the onions are softened – about 10-15 mins. Fill the kettle and boil it.</p>
	<p><img class="leftverysmall" src="../images/mushroom.jpg" title="..." />Stir in the tomato purée, sugar, vinegar, chopped tomatoes and passata, then crumble in the stock cubes. Add 1 litre boiling water and bring to a simmer. Cover and simmer for 15 mins until the potato is tender, then remove the bay leaves. 
	Purée with a stick blender (or ladle into a blender in batches) until very smooth. Season to taste and add a pinch more sugar if it needs it. The soup can now be cooled and chilled for up to 2 days, or frozen for up to 3 months.</p>
	<p>To serve, reheat the soup, stirring in the milk – try not to let it boil. Serve in small bowls for the children with cheesy sausage rolls then later in bowls for the adults as Hot Bloody Mary soup.</p>
	<p>Put the oil, onions, celery, carrots, potatoes and bay leaves in a big casserole dish, or two saucepans. Fry gently until the onions are softened – about 10-15 mins. Fill the kettle and boil it.</p>
	<p><img class="rightverysmall" src="../images/mushroom.jpg" title="..." />Stir in the tomato purée, sugar, vinegar, chopped tomatoes and passata, then crumble in the stock cubes. Add 1 litre boiling water and bring to a simmer. Cover and simmer for 15 mins until the potato is tender, then remove the bay leaves. 
	Purée with a stick blender (or ladle into a blender in batches) until very smooth. Season to taste and add a pinch more sugar if it needs it. The soup can now be cooled and chilled for up to 2 days, or frozen for up to 3 months.</p>
	<p>To serve, reheat the soup, stirring in the milk – try not to let it boil. Serve in small bowls for the children with cheesy sausage rolls then later in bowls for the adults as Hot Bloody Mary soup.</p>
	<p>Put the oil, onions, celery, carrots, potatoes and bay leaves in a big casserole dish, or two saucepans. Fry gently until the onions are softened – about 10-15 mins. Fill the kettle and boil it.</p>
	<hr/>
	<p><img class="right" src="../images/mushroom.jpg" title="..." />Stir in the tomato purée, sugar, vinegar, chopped tomatoes and passata, then crumble in the stock cubes. Add 1 litre boiling water and bring to a simmer. Cover and simmer for 15 mins until the potato is tender, then remove the bay leaves. 
	Purée with a stick blender (or ladle into a blender in batches) until very smooth. Season to taste and add a pinch more sugar if it needs it. The soup can now be cooled and chilled for up to 2 days, or frozen for up to 3 months.</p>
	<p>To serve, reheat the soup, stirring in the milk – try not to let it boil. Serve in small bowls for the children with cheesy sausage rolls then later in bowls for the adults as Hot Bloody Mary soup.</p>
	<p>Put the oil, onions, celery, carrots, potatoes and bay leaves in a big casserole dish, or two saucepans. Fry gently until the onions are softened – about 10-15 mins. Fill the kettle and boil it.</p>
	<p><img class="left" src="../images/mushroom.jpg" title="..." />Stir in the tomato purée, sugar, vinegar, chopped tomatoes and passata, then crumble in the stock cubes. Add 1 litre boiling water and bring to a simmer. Cover and simmer for 15 mins until the potato is tender, then remove the bay leaves. 
	Purée with a stick blender (or ladle into a blender in batches) until very smooth. Season to taste and add a pinch more sugar if it needs it. The soup can now be cooled and chilled for up to 2 days, or frozen for up to 3 months.</p>
	<p>To serve, reheat the soup, stirring in the milk – try not to let it boil. Serve in small bowls for the children with cheesy sausage rolls then later in bowls for the adults as Hot Bloody Mary soup.</p>
</div>
						<div class="previous-next">
							<div class="content-previous" id="contentPreviuos"><a id="previous" class="previous" href="Chicken soup.html">Chicken soup</a>	</div>
							<div class="content-next" id="contentNext"><a class="next" id="next" href="../3_Main course/home.html">Main course</a>	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="navigation-slide-in-out">
		<div class="header">
			<a href="../../index.html" class="logo" title="Lilia Azur">
				<img src="../../images/logo-white.svg"  alt="Lilia Azur"/>
				<span>Lilia Azur</span>
			</a>
		</div>
		<div class="main">	
			<ul class="menu">
				<li class="item-type-a not-active has-children">
					<a href="../home.html#menu" target=""><i class="i-menu"></i></a><a href="../home.html" target="">Home</a>
				</li>
				<li class="item-type-b not-active has-menu"><a class="i-menu" href="home.html#menu" target="" ></a><a href="home.html" target="" >Soups</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="Tomato soup.html#menu" target="" ></a><a href="Tomato soup.html" target="" >Tomato soup</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="Chicken soup.html#menu" target="" ></a><a href="Chicken soup.html" target="" >Chicken soup</a></li>		<li class="item-type-c is-active no-menu"><a class="i-menu" href="Chicken soup2.html#menu" target="" ></a><a href="Chicken soup2.html" target="" >Chicken soup2</a></li>		
			</ul>
		</div>
		<div class="footer">
			<ul class="menu">
					<li class="item-no-children item-icon"><a class="i-linkedin" href="https://www.linkedin.com/company/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-facebook" href="https://www.facebook.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-twitter" href="https://twitter.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-youtube" href="https://www.youtube.com/user/wwwebify" target="blank"></a></li>
				</ul>
		</div>
	</div>
	<div class="search-slide-in-out">
		<div class="search-in-out-header">
			<div class="header">
				<a href="../../index.html" class="logo" title="Lilia Azur">
					<img src="../../images/logo-white.svg"  alt="Lilia Azur"/>
					<span>Lilia Azur</span>
				</a>
			</div>
			<div class="search-container">
				<div>
					<input class="search-slide-in-out-text" id="search_slide_in_out_text"  data-action="search.search_slide-in-out"/>
					<span class="search-slide-in-out-clear" id="search_slide_in_out_clear"><i class="i-clear" data-action="search.searchClear"></i></span>
					<span class="search-slide-in-out-search"><i class="i-search" data-action="search.searchSlideInOutSearch"></i></span>
				</div>
				<ul class="search-slide-in-out-dropdown hide" id="search_slide_in_out_dropdown" ></ul>
			</div>
		</div>
		<div class="search-results-slide-in-out" id="search_results_slide_in_out"></div>
	</div>
	<div class="main-footer">
	<div class="wrapper">
	<div class="row">
		<div  class="footer" id="footer">
			<div class="social-buttons">
				<ul class="menu">
					<li class="item-no-children item-icon"><a class="i-linkedin" href="https://www.linkedin.com/company/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-facebook" href="https://www.facebook.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-twitter" href="https://twitter.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-youtube" href="https://www.youtube.com/user/wwwebify" target="blank"></a></li>
				</ul>
			</div>
			<div class="secondary-buttons">
				<a class="secondary-button i-zoom-out" href="#" data-action="init.decreaseFontSize"></a>
				<a class="secondary-button i-zoom-in" href="#" data-action="init.increaseFontSize"></a>
			</div>
		</div>
	</div>
	</div>
	</div>
	<div class="buttons-slide-in-out">
		<div class="slide-in-out-search-toggle-button"><i class="i-search" data-action="search.slide_out"></i></div>
		<div class="slide-in-out-slide-out-button"><i class="i-slide-out" data-action="navigation.slide_out"></i></div>
	</div>
	<!-- vendor libs -->
	<script src="../../javascripts/jquery.min.js"></script>
	<script src="../../javascripts/rangy-core.js"></script>
	<script src="../../highlight/highlight.pack.js"></script>
	<script src="../../slick/slick.min.js"></script>
	<!-- custom javascripts -->
	<script src="../../javascripts/base.js"></script>
	<script src="../../javascripts/init.js"></script>
	<script src="../../javascripts/navigation.js"></script>
	<script src="../../javascripts/search.js"></script>
	<script src="../../javascripts/slick.js"></script>
	<!-- search dictionary -->
	<script src="../../javascripts/searchdata_en.js"></script>
	
</body>
</html>
