<div class="article">
	<h1>{{name}}
		<div class="date">{{-0D-}}/{{-0M-}}/{{-YYYY-}}</div>
		<div class="intro"></div>
		<div class="tags"><i class="i-tags"></i></div>
	</h1>
	<img class="right" src="../images/autum_2015.jpg" title=""/>
	<img class="leftsmall" src="../images/20150906_094006.jpg" title=""/>
	<p></p>
</div>