<div class="article">
	<h1>{{name}}
		<div class="date">{{-0D-}}/{{-0M-}}/{{-YYYY-}}</div>
		<div class="intro"></div>
		<div class="tags"><i class="i-tags"></i>Christmas</div>
	</h1>
	<img class="right" src="../images/leuven-xmas.jpg" title=""/>
	<p>I remember when I was little every time I heard Christmas songs being played on the radio, I cry. 
	I cried and felt so emotional without no reason at all. Sometimes, I'd ask myself why? 
	Maybe I was touched by the song! Or Is it because of happiness? It happened every year as the BER month begins. 
	That strange emotional feeling have slowly gone down as I grew up and as time goes by. 
	
	Yes, I can smell Christmas! 
	
	Christmas carols will be played again on the radio. Will I cry again?
	The truth is, I couldn't remember the last time I cried when I heard a Christmas song! 
	
	We'll visit  the Kertsmarkt in Leuven. 
	
	It's going to be a long day, but am sure we'll have lot's of fun!</p>
</div>	
	