<h2>{{name}}</h2>
<p>
<img class="right" src="../images/thumbs/IMG_3800.JPG"/>
Wwwebify is the ideal tool for building presentational content:
</p>
<ul>
	<li>Company presentations, products, services, ...</li>
	<li>Project descriptions, portfolio's</li>
	<li>Description of internal procedures, ...</li>
	<li>Training material, courses, manuals, documentation</li>
	<li>Web books...</li>
</ul>