<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="{{keywords}}">
	<title>Sitemap</title>
	<!--  Built with wwwebify : page href = {{hrefS}} -->
	<link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../../stylesheets/main.css" />
	<script>var linkref = ",";</script>
</head>
<body class="preload">
	<div class="main-header">
		<div class="wrapper">
			<div class="row">
				<div class="sidebar top">
					<a href="../../index.html" class="logo" title="Lilia Azur">
						<img src="../../images/lilia_azur_logo_0088f_008400.svg"  alt="Lilia Azur"/>
					</a>
				</div>
				<div class="sidebar top-small">
					<a href="../../index.html" class="logo" title="Lilia Azur">
						<img src="../../images/lilia_azur_logo_white.svg"  alt="Lilia Azur"/>
					</a>
				</div>
				<div class="main top">
					<div>
						<div class="main-navigation">	
							<ul class="menu">
								<li class="item-no-children"><a href="../1_Contact/home.html" target="" >Contact</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../2_My webshop/home.html" target="" >My webshop</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../3_My recipes/home.html" target="" >My recipes</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../4__My photo's/home.html" target="" >My photo's</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../9_My blog/home.html" target="" >My blog</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="home.html" target="" >Sitemap</a><ul class="children"></ul></li>
							</ul>
							<div class="right search-container">
								<input class="search-main-text" id="search_main_text"  data-action="search.search_main"/>
								<span class="search-main-clear" id="search_main_clear"><i class="i-clear" data-action="search.searchClear"></i></span>
								<span class="search-main-search"><i class="i-search" data-action="search.searchMainSearch"></i></span>
								<ul class="search-main-dropdown hide" id="search_main_dropdown" ></ul>
							</div>								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-content">
	<div class="wrapper">
		<div class="row">
			<div class="content-full-width" id="content">
				<div class="content-content" id="contentContent">
					<div class="text-align-left"><ul class="sitemap"><li class="sitemap">
	<a href="../1_Contact/home.html" target="" >Contact</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/home.html" target="" >My webshop</a>
	<ul><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/home.html" target="" >Jewelry</a>
	<ul><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/home.html" target="" >Necklaces</a>
	<ul><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace flower.html" target="" >Necklace flower</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace blue strand suede.html" target="" >Necklace blue strand suede</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace silver cross-heart.html" target="" >Necklace silver cross-heart</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace silver flower.html" target="" >Necklace silver flower</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace faceted bead strand.html" target="" >Necklace faceted bead strand</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace green acrylic flowers.html" target="" >Necklace green acrylic flowers</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace pearl flower beads.html" target="" >Necklace pearl flower beads</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace white-coated pearl with gold-diamond ring beads.html" target="" >Necklace white-coated pearl with gold-diamond ring beads</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace blue beads with silver heart shape.html" target="" >Necklace blue beads with silver heart shape</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace blue oval-shaped bead, diamond studs.html" target="" >Necklace blue oval-shaped bead, diamond studs</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace spider chain gold-polish.html" target="" >Necklace spider chain gold-polish</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace gold and black chain with diamond studs.html" target="" >Necklace gold and black chain with diamond studs</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace gold and black chain with diamond studs.html" target="" >Necklace gold and black chain with diamond studs</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace pearl beads with black beads.html" target="" >Necklace pearl beads with black beads</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace silver wired with white crystal beads.html" target="" >Necklace silver wired with white crystal beads</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace rose wired with white crystal beads.html" target="" >Necklace rose wired with white crystal beads</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace silver-polish wired ball with white crystal beads.html" target="" >Necklace silver-polish wired ball with white crystal beads</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace gold-polished strands with leaf.html" target="" >Necklace gold-polished strands with leaf</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace silver-polished strands with leaf.html" target="" >Necklace silver-polished strands with leaf</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace peach pearls.html" target="" >Necklace peach pearls</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace cube white with Zwarovski.html" target="" >Necklace cube white with Zwarovski</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace black and gold strands chains with crystal beads.html" target="" >Necklace black and gold strands chains with crystal beads</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace black, grey and silver Zwarovski beads.html" target="" >Necklace black, grey and silver Zwarovski beads</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace golden cross with red stone.html" target="" >Necklace golden cross with red stone</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace black cross.html" target="" >Necklace black cross</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/1_Necklaces/Necklace white-golden.html" target="" >Necklace white-golden</a>
	<ul></ul>
</li></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/2_Bracelets/home.html" target="" >Bracelets</a>
	<ul><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/2_Bracelets/Armband with multi-color flowers.html" target="" >Armband with multi-color flowers</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/2_Bracelets/Bracelet gold finished brass.html" target="" >Bracelet gold finished brass</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/2_Bracelets/Bracelet hearts.html" target="" >Bracelet hearts</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/2_Bracelets/Bracelet turquoise.html" target="" >Bracelet turquoise</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/2_Bracelets/Bracelet charm Elle.html" target="" >Bracelet charm Elle</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/2_Bracelets/Bracelet white-black pearl with silver-coated heart pendant.html" target="" >Bracelet white-black pearl with silver-coated heart pendant</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/2_Bracelets/Bracelet Zwarovski brown beads.html" target="" >Bracelet Zwarovski brown beads</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/2_Bracelets/Bracelet silver.html" target="" >Bracelet silver</a>
	<ul></ul>
</li></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/3_Rings/home.html" target="" >Rings</a>
	<ul><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/3_Rings/Ring stone orange.html" target="" >Ring stone orange</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/3_Rings/Ring swarovski brown.html" target="" >Ring swarovski brown</a>
	<ul></ul>
</li></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/4_Earrings/home.html" target="" >Earrings</a>
	<ul><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/4_Earrings/Earrings blue flower.html" target="" >Earrings blue flower</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/4_Earrings/Earrings pink flower.html" target="" >Earrings pink flower</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/4_Earrings/Earrings white.html" target="" >Earrings white</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/4_Earrings/Earrings yellow.html" target="" >Earrings yellow</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/4_Earrings/Earrings olive green.html" target="" >Earrings olive green</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/4_Earrings/Earrings multi color beads.html" target="" >Earrings multi color beads</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/4_Earrings/Earrings blue-green pearl.html" target="" >Earrings blue-green pearl</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/4_Earrings/Earrings white glass.html" target="" >Earrings white glass</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/4_Earrings/Earrings clear-white beads.html" target="" >Earrings clear-white beads</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/4_Earrings/Earrings, white coated pearl.html" target="" >Earrings, white coated pearl</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/4_Earrings/Earrings pear-shaped pearl.html" target="" >Earrings pear-shaped pearl</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/4_Earrings/Earrings white coated pearl.html" target="" >Earrings white coated pearl</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/4_Earrings/Earrings diamond studs, silver-plated.html" target="" >Earrings diamond studs, silver-plated</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/4_Earrings/Earring red cross beads.html" target="" >Earring red cross beads</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/4_Earrings/Earrings dangling red beads.html" target="" >Earrings dangling red beads</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/4_Earrings/Earrings antique blue Zwarovski.html" target="" >Earrings antique blue Zwarovski</a>
	<ul></ul>
</li></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/5_Sets/home.html" target="" >Sets</a>
	<ul><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/5_Sets/Necklace + earrings brown.html" target="" >Necklace + earrings brown</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/5_Sets/Necklace, bracelet and earrings peach pearl.html" target="" >Necklace, bracelet and earrings peach pearl</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/5_Sets/Necklace, bracelet and earrings white pearl.html" target="" >Necklace, bracelet and earrings white pearl</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/1_Jewelry/5_Sets/Necklace and bracelet blue-white beads.html" target="" >Necklace and bracelet blue-white beads</a>
	<ul></ul>
</li></ul>
</li></ul>
</li><li class="sitemap">
	<a href="../2_My webshop/2__Accessories/home.html" target="" >Accessories</a>
	<ul><li class="sitemap">
	<a href="../2_My webshop/2__Accessories/1__My best pictures/home.html" target="" >My best pictures</a>
	<ul></ul>
</li></ul>
</li></ul>
</li><li class="sitemap">
	<a href="../3_My recipes/home.html" target="" >My recipes</a>
	<ul><li class="sitemap">
	<a href="../3_My recipes/1_Drinks/home.html" target="" >Drinks</a>
	<ul><li class="sitemap">
	<a href="../3_My recipes/1_Drinks/Matcha ginger iced tea.html" target="" >Matcha ginger iced tea</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../3_My recipes/1_Drinks/Bloody Mary.html" target="" >Bloody Mary</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../3_My recipes/1_Drinks/Rosemary lemonade.html" target="" >Rosemary lemonade</a>
	<ul></ul>
</li></ul>
</li><li class="sitemap">
	<a href="../3_My recipes/2_Soups/home.html" target="" >Soups</a>
	<ul><li class="sitemap">
	<a href="../3_My recipes/2_Soups/Asparagus-pea soup.html" target="" >Asparagus-pea soup</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../3_My recipes/2_Soups/Tomato soup.html" target="" >Tomato soup</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../3_My recipes/2_Soups/Chicken soup.html" target="" >Chicken soup</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../3_My recipes/2_Soups/Classic miso soup.html" target="" >Classic miso soup</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../3_My recipes/2_Soups/Cream of broccoli soup.html" target="" >Cream of broccoli soup</a>
	<ul></ul>
</li></ul>
</li><li class="sitemap">
	<a href="../3_My recipes/3_Main courses/home.html" target="" >Main courses</a>
	<ul><li class="sitemap">
	<a href="../3_My recipes/3_Main courses/Crock-pot chicken tikka masala.html" target="" >Crock-pot chicken tikka masala</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../3_My recipes/3_Main courses/Pizza.html" target="" >Pizza</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../3_My recipes/3_Main courses/Sauteed broccoli and zucchini casserole.html" target="" >Sauteed broccoli and zucchini casserole</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../3_My recipes/3_Main courses/Eggplant rollatini.html" target="" >Eggplant rollatini</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../3_My recipes/3_Main courses/Spinach and mushroom with beef tenderloin.html" target="" >Spinach and mushroom with beef tenderloin</a>
	<ul></ul>
</li></ul>
</li><li class="sitemap">
	<a href="../3_My recipes/6_Desserts/home.html" target="" >Desserts</a>
	<ul><li class="sitemap">
	<a href="../3_My recipes/6_Desserts/Pancakes.html" target="" >Pancakes</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../3_My recipes/6_Desserts/Cornflakebars.html" target="" >Cornflakebars</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../3_My recipes/6_Desserts/100_Sweet/home.html" target="" >Sweet</a>
	<ul><li class="sitemap">
	<a href="../3_My recipes/6_Desserts/100_Sweet/Chocolate avocado chia pudding.html" target="" >Chocolate avocado chia pudding</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../3_My recipes/6_Desserts/100_Sweet/Chocolate rice crispy.html" target="" >Chocolate rice crispy</a>
	<ul></ul>
</li></ul>
</li><li class="sitemap">
	<a href="../3_My recipes/6_Desserts/Carrot cake.html" target="" >Carrot cake</a>
	<ul></ul>
</li></ul>
</li></ul>
</li><li class="sitemap">
	<a href="../4__My photo's/home.html" target="" >My photo's</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../9_My blog/home.html" target="" >My blog</a>
	<ul><li class="sitemap">
	<a href="../9_My blog/2015/home.html" target="" >2015</a>
	<ul><li class="sitemap">
	<a href="../9_My blog/2015/Christmas in Leuven.html" target="" >Christmas in Leuven</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../9_My blog/2015/Autum.html" target="" >Autum</a>
	<ul></ul>
</li></ul>
</li><li class="sitemap">
	<a href="../9_My blog/2016/home.html" target="" >2016</a>
	<ul><li class="sitemap">
	<a href="../9_My blog/2016/Search Engine Optimization.html" target="" >Search Engine Optimization</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../9_My blog/2016/Crock-pot chicken tikka masala.html" target="" >Crock-pot chicken tikka masala</a>
	<ul></ul>
</li><li class="sitemap">
	<a href="../9_My blog/2016/Citytrip to Paris.html" target="" >Citytrip to Paris</a>
	<ul></ul>
</li></ul>
</li></ul>
</li></ul></div>
					<div class="previous-next">
						<div class="content-previous" id="contentPreviuos"><a id="previous" class="previous" href="../9_My blog/2016/Citytrip to Paris.html">Citytrip to Paris</a>	</div>
						<div class="content-next" id="contentNext"></div>
					</div>
					<div class="content-related" id="contentRelated"></div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="navigation-slide-in-out">
		<div class="header">
			<a href="../../index.html" class="logo" title="Lilia Azur">
				<img src="../../images/lilia_azur_logo_white.svg"  alt="Lilia Azur"/>
			</a>
		</div>
		<div class="main">	
			<ul class="menu">
				<li class="item-type-a not-active has-children">
					<a href="../home.html#menu" target=""><i class="i-menu"></i></a><a href="../home.html" target="">Home</a>
				</li>
				<li class="item-type-c not-active no-menu"><a class="i-menu" href="../1_Contact/home.html#menu" target="" ></a><a href="../1_Contact/home.html" target="" >Contact</a></li>		<li class="item-type-c not-active has-menu"><a class="i-menu" href="../2_My webshop/home.html#menu" target="" ></a><a href="../2_My webshop/home.html" target="" >My webshop</a></li>		<li class="item-type-c not-active has-menu"><a class="i-menu" href="../3_My recipes/home.html#menu" target="" ></a><a href="../3_My recipes/home.html" target="" >My recipes</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="../4__My photo's/home.html#menu" target="" ></a><a href="../4__My photo's/home.html" target="" >My photo's</a></li>		<li class="item-type-c not-active has-menu"><a class="i-menu" href="../9_My blog/home.html#menu" target="" ></a><a href="../9_My blog/home.html" target="" >My blog</a></li>		<li class="item-type-c is-active no-menu"><a class="i-menu" href="home.html#menu" target="" ></a><a href="home.html" target="" >Sitemap</a></li>		
			</ul>
		</div>
		<div class="footer">
			<ul class="menu">
				<li class="item-no-children item-icon"><a class="i-linkedin" href="https://www.linkedin.com/company/wwwebify" target="blank"></a></li>
				<li class="item-no-children item-icon"><a class="i-facebook" href="https://www.facebook.com/wwwebify" target="blank"></a></li>
				<li class="item-no-children item-icon"><a class="i-twitter" href="https://twitter.com/wwwebify" target="blank"></a></li>
				<li class="item-no-children item-icon"><a class="i-youtube" href="https://www.youtube.com/user/wwwebify" target="blank"></a></li>
			</ul>
		</div>
	</div>
	<div class="search-slide-in-out">
		<div class="search-in-out-header">
			<div class="header">
				<a href="../../index.html" class="logo" title="Lilia Azur">
					<img src="../../images/lilia_azur_logo_white.svg"  alt="Lilia Azur"/>
				</a>
			</div>
			<div class="search-container">
				<div>
					<input class="search-slide-in-out-text" id="search_slide_in_out_text"  data-action="search.search_slide-in-out"/>
					<span class="search-slide-in-out-clear" id="search_slide_in_out_clear"><i class="i-clear" data-action="search.searchClear"></i></span>
					<span class="search-slide-in-out-search"><i class="i-search" data-action="search.searchSlideInOutSearch"></i></span>
				</div>
				<ul class="search-slide-in-out-dropdown hide" id="search_slide_in_out_dropdown" ></ul>
			</div>
		</div>
		<div class="search-results-slide-in-out" id="search_results_slide_in_out"></div>
	</div>
	<div class="main-footer">
	
	<div class="row"><div class="wrapper">
		<div  class="footer" id="footer">
			<div class="social-buttons">
				<ul class="menu">
					<li class="item-no-children item-icon"><a class="i-linkedin" href="https://www.linkedin.com/company/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-facebook" href="https://www.facebook.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-twitter" href="https://twitter.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-youtube" href="https://www.youtube.com/user/wwwebify" target="blank"></a></li>
				</ul>
			</div>
			<div class="secondary-buttons">
				<a class="secondary-button i-zoom-out" href="#" data-action="init.decreaseFontSize"></a>
				<a class="secondary-button i-zoom-in" href="#" data-action="init.increaseFontSize"></a>
				
			</div>
		</div>
	</div>
	</div>
	</div>
	<div class="buttons-slide-in-out">
		<div class="slide-in-out-search-toggle-button"><i class="i-search" data-action="search.slide_out"></i></div>
		<div class="slide-in-out-slide-out-button"><i class="i-slide-out" data-action="navigation.slide_out"></i></div>
	</div>
	<!-- javascripts -->
	<script src="../../javascripts/jquery.min.js"></script>
	<script src="../../slick/slick/slick.min.js"></script>
	<script src="../../javascripts/base.js"></script>
	<script src="../../javascripts/init.js"></script>
	<script src="../../javascripts/slick.js"></script>
	<script src="../../javascripts/navigation.js"></script>
	<script src="../../javascripts/rangy-core.js"></script>
	<script src="../../highlight/highlight.pack.js"></script>
	<script src="../../elevatezoom/jquery.elevatezoom.js"></script>
	<script src="../../unveil/jquery.unveil.js"></script>
	<script src="../../javascripts/search.js"></script>
	<!-- search dictionary -->
	<script src="../../javascripts/searchdata_en.js"></script>
</body>
</html>
