<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>15min</div>
		<div class="intro">Go vegan with chocolate mix with Avocado. It's super silky, smooth and velvety pudding. Simply delicious and healthy!</div>
		<div class="tags"><i class="i-tags"></i></div>
	</h1>
	<img class="right" src="../../images/chocolate avocado chia pudding.jpg" title="Chocolate avocado chia pudding" />
	<h2>Ingredients</h2><small> Serves 4</small></h2>
	<ul>
		<li>2 very ripe avocados</li>
		<li>⅓ cup / 4 oz / 113 gr raw organic honey (or maple syrup)</li>
		<li>⅓ cup / 1.4 oz / 40 gr cocoa powder</li> 
		<li>3 tablespoons extra virgin coconut oil (optional)</li>
		<li>1 teaspoon vanilla extract</li>
		<li>½ teaspoon chia seeds, ground</li>
	</ul>
	<h2>Preparations</h2>
	<p>Combine all ingredients in a blender and blend until smooth and silky. You might need to stop the blender
	and mix with a spoon to make the blending easier.</p> 
	<p>Divide pudding among ramekins/cups and refrigerate for at least 30 minutes before serving (this allows the chia to thicken).</p>  
	<p>Sprinkle with chopped almonds, walnuts, cocoa nibs or top with some whipped cream or Greek yogurt before serving.</p> 
	
	
</div>