<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>duration</div>
	</h1>
	<img class="right" src="../../images/chocolate rice crispy.jpg" title="Chocolate rice crispy.jpg" />
	<h2>Ingredients <small>(Makes 16 two-inch bars)</small></h2>
	<ul>
		<li>21/2 cup bittersweet chocolate chips (mine were 60% cacoa), melted</li>
		<li>3/4 cup almond butter (or nut/seed butter of choice)</li>
		<li>1/2 cup honey or maple syrup</li>
		<li>4 cups rice crispy cereal (preferably brown rice)</li>
	</ul>
	<h2>Preparations</h2>
	<p>Line an 8X8 inch pan with parchment paper. In a large bowl, mix together the melted chocolate, almond butter, and honey. 
	Stir in the cereal and mix well. Using a rubber spatula, press the mixture into the pan.  Press it down firmly. 
	Put the pan into the freezer for at least 20 minutes.  When the bars are firm, pull the parchment paper out 
	of the pan and cut into 16 squares.  
	Store in the refrigerator.  Enjoy!</p>
</div>