<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="{{keywords}}">
	<title>Chocolate rice crispy</title>
	<!--  Built with wwwebify : page href = {{hrefS}} -->
	<link rel="shortcut icon" type="image/x-icon" href="../../../../images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../../../../stylesheets/main.css" />
	<script>var linkref = "L28";</script>
</head>
<body class="preload">
	<div class="main-header">
		<div class="wrapper">
			<div class="row">
				<div class="sidebar top">
					<a href="../../../../index.html" class="logo" title="Lilia Azur">
						<img src="../../../../images/lilia_azur_logo_0088f_008400.svg"  alt="Lilia Azur"/>
					</a>
				</div>
				<div class="sidebar top-small">
					<a href="../../../../index.html" class="logo" title="Lilia Azur">
						<img src="../../../../images/lilia_azur_logo_white.svg"  alt="Lilia Azur"/>
					</a>
				</div>
				<div class="main top">
					<div>
						<div class="main-navigation">	
							<ul class="menu">
								<li class="item-no-children"><a href="../../../1_Contact/home.html" target="" >Contact</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../../../2_My webshop/home.html" target="" >My webshop</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../../home.html" target="" >My recipes</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../../../4__My photo's/home.html" target="" >My photo's</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../../../9_My blog/home.html" target="" >My blog</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../../../999_Sitemap/home.html" target="" >Sitemap</a><ul class="children"></ul></li>
							</ul>
							<div class="right search-container">
								<input class="search-main-text" id="search_main_text"  data-action="search.search_main"/>
								<span class="search-main-clear" id="search_main_clear"><i class="i-clear" data-action="search.searchClear"></i></span>
								<span class="search-main-search"><i class="i-search" data-action="search.searchMainSearch"></i></span>
								<ul class="search-main-dropdown hide" id="search_main_dropdown" ></ul>
							</div>								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-content">
	<div class="wrapper">
		<div class="row">
			<div class="search-results-main" id="search_results_main"></div>
		</div>
		<div class="row" >
			<div id="content">
				<div class="col-sub-nav" id="col_sub_nav">
					<ul class="sub-navigation">
						<li class="item-type-a not-active"><a href="../../home.html" target="" >My recipes</a></li><li class="item-type-a not-active"><a href="../home.html" target="" >Desserts</a></li><li class="item-type-b not-active"><a href="home.html" target="" >Sweet</a></li><li class="item-type-c not-active"><a href="Chocolate avocado chia pudding.html" target="" >Chocolate avocado chia pudding</a></li><li class="item-type-c is-active"><a href="Chocolate rice crispy.html" target="" >Chocolate rice crispy</a></li>
					</ul>
				</div>				
				<div class="col-content" id="col_content">
					<div class="content-content" id="contentContent">
						<div class="content-breadcrumb" id="contentBreadcrumb"><a href="../../home.html" class="breadcrumb-not-active">My recipes</a> / <a href="../home.html" class="breadcrumb-not-active">Desserts</a> / <a href="home.html" class="breadcrumb-not-active">Sweet</a> / <a href="Chocolate rice crispy.html" class="breadcrumb-is-active">Chocolate rice crispy</a></div>
						<div class="text-align-left"><div class="recipe">
	<h1>Chocolate rice crispy
		<div class="duration"><i class="i-stopwatch"></i>duration</div>
	</h1>
	<img class="right" src="../../images/chocolate rice crispy.jpg" title="Chocolate rice crispy.jpg" />
	<h2>Ingredients <small>(Makes 16 two-inch bars)</small></h2>
	<ul>
		<li>21/2 cup bittersweet chocolate chips (mine were 60% cacoa), melted</li>
		<li>3/4 cup almond butter (or nut/seed butter of choice)</li>
		<li>1/2 cup honey or maple syrup</li>
		<li>4 cups rice crispy cereal (preferably brown rice)</li>
	</ul>
	<h2>Preparations</h2>
	<p>Line an 8X8 inch pan with parchment paper. In a large bowl, mix together the melted chocolate, almond butter, and honey. 
	Stir in the cereal and mix well. Using a rubber spatula, press the mixture into the pan.  Press it down firmly. 
	Put the pan into the freezer for at least 20 minutes.  When the bars are firm, pull the parchment paper out 
	of the pan and cut into 16 squares.  
	Store in the refrigerator.  Enjoy!</p>
</div></div>
						<div class="previous-next">
							<div class="content-previous" id="contentPreviuos"><a id="previous" class="previous" href="Chocolate avocado chia pudding.html">Chocolate avocado chia pudding</a>	</div>
							<div class="content-next" id="contentNext"><a class="next" id="next" href="../Carrot cake.html">Carrot cake</a>	</div>
						</div>
						<div class="content-related" id="contentRelated"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="navigation-slide-in-out">
		<div class="header">
			<a href="../../../../index.html" class="logo" title="Lilia Azur">
				<img src="../../../../images/lilia_azur_logo_white.svg"  alt="Lilia Azur"/>
			</a>
		</div>
		<div class="main">	
			<ul class="menu">
				<li class="item-type-a not-active has-children">
					<a href="../../../home.html#menu" target=""><i class="i-menu"></i></a><a href="../../../home.html" target="">Home</a>
				</li>
				<li class="item-type-a not-active has-menu"><a class="i-menu" href="../../home.html#menu" target="" ></a><a href="../../home.html" target="" >My recipes</a></li>		<li class="item-type-a not-active has-menu"><a class="i-menu" href="../home.html#menu" target="" ></a><a href="../home.html" target="" >Desserts</a></li>		<li class="item-type-b not-active has-menu"><a class="i-menu" href="home.html#menu" target="" ></a><a href="home.html" target="" >Sweet</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="Chocolate avocado chia pudding.html#menu" target="" ></a><a href="Chocolate avocado chia pudding.html" target="" >Chocolate avocado chia pudding</a></li>		<li class="item-type-c is-active no-menu"><a class="i-menu" href="Chocolate rice crispy.html#menu" target="" ></a><a href="Chocolate rice crispy.html" target="" >Chocolate rice crispy</a></li>		
			</ul>
		</div>
		<div class="footer">
			<ul class="menu">
					<li class="item-no-children item-icon"><a class="i-linkedin" href="https://www.linkedin.com/company/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-facebook" href="https://www.facebook.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-twitter" href="https://twitter.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-youtube" href="https://www.youtube.com/user/wwwebify" target="blank"></a></li>
				</ul>
		</div>
	</div>
	<div class="search-slide-in-out">
		<div class="search-in-out-header">
			<div class="header">
				<a href="../../../../index.html" class="logo" title="Lilia Azur">
					<img src="../../../../images/lilia_azur_logo_white.svg"  alt="Lilia Azur"/>
				</a>
			</div>
			<div class="search-container">
				<div>
					<input class="search-slide-in-out-text" id="search_slide_in_out_text"  data-action="search.search_slide-in-out"/>
					<span class="search-slide-in-out-clear" id="search_slide_in_out_clear"><i class="i-clear" data-action="search.searchClear"></i></span>
					<span class="search-slide-in-out-search"><i class="i-search" data-action="search.searchSlideInOutSearch"></i></span>
				</div>
				<ul class="search-slide-in-out-dropdown hide" id="search_slide_in_out_dropdown" ></ul>
			</div>
		</div>
		<div class="search-results-slide-in-out" id="search_results_slide_in_out"></div>
	</div>
	<div class="main-footer">
	<div class="wrapper">
	<div class="row">
		<div  class="footer" id="footer">
			<div class="social-buttons">
				<ul class="menu">
					<li class="item-no-children item-icon"><a class="i-linkedin" href="https://www.linkedin.com/company/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-facebook" href="https://www.facebook.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-twitter" href="https://twitter.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-youtube" href="https://www.youtube.com/user/wwwebify" target="blank"></a></li>
				</ul>
			</div>
			<div class="secondary-buttons">
				<a class="secondary-button i-zoom-out" href="#" data-action="init.decreaseFontSize"></a>
				<a class="secondary-button i-zoom-in" href="#" data-action="init.increaseFontSize"></a>
			</div>
		</div>
	</div>
	</div>
	</div>
	<div class="buttons-slide-in-out">
		<div class="slide-in-out-search-toggle-button"><i class="i-search" data-action="search.slide_out"></i></div>
		<div class="slide-in-out-slide-out-button"><i class="i-slide-out" data-action="navigation.slide_out"></i></div>
	</div>
	<!-- javascripts -->
	<script src="../../../../javascripts/jquery.min.js"></script>
	<script src="../../../../slick/slick/slick.min.js"></script>
	<script src="../../../../javascripts/base.js"></script>
	<script src="../../../../javascripts/init.js"></script>
	<script src="../../../../javascripts/slick.js"></script>
	<script src="../../../../javascripts/navigation.js"></script>
	<script src="../../../../javascripts/rangy-core.js"></script>
	<script src="../../../../highlight/highlight.pack.js"></script>
	<script src="../../../../elevatezoom/jquery.elevatezoom.js"></script>
	<script src="../../../../unveil/jquery.unveil.js"></script>
	<script src="../../../../javascripts/search.js"></script>
	<!-- search dictionary -->
	<script src="../../../../javascripts/searchdata_en.js"></script>
</body>
</html>
