@font-face {
    font-family: 'wwwebify';
    src:    url('fonts/wwwebify.eot?n5w8jl');
    src:    url('fonts/wwwebify.eot?n5w8jl#iefix') format('embedded-opentype'),
        url('fonts/wwwebify.ttf?n5w8jl') format('truetype'),
        url('fonts/wwwebify.woff?n5w8jl') format('woff'),
        url('fonts/wwwebify.svg?n5w8jl#wwwebify') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="i-"], [class*=" i-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'wwwebify' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-close3:before {
    content: "\e054";
}
.i-redirect:before {
    content: "\e087";
}
.i-image:before {
    content: "\e0e6";
}
.i-slide:before {
    content: "\e0f0";
}
.i-openmenu:before {
    content: "\e600";
}
.i-closemenu:before {
    content: "\e601";
}
.i-more2:before {
    content: "\e602";
}
.i-more:before {
    content: "\e603";
}
.i-active:before {
    content: "\e604";
}
.i-next:before {
    content: "\e605";
}
.i-previous:before {
    content: "\e606";
}
.i-rlist:before {
    content: "\e607";
}
.i-list:before {
    content: "\e608";
}
.i-wwwebify:before {
    content: "\e609";
}
.i-save:before {
    content: "\e60a";
}
.i-images:before {
    content: "\e60b";
}
.i-pagepartfolder:before {
    content: "\e60c";
}
.i-contentpart:before {
    content: "\e60d";
}
.i-pagepart:before {
    content: "\e60e";
}
.i-log:before {
    content: "\e60f";
}
.i-contentpartfolder:before {
    content: "\e610";
}
.i-menu:before {
    content: "\e900";
}
.i-zoom-out:before {
    content: "\e901";
}
.i-zoom-in:before {
    content: "\e902";
}
.i-close4:before {
    content: "\e903";
}
.i-close5:before {
    content: "\e904";
}
.i-slide-in:before {
    content: "\e905";
}
.i-forward:before {
    content: "\e906";
}
.i-back:before {
    content: "\e907";
}
.i-search:before {
    content: "\e908";
}
.i-search-cancel:before {
    content: "\e909";
}
.i-clear:before {
    content: "\e90a";
}
.i-audio:before {
    content: "\f001";
}
.i-medium:before {
    content: "\f009";
}
.i-small:before {
    content: "\f00a";
}
.i-index:before {
    content: "\f00b";
}
.i-check:before {
    content: "\f00c";
}
.i-uncheck:before {
    content: "\f00d";
}
.i-home:before {
    content: "\f015";
}
.i-file2:before {
    content: "\f016";
}
.i-refresh:before {
    content: "\f021";
}
.i-fields:before {
    content: "\f022";
}
.i-lock:before {
    content: "\f023";
}
.i-tag:before {
    content: "\f02b";
}
.i-tags:before {
    content: "\f02c";
}
.i-video:before {
    content: "\f03d";
}
.i-image2:before {
    content: "\f03e";
}
.i-edit:before {
    content: "\f040";
}
.i-edit2:before {
    content: "\f044";
}
.i-move:before {
    content: "\f047";
}
.i-close2:before {
    content: "\f057";
}
.i-larger:before {
    content: "\f065";
}
.i-smaller:before {
    content: "\f066";
}
.i-view:before {
    content: "\f06e";
}
.i-stopview:before {
    content: "\f070";
}
.i-convert:before {
    content: "\f079";
}
.i-folder2:before {
    content: "\f07b";
}
.i-folder2-open:before {
    content: "\f07c";
}
.i-fixedheight:before {
    content: "\f07d";
}
.i-fixedwidth:before {
    content: "\f07e";
}
.i-statistics:before {
    content: "\f080";
}
.i-twitter:before {
    content: "\f081";
}
.i-facebook:before {
    content: "\f082";
}
.i-build:before {
    content: "\f085";
}
.i-linkedin:before {
    content: "\f08c";
}
.i-pin:before {
    content: "\f08d";
}
.i-import:before {
    content: "\f090";
}
.i-phone:before {
    content: "\f098";
}
.i-unlock:before {
    content: "\f09c";
}
.i-project:before {
    content: "\f0ac";
}
.i-tools:before {
    content: "\f0ad";
}
.i-fullscreen:before {
    content: "\f0b2";
}
.i-link:before {
    content: "\f0c1";
}
.i-copy:before {
    content: "\f0c5";
}
.i-include:before {
    content: "\f0c6";
}
.i-save2:before {
    content: "\f0c7";
}
.i-large:before {
    content: "\f0c8";
}
.i-slide-out:before {
    content: "\f0c9";
}
.i-extra:before {
    content: "\f0d0";
}
.i-pininterest:before {
    content: "\f0d3";
}
.i-googleplus:before {
    content: "\f0d4";
}
.i-close:before {
    content: "\f0d8";
}
.i-openright:before {
    content: "\f0d9";
}
.i-openleft:before {
    content: "\f0da";
}
.i-sort:before {
    content: "\f0dc";
}
.i-down:before {
    content: "\f0dd";
}
.i-up:before {
    content: "\f0de";
}
.i-mail:before {
    content: "\f0e0";
}
.i-tree:before {
    content: "\f0e8";
}
.i-file:before {
    content: "\f0f6";
}
.i-add:before {
    content: "\f0fe";
}
.i-folder:before {
    content: "\f114";
}
.i-folder-open:before {
    content: "\f115";
}
.i-template:before {
    content: "\f121";
}
.i-help:before {
    content: "\f128";
}
.i-info:before {
    content: "\f129";
}
.i-attention:before {
    content: "\f12a";
}
.i-rss:before {
    content: "\f143";
}
.i-file3:before {
    content: "\f15b";
}
.i-content:before {
    content: "\f15c";
}
.i-youtube:before {
    content: "\f167";
}
.i-data:before {
    content: "\f1c0";
}
.i-pdf:before {
    content: "\f1c1";
}
.i-word:before {
    content: "\f1c2";
}
.i-excel:before {
    content: "\f1c3";
}
.i-powerpoint:before {
    content: "\f1c4";
}
.i-image3:before {
    content: "\f1c5";
}
.i-css:before {
    content: "\f1c6";
}
.i-audio2:before {
    content: "\f1c7";
}
.i-video2:before {
    content: "\f1c8";
}
.i-template2:before {
    content: "\f1c9";
}
.i-settings:before {
    content: "\f1de";
}
.i-visa:before {
    content: "\f1f0";
}
.i-mastercard:before {
    content: "\f1f1";
}
.i-americanexpres:before {
    content: "\f1f3";
}
.i-paypal:before {
    content: "\f1f4";
}
.i-stripe:before {
    content: "\f1f5";
}
.i-delete:before {
    content: "\f1f8";
}
.i-stopwatch:before {
    content: "\e90b";
}

