<div class="product">
	<h1>{{name}}
		{{tmp-price}}
		{{tmp-itemNr}}
		{{tmp-intro}}
		{{tmp-tags}}
	</h1>
	{{tmp-picture1}}
	{{text}}
	<div class="gallery">
		<ul>{{tmp-picture2}} {{tmp-picture3}} {{tmp-picture4}} {{tmp-picture5}}	{{tmp-picture6}}
		{{tmp-picture7}} {{tmp-picture8}} {{tmp-picture9}} {{tmp-picture10}} {{tmp-picture11}}
		</ul>
	</div>
	<div class="left">
	{{extratext}}
	{{feedback}}
	</div>
</div>