<h1>Welcome</h1>
{{teaser}}
<p>This website is built with <a href="www.wwwebify.com" target="_blank">wwwebify</a> and serves mainly as a demo website.</p>
<p>Here we showcase the different usability features that are available out-of-the-box via the wwwebify building tool.</p>
<ul>
	<li>responsive design (suitable for smartphones and tablets)</li>
	<li>full text search</li>
	<li>lightning fast</li>
	<li>slideshow support</li>
	<li>teaser support</li>
	<li>lazy loading of images</li>
	<li>scalable</li>
</ul>
<p>Wwwebify is a very flexible and easy to use website building tool. Since it is purely file based, there is no requirement for complex software like webservers or databases. You can work on your own computer and you have full control on your own content.</p>
