<p><img src="../images/we.jpg" class="rightverysmall">Hi, my name is Lilia and I live in Belgium with my husband Dirk.</p>

<p>My webshop showcases a selection of local and handmade products from the Philippines, with South Sea pearls, and imported jewelries and accessories.  
 
I plan to add more items in the near future, so be sure to visit me now and then.</p>
For more information, feel free to send me an email.<br/>
<br/>
<img class="signature" src="../../images/lilia_azur_black.svg">
<p><a href="mailto:lilia_azur65@yahoo.com" style="text-decoration:none"><small>lilia_azur65@yahoo.com</small></a></p>
<p><a href="www.wwwebify.com"  style="text-decoration:none"><small>This website is built with wwwebify</small></a></p>