<!DOCTYPE html>
<html lang=elevatezoom>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="{{keywords}}">
	<title>elevatezoom</title>
	<!--  Built with wwwebify : page href = {{hrefS}} -->
	<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
	<link rel="stylesheet" type="text/css" href="../icons/style.css" />
	<link rel="stylesheet" type="text/css" href="../highlight/styles/default.css" />
	<link rel="stylesheet" type="text/css" href="../slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="../slick/slick-theme.css"/>
</head>
<body>
	<div class="main-header">
		<div class="wrapper">
			<div class="row">
				<div class="sidebar top">
					<a href="../index.html" class="logo" title="Lilia Azur">
						<img src="../images/logo.svg"  alt="Lilia Azur"/>
						<span class="name">Lilia Azur</span>
					</a>
				</div>
				<div class="sidebar top-small">
					<a href="../index.html" class="logo" title="Lilia Azur">
						<img src="../images/logo-white.svg"  alt="Lilia Azur"/>
						<span>Lilia Azur</span>
					</a>
				</div>
				<div class="main top">
					<div>
						<div class="main-navigation">	
							<ul class="menu">
								<li class="item-no-children"><a href="elevatezoom.jquery.json" target="" >elevatezoom.jquery</a><ul class="children"></ul></li><li class="item-no-children"><a href="jquery-1.8.3.min.js" target="" >jquery-1.8.3.min</a><ul class="children"></ul></li><li class="item-no-children"><a href="jquery.elevateZoom-3.0.8.min.js" target="" >jquery.elevateZoom-3.0.8.min</a><ul class="children"></ul></li><li class="item-no-children"><a href="jquery.elevatezoom.js" target="" >jquery.elevatezoom</a><ul class="children"></ul></li><li class="item-no-children"><a href="README.md" target="" >README</a><ul class="children"></ul></li>
							</ul>
							<div class="right search-container">
								<input class="search-main-text" id="search_main_text"  data-action="search.search_main"/>
								<span class="search-main-clear" id="search_main_clear"><i class="i-clear" data-action="search.searchClear"></i></span>
								<span class="search-main-search"><i class="i-search" data-action="search.searchMainSearch"></i></span>
								<ul class="search-main-dropdown hide" id="search_main_dropdown" ></ul>
							</div>								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-content">
	<div class="wrapper">
		<div class="row">
			<div class="content-full-width" id="content">
				<div class="content-content" id="contentContent">
					<div class="content-title" id="contentTitle"></div>
					<h1>elevatezoom</h1>
<ul class="homepage-list"><li class="item-full-width">
	<a href="elevatezoom.jquery.json">elevatezoom.jquery</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li class="item-full-width">
	<a href="jquery-1.8.3.min.js">jquery-1.8.3.min</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li class="item-full-width">
	<a href="jquery.elevateZoom-3.0.8.min.js">jquery.elevateZoom-3.0.8.min</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li class="item-full-width">
	<a href="jquery.elevatezoom.js">jquery.elevatezoom</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li class="item-full-width">
	<a href="README.md">README</a>
	<div class="intro"></div>
	<ul></ul>
</li>

</ul>


					<div class="previous-next">
						<div class="content-previous" id="contentPreviuos"></div>
						<div class="content-next" id="contentNext"><a class="next" id="next" href="elevatezoom.jquery.json">elevatezoom.jquery</a>	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="navigation-slide-in-out">
		<div class="header">
			<a href="../index.html" class="logo" title="Lilia Azur">
				<img src="../images/logo-white.svg"  alt="Lilia Azur"/>
				<span>Lilia Azur</span>
			</a>
		</div>
		<div class="main">	
			<ul class="menu">
				<li class="item-type-a not-active has-children">
					<a href="home.html#menu" target=""><i class="i-menu"></i></a><a href="home.html" target="">Home</a>
				</li>
				<li class="item-type-c not-active no-menu"><a class="i-menu" href="elevatezoom.jquery.json#menu" target="" ></a><a href="elevatezoom.jquery.json" target="" >elevatezoom.jquery</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="jquery-1.8.3.min.js#menu" target="" ></a><a href="jquery-1.8.3.min.js" target="" >jquery-1.8.3.min</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="jquery.elevateZoom-3.0.8.min.js#menu" target="" ></a><a href="jquery.elevateZoom-3.0.8.min.js" target="" >jquery.elevateZoom-3.0.8.min</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="jquery.elevatezoom.js#menu" target="" ></a><a href="jquery.elevatezoom.js" target="" >jquery.elevatezoom</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="README.md#menu" target="" ></a><a href="README.md" target="" >README</a></li>		
			</ul>
		</div>
		<div class="footer">
			<ul class="menu">
				<li class="item-no-children item-icon"><a class="i-linkedin" href="https://www.linkedin.com/company/wwwebify" target="blank"></a></li>
				<li class="item-no-children item-icon"><a class="i-facebook" href="https://www.facebook.com/wwwebify" target="blank"></a></li>
				<li class="item-no-children item-icon"><a class="i-twitter" href="https://twitter.com/wwwebify" target="blank"></a></li>
				<li class="item-no-children item-icon"><a class="i-youtube" href="https://www.youtube.com/user/wwwebify" target="blank"></a></li>
			</ul>
		</div>
	</div>
	<div class="search-slide-in-out">
		<div class="search-in-out-header">
			<div class="header">
				<a href="../index.html" class="logo" title="Lilia Azur">
					<img src="../images/logo-white.svg"  alt="Lilia Azur"/>
					<span>Lilia Azur</span>
				</a>
			</div>
			<div class="search-container">
				<div>
					<input class="search-slide-in-out-text" id="search_slide_in_out_text"  data-action="search.search_slide-in-out"/>
					<span class="search-slide-in-out-clear" id="search_slide_in_out_clear"><i class="i-clear" data-action="search.searchClear"></i></span>
					<span class="search-slide-in-out-search"><i class="i-search" data-action="search.searchSlideInOutSearch"></i></span>
				</div>
				<ul class="search-slide-in-out-dropdown hide" id="search_slide_in_out_dropdown" ></ul>
			</div>
		</div>
		<div class="search-results-slide-in-out" id="search_results_slide_in_out"></div>
	</div>
	<div class="main-footer">
	
	<div class="row"><div class="wrapper">
		<div  class="footer" id="footer">
			<div class="social-buttons">
				<ul class="menu">
					<li class="item-no-children item-icon"><a class="i-linkedin" href="https://www.linkedin.com/company/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-facebook" href="https://www.facebook.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-twitter" href="https://twitter.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-youtube" href="https://www.youtube.com/user/wwwebify" target="blank"></a></li>
				</ul>
			</div>
			<div class="secondary-buttons">
				<a class="secondary-button i-zoom-out" href="#" data-action="init.decreaseFontSize"></a>
				<a class="secondary-button i-zoom-in" href="#" data-action="init.increaseFontSize"></a>
				
			</div>
		</div>
	</div>
	</div>
	</div>
	<div class="buttons-slide-in-out">
		<div class="slide-in-out-search-toggle-button"><i class="i-search" data-action="search.slide_out"></i></div>
		<div class="slide-in-out-slide-out-button"><i class="i-slide-out" data-action="navigation.slide_out"></i></div>
	</div>
	<!-- vendor libs -->
	<script src="../javascripts/jquery.min.js"></script>
	<script src="../javascripts/rangy-core.js"></script>
	<script src="../highlight/highlight.pack.js"></script>
	<script src="../elevatezoom/jquery.elevatezoom.js"></script>
	<script src="../slick/slick.min.js"></script>
	<!-- custom javascripts -->
	<script src="../javascripts/base.js"></script>
	<script src="../javascripts/init.js"></script>	
	<script src="../javascripts/navigation.js"></script>
	<script src="../javascripts/search.js"></script>
	<script src="../javascripts/slick.js"></script>
	<!-- search dictionary -->
	<script src="../javascripts/searchdata_elevatezoom.js"></script>
	
</body>
</html>
