@charset "UTF-8";
/* line 238, ../sass/base/_1-colors.scss */
.button {
  background-color: white;
}
/* line 240, ../sass/base/_1-colors.scss */
.button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 243, ../sass/base/_1-colors.scss */
.button.secondary {
  background-color: white;
}
/* line 245, ../sass/base/_1-colors.scss */
.button.secondary:hover {
  background-color: white;
}
/* line 249, ../sass/base/_1-colors.scss */
.button.transparant {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 3, ../sass/base/_2-base.scss */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* line 54, ../sass/base/_2-base.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'ArialNarrow';
  src: url("../fonts/Arial-Narrow/arial-narrow.ttf");
}
/* line 68, ../sass/base/_2-base.scss */
body {
  font-family: Arial, sans-serif;
  color: #333333;
  font-size: 1.13rem;
  line-height: 1.55rem;
  margin: 0 auto;
}

/* line 75, ../sass/base/_2-base.scss */
h1 {
  font-family: ArialNarrow, sans-serif;
  font-size: 2.3125rem;
  font-weight: 100;
  color: #949494;
  line-height: 2.625rem;
  margin-top: 2.625rem;
  margin-bottom: 1.3125rem;
}
/* line 83, ../sass/base/_2-base.scss */
h1:first-of-type {
  margin-top: 0rem;
}
/* line 86, ../sass/base/_2-base.scss */
h1 small {
  color: #666;
}

/* line 90, ../sass/base/_2-base.scss */
h2 {
  font-family: ArialNarrow, sans-serif;
  font-size: 1.75rem;
  font-weight: 100;
  color: #949494;
  line-height: 2.625rem;
  margin-top: 1.96875rem;
  margin-bottom: 1.3125rem;
}
/* line 98, ../sass/base/_2-base.scss */
h2:first-child {
  margin-top: 0rem;
}

/* line 102, ../sass/base/_2-base.scss */
h3 {
  font-size: 1.3125rem;
  font-weight: 100;
  color: #848484;
  line-height: 1.3125rem;
  margin-top: 1.3125rem;
  margin-bottom: 1.3125rem;
}
/* line 109, ../sass/base/_2-base.scss */
h3:first-child {
  margin-top: 0rem;
}

/* line 113, ../sass/base/_2-base.scss */
h4 {
  font-size: 1rem;
  color: #747474;
  line-height: 1.3125rem;
  margin-top: 1.3125rem;
  margin-bottom: 1.3125rem;
}
/* line 119, ../sass/base/_2-base.scss */
h4:first-child {
  margin-top: 0rem;
}

/* line 123, ../sass/base/_2-base.scss */
p, ul, ol, pre, table, blockquote {
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

/* line 127, ../sass/base/_2-base.scss */
a {
  color: #888888;
}
/* line 129, ../sass/base/_2-base.scss */
a:hover {
  color: #005cad;
}

/* line 133, ../sass/base/_2-base.scss */
em {
  background: rgba(136, 136, 136, 0.2);
  border-radius: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  text-shadow: 0px 1px 0px white;
}

/* Sanitation ??? to check ??? */
/* line 141, ../sass/base/_2-base.scss */
hr {
  border: 1px solid;
  margin: -1px 0;
}

/* line 145, ../sass/base/_2-base.scss */
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 152, ../sass/base/_2-base.scss */
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

/* line 157, ../sass/base/_2-base.scss */
sub {
  top: 0.4em;
}

/* line 3, ../sass/base/_3-icons.scss */
.i-next {
  color: #0b508e;
  margin-left: 0.3rem;
  font-size: 0.9rem;
}

/* line 8, ../sass/base/_3-icons.scss */
.i-previous {
  color: #0b508e;
  margin-right: 0.3rem;
  font-size: 0.9rem;
}

/* line 13, ../sass/base/_3-icons.scss */
.i-zoom-in, .i-zoom-out {
  font-size: 1rem;
}
/* line 15, ../sass/base/_3-icons.scss */
.i-zoom-in:before, .i-zoom-out:before {
  vertical-align: bottom;
}

/* line 54, ../sass/base/_4-responsive.scss */
.wrapper {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
/* line 22, ../sass/base/_4-responsive.scss */
.wrapper:before, .wrapper:after {
  content: '';
  display: table;
}
/* line 26, ../sass/base/_4-responsive.scss */
.wrapper:after {
  clear: both;
}

/* line 57, ../sass/base/_4-responsive.scss */
.row {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 22, ../sass/base/_4-responsive.scss */
.row:before, .row:after {
  content: '';
  display: table;
}
/* line 26, ../sass/base/_4-responsive.scss */
.row:after {
  clear: both;
}

/* line 61, ../sass/base/_4-responsive.scss */
.content-full-width {
  float: left;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* line 64, ../sass/base/_4-responsive.scss */
.main {
  float: left;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media only screen and (min-width: 75rem) {
  /* line 64, ../sass/base/_4-responsive.scss */
  .main {
    float: left;
    width: 75%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* line 70, ../sass/base/_4-responsive.scss */
.sidebar {
  float: left;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media only screen and (min-width: 75rem) {
  /* line 70, ../sass/base/_4-responsive.scss */
  .sidebar {
    float: left;
    width: 25%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* line 76, ../sass/base/_4-responsive.scss */
.column {
  float: left;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media only screen and (min-width: 75rem) {
  /* line 76, ../sass/base/_4-responsive.scss */
  .column {
    float: left;
    width: 25%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* line 4, ../sass/components/_1-base.scss */
.buttons-slide-in-out {
  display: block;
  z-index: 100000;
  position: fixed;
  top: 0px;
  width: 100%;
  background: rgba(0, 136, 255, 0.4);
}
@media only screen and (min-width: 75rem) {
  /* line 4, ../sass/components/_1-base.scss */
  .buttons-slide-in-out {
    display: none;
  }
}
/* line 14, ../sass/components/_1-base.scss */
.buttons-slide-in-out .slide-in-out-search-toggle-button, .buttons-slide-in-out .slide-in-out-slide-out-button {
  position: fixed;
  top: 0.8rem;
  width: 20px;
  height: 20px;
}
/* line 19, ../sass/components/_1-base.scss */
.buttons-slide-in-out .slide-in-out-search-toggle-button .i-slide-out, .buttons-slide-in-out .slide-in-out-search-toggle-button .i-slide-in, .buttons-slide-in-out .slide-in-out-search-toggle-button .i-search, .buttons-slide-in-out .slide-in-out-search-toggle-button .i-search-cancel, .buttons-slide-in-out .slide-in-out-slide-out-button .i-slide-out, .buttons-slide-in-out .slide-in-out-slide-out-button .i-slide-in, .buttons-slide-in-out .slide-in-out-slide-out-button .i-search, .buttons-slide-in-out .slide-in-out-slide-out-button .i-search-cancel {
  padding: 6px;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 0px rgba(0, 136, 255, 0.4);
}
/* line 24, ../sass/components/_1-base.scss */
.buttons-slide-in-out .slide-in-out-search-toggle-button .i-slide-out:hover, .buttons-slide-in-out .slide-in-out-search-toggle-button .i-slide-in:hover, .buttons-slide-in-out .slide-in-out-search-toggle-button .i-search:hover, .buttons-slide-in-out .slide-in-out-search-toggle-button .i-search-cancel:hover, .buttons-slide-in-out .slide-in-out-slide-out-button .i-slide-out:hover, .buttons-slide-in-out .slide-in-out-slide-out-button .i-slide-in:hover, .buttons-slide-in-out .slide-in-out-slide-out-button .i-search:hover, .buttons-slide-in-out .slide-in-out-slide-out-button .i-search-cancel:hover {
  color: white;
}
/* line 29, ../sass/components/_1-base.scss */
.buttons-slide-in-out .slide-in-out-search-toggle-button {
  right: 4.5rem;
}
/* line 32, ../sass/components/_1-base.scss */
.buttons-slide-in-out .slide-in-out-slide-out-button {
  right: 2rem;
}

/* line 36, ../sass/components/_1-base.scss */
.search-slide-in-out-container {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0px;
  width: 100%;
  background: rgba(170, 170, 170, 0.9);
}

/* line 46, ../sass/components/_1-base.scss */
.text-align-left {
  text-align: left;
}

/* line 50, ../sass/components/_1-base.scss */
.content-breadcrumb {
  display: block;
}
@media only screen and (min-width: 75rem) {
  /* line 50, ../sass/components/_1-base.scss */
  .content-breadcrumb {
    display: none;
  }
}

/* line 3, ../sass/components/_2-main-header.scss */
.sidebar.top-small {
  display: block;
  height: 3rem;
  background: #0088ff;
}
@media only screen and (min-width: 75rem) {
  /* line 3, ../sass/components/_2-main-header.scss */
  .sidebar.top-small {
    display: none;
  }
}
/* line 10, ../sass/components/_2-main-header.scss */
.sidebar.top-small a.logo {
  text-decoration: none;
  display: block;
  vertical-align: middle;
  text-align: left;
}
@media only screen and (min-width: 75rem) {
  /* line 10, ../sass/components/_2-main-header.scss */
  .sidebar.top-small a.logo {
    text-align: center;
  }
}
/* line 20, ../sass/components/_2-main-header.scss */
.sidebar.top-small a > img {
  height: 2rem;
  vertical-align: middle;
  margin: 0.4rem 0.8rem 0 0;
}
/* line 25, ../sass/components/_2-main-header.scss */
.sidebar.top-small a > span {
  font-size: 1.5rem;
  line-height: 3rem;
  color: white;
  vertical-align: middle;
}

/* line 32, ../sass/components/_2-main-header.scss */
.sidebar.top {
  display: none;
  height: 5rem;
  background: white;
}
@media only screen and (min-width: 75rem) {
  /* line 32, ../sass/components/_2-main-header.scss */
  .sidebar.top {
    display: block;
  }
}
/* line 39, ../sass/components/_2-main-header.scss */
.sidebar.top a.logo {
  padding: 1rem;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  text-align: left;
  padding-left: 0.5rem;
}
@media only screen and (min-width: 75rem) {
  /* line 39, ../sass/components/_2-main-header.scss */
  .sidebar.top a.logo {
    text-align: center;
  }
}
/* line 50, ../sass/components/_2-main-header.scss */
.sidebar.top a > img {
  height: 3.5rem;
  vertical-align: middle;
  margin-top: 0.3rem;
}
/* line 55, ../sass/components/_2-main-header.scss */
.sidebar.top a > span {
  font-size: 2.3rem;
  line-height: 4rem;
  color: #888888;
  vertical-align: middle;
}

/* line 62, ../sass/components/_2-main-header.scss */
.main.top {
  display: none;
}
@media only screen and (min-width: 75rem) {
  /* line 62, ../sass/components/_2-main-header.scss */
  .main.top {
    display: block;
  }
}
/* line 67, ../sass/components/_2-main-header.scss */
.main.top > div {
  height: 5rem;
  position: relative;
}
/* line 71, ../sass/components/_2-main-header.scss */
.main.top > div div {
  color: #555555;
  border-radius: 0.4rem;
  height: 2.6rem;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 2.9rem;
  margin-top: -1.3rem;
}
/* line 74, ../sass/components/_2-main-header.scss */
.main.top > div div:hover {
  color: #333333;
}
/* line 86, ../sass/components/_2-main-header.scss */
.main.top .main-navigation {
  z-index: 1002;
  top: 1.65rem;
  margin-top: 0;
}
/* line 91, ../sass/components/_2-main-header.scss */
.main.top .main-navigation .menu {
  position: relative;
  list-style: none;
  display: inline;
}
/* line 95, ../sass/components/_2-main-header.scss */
.main.top .main-navigation .menu li {
  line-height: 1.7rem;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  margin-top: 0.2rem;
  padding: 0.3rem 1rem 0.2rem 1rem;
}
/* line 103, ../sass/components/_2-main-header.scss */
.main.top .main-navigation .menu li.item-has-children {
  padding-right: 1.5rem;
}
/* line 105, ../sass/components/_2-main-header.scss */
.main.top .main-navigation .menu li.item-has-children > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  visibility: hidden;
  transition: top 0.4s ease;
  position: absolute;
  top: 0%;
  left: 0;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-right: 0.5rem;
}
/* line 119, ../sass/components/_2-main-header.scss */
.main.top .main-navigation .menu li.item-has-children > ul li {
  line-height: 1.4rem;
  margin: 0.7rem 0.8rem 0.8rem 0.8rem;
  box-shadow: 0px 0.15px 0px 0px rgba(255, 255, 255, 0.75);
  display: list-item;
}
/* line 124, ../sass/components/_2-main-header.scss */
.main.top .main-navigation .menu li.item-has-children > ul li:last-child {
  padding-bottom: 0.3rem;
  box-shadow: none;
}
/* line 130, ../sass/components/_2-main-header.scss */
.main.top .main-navigation .menu li.item-has-children:hover {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
/* line 134, ../sass/components/_2-main-header.scss */
.main.top .main-navigation .menu li.item-has-children:hover > ul {
  visibility: visible;
  top: 100%;
}
/* line 139, ../sass/components/_2-main-header.scss */
.main.top .main-navigation .menu li.item-has-children:after {
  content: "";
  border: 0.3125rem solid transparent;
  border-top: 0.375rem solid #fff;
  opacity: .5;
  height: 0;
  width: 0;
  display: inline-block;
  position: absolute;
  top: 45%;
  right: 0.5rem;
}
/* line 152, ../sass/components/_2-main-header.scss */
.main.top .main-navigation .menu li a {
  color: #555555;
  white-space: nowrap;
  display: block;
  text-decoration: none !important;
}
/* line 158, ../sass/components/_2-main-header.scss */
.main.top .main-navigation .menu li a:hover {
  color: #005cad;
}
/* line 163, ../sass/components/_2-main-header.scss */
.main.top .main-navigation .menu > li.item-no-children:hover {
  border-radius: 0.5rem;
}
/* line 168, ../sass/components/_2-main-header.scss */
.main.top .search-container {
  float: right;
  position: relative;
  top: 0.875rem;
  height: 2rem;
  background: none;
  width: 20rem;
}
/* line 175, ../sass/components/_2-main-header.scss */
.main.top .search-container .search-main-text {
  color: black;
  border: 1px solid #dddddd;
  background: white;
  border-radius: 0.2rem;
  width: 90%;
  height: 1.7rem;
  font-size: 1.1rem;
  padding: 0.2rem 4rem 0.1rem 1rem;
}
/* line 185, ../sass/components/_2-main-header.scss */
.main.top .search-container .search-main-clear {
  visibility: hidden;
}
/* line 187, ../sass/components/_2-main-header.scss */
.main.top .search-container .search-main-clear .i-clear {
  color: rgba(85, 85, 85, 0.6);
  position: absolute;
  width: 2rem;
  text-align: center;
  right: 3.8rem;
  font-size: 1rem;
  padding: 0.3125rem;
  visibility: hidden;
}
/* line 196, ../sass/components/_2-main-header.scss */
.main.top .search-container .search-main-clear .i-clear:hover {
  color: black;
}
/* line 202, ../sass/components/_2-main-header.scss */
.main.top .search-container .search-main-search .i-search {
  color: #555555;
  position: absolute;
  width: 2rem;
  text-align: center;
  right: 2.2rem;
  font-size: 1rem;
  padding: 0.2rem 0.4rem 0.3rem 0.3rem;
}
/* line 210, ../sass/components/_2-main-header.scss */
.main.top .search-container .search-main-search .i-search:before {
  vertical-align: middle;
}
/* line 213, ../sass/components/_2-main-header.scss */
.main.top .search-container .search-main-search .i-search:hover {
  color: black;
}
/* line 218, ../sass/components/_2-main-header.scss */
.main.top .search-container .search-main-dropdown {
  z-index: 1000;
  width: 75%;
  margin-left: 4%;
  position: absolute;
  border-radius: 0.2rem;
  margin-top: 0.3125rem;
  list-style-type: none;
  border: 1px solid #dddddd;
  background-color: white;
}
/* line 223, ../sass/components/_2-main-header.scss */
.main.top .search-container .search-main-dropdown.hide {
  display: none;
}
/* line 231, ../sass/components/_2-main-header.scss */
.main.top .search-container .search-main-dropdown li {
  color: #888888;
  font-size: 1.1rem;
  white-space: nowrap;
  cursor: default;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.2rem 3rem 0.1rem 0.5rem;
  margin: 0.0625rem 0;
  list-style: none;
  border-radius: 0.375rem;
  transition: 0.1s;
}
/* line 244, ../sass/components/_2-main-header.scss */
.main.top .search-container .search-main-dropdown li:hover {
  color: black;
  background-color: #f7f7f7;
}
/* line 248, ../sass/components/_2-main-header.scss */
.main.top .search-container .search-main-dropdown li .i-clear {
  height: 1.1rem;
  width: 2rem;
  text-align: center;
  position: absolute;
  right: 1rem;
  float: right;
  color: rgba(136, 136, 136, 0.5);
  font-size: 1rem;
  padding: 0.25rem;
  margin-right: -0.3125rem;
}
/* line 259, ../sass/components/_2-main-header.scss */
.main.top .search-container .search-main-dropdown li .i-clear:hover {
  color: black;
}
/* line 264, ../sass/components/_2-main-header.scss */
.main.top .search-container .search-main-dropdown:before {
  position: absolute;
  top: -0.5625rem;
  left: 0.625rem;
  display: inline-block;
  border-right: 0.5625rem solid transparent;
  border-bottom: 0.5625rem solid #dddddd;
  border-left: 0.5625rem solid transparent;
  content: '';
}
/* line 274, ../sass/components/_2-main-header.scss */
.main.top .search-container .search-main-dropdown:after {
  position: absolute;
  top: -0.5rem;
  left: 0.625rem;
  display: inline-block;
  border-right: 0.5625rem solid transparent;
  border-bottom: 0.5625rem solid white;
  border-left: 0.5625rem solid transparent;
  content: '';
}

/* line 3, ../sass/components/_3-sub-navigation.scss */
.col-content {
  float: left;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  float: left;
}

/* line 7, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav {
  display: none;
  float: left;
}

@media only screen and (min-width: 75rem) {
  /* line 12, ../sass/components/_3-sub-navigation.scss */
  .col-content {
    float: left;
    width: 75%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  /* line 15, ../sass/components/_3-sub-navigation.scss */
  .col-sub-nav {
    display: block;
    float: left;
    width: 25%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
/* line 21, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation {
  font-family: ArialNarrow, sans-serif;
  font-weight: 100;
  margin-top: -0.125rem;
  position: relative;
  list-style: none;
  display: block;
  background: #efefef;
  border-radius: 0.4rem;
}
/* line 30, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li {
  transition: background 0.5s ease;
  display: block;
  position: relative;
  margin: 0rem 0rem 0rem 0rem;
}
/* line 35, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li.item-type-a {
  text-align: center;
  background: #efefef;
}
/* line 38, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li.item-type-a:first-child {
  padding-top: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
/* line 43, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li.item-type-a:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
/* line 47, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li.item-type-a > a {
  font-size: 1.3rem;
  padding: 0.5rem;
  display: block;
}
/* line 52, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li.item-type-a:hover {
  background: #eeeeee;
}
/* line 56, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li.item-type-b {
  text-align: center;
  background: #0088ff;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
/* line 61, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li.item-type-b:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
/* line 65, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li.item-type-b:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
/* line 69, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li.item-type-b > a {
  font-size: 1.3rem;
  color: white;
  padding: 0.8rem;
  display: block;
}
/* line 77, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li.item-type-b.is-active a:after {
  content: "";
  border: 0.3125rem solid transparent;
  border-left: 0.375rem solid white;
  opacity: .8;
  height: 0;
  width: 0;
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 0.3rem;
}
/* line 92, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li.item-type-c {
  text-align: right;
  line-height: 1.25rem;
  background: #efefef;
}
/* line 96, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li.item-type-c:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
/* line 100, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li.item-type-c:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-bottom: 0.8rem;
}
/* line 106, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li.item-type-c:hover a {
  color: #005cad;
}
/* line 111, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li.item-type-c.is-active a {
  color: #005cad;
}
/* line 113, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li.item-type-c.is-active a:after {
  content: "";
  border: 0.3125rem solid transparent;
  border-left: 0.375rem solid #005cad;
  opacity: .4;
  height: 0;
  width: 0;
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 0.3rem;
}
/* line 127, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li.item-type-c > a {
  font-size: 1.3rem;
  display: block;
  position: relative;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
}
/* line 137, ../sass/components/_3-sub-navigation.scss */
.col-sub-nav .sub-navigation li a {
  text-decoration: none;
}

/* line 3, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out {
  font-family: ArialNarrow, sans-serif;
  font-weight: 100;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: #dddddd;
  background: #2b2a29;
  position: fixed;
  overflow: auto;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0px;
}
/* line 22, ../sass/base/_4-responsive.scss */
.navigation-slide-in-out:before, .navigation-slide-in-out:after {
  content: '';
  display: table;
}
/* line 26, ../sass/base/_4-responsive.scss */
.navigation-slide-in-out:after {
  clear: both;
}
/* line 17, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .header {
  padding-left: 1.5rem;
}
/* line 19, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .header a.logo {
  text-decoration: none;
  display: block;
  vertical-align: middle;
  text-align: left;
}
@media only screen and (min-width: 75rem) {
  /* line 19, ../sass/components/_4-slide-in-out-navigation.scss */
  .navigation-slide-in-out .header a.logo {
    text-align: center;
  }
}
/* line 28, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .header a > img {
  height: 2rem;
  vertical-align: middle;
  margin: 0.4rem 0.8rem 0 0;
}
/* line 33, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .header a > span {
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 3rem;
  color: white;
  vertical-align: middle;
}
/* line 41, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out ul {
  z-index: 1000;
}
/* line 43, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out ul:hover {
  z-index: 1001;
}
/* line 47, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out > ul {
  font-size: 1.2rem;
}
/* line 50, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .language {
  margin: 0 1rem 0 1rem;
  box-shadow: 0px 0.25px 0px 0px rgba(255, 255, 255, 0.75);
}
/* line 53, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .language .menu {
  position: relative;
  list-style: none;
  display: inline;
}
/* line 57, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .language .menu li {
  line-height: 1.4rem;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  padding: 0.4rem 0.2rem 0.2rem 0.4rem;
}
/* line 63, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .language .menu li.item-has-children {
  padding-right: 1.3rem;
}
/* line 65, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .language .menu li.item-has-children > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  visibility: hidden;
  transition: top 0.4s ease;
  position: absolute;
  top: 0%;
  left: 0;
  background-color: white;
}
/* line 75, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .language .menu li.item-has-children > ul li {
  line-height: 1.3rem;
  margin: 0.3rem 0.8rem 0.3rem 0.8rem;
  box-shadow: 0px 0.15px 0px 0px rgba(0, 0, 0, 0.75);
  display: list-item;
}
/* line 80, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .language .menu li.item-has-children > ul li:last-child {
  padding-bottom: 0.3rem;
  box-shadow: none;
}
/* line 84, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .language .menu li.item-has-children > ul li a {
  color: #555;
  transition: color 0.3s ease;
}
/* line 87, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .language .menu li.item-has-children > ul li a:hover {
  color: #000;
}
/* line 93, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .language .menu li.item-has-children:hover {
  background: #444;
}
/* line 95, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .language .menu li.item-has-children:hover > ul {
  visibility: visible;
  top: 100%;
}
/* line 100, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .language .menu li.item-has-children:after {
  content: "";
  border: 0.3125rem solid transparent;
  border-top: 0.375rem solid #fff;
  opacity: .5;
  height: 0;
  width: 0;
  display: inline-block;
  position: absolute;
  top: 45%;
  right: 0.3rem;
}
/* line 113, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .language .menu li a {
  color: #aaaaaa;
  white-space: nowrap;
  display: block;
  text-decoration: none !important;
  transition: color 0.3s ease;
}
/* line 119, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .language .menu li a:hover {
  color: #dddddd;
}
/* line 127, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .main .menu {
  position: relative;
  list-style: none;
  display: block;
  box-shadow: 0px 0.25px 0px 0px rgba(255, 255, 255, 0.75), 0px -0.25px 0px 0px rgba(255, 255, 255, 0.75);
}
/* line 133, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .main .menu li {
  line-height: 1.7rem;
  vertical-align: middle;
  position: relative;
  display: block;
  padding: 0.4rem 0.2rem 0.2rem 0rem;
}
/* line 140, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .main .menu li.is-active a {
  color: white;
}
/* line 145, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .main .menu li.no-menu a:first-child {
  visibility: hidden;
}
/* line 149, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .main .menu li a {
  line-height: 1.3rem;
  color: #aaaaaa;
  font-size: 1.2rem;
  text-decoration: none !important;
  transition: color 0.3s ease;
  padding-left: 2.5rem;
  display: inline-block;
  width: 100%;
}
/* line 158, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .main .menu li a:hover {
  color: #dddddd;
}
/* line 162, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .main .menu li a:first-child {
  line-height: 1.3rem;
  padding-left: 0.3rem;
  position: absolute;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  top: 0.5rem;
}
/* line 171, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .main .menu li.item-type-aa {
  box-shadow: 0px;
}
/* line 174, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .main .menu li.item-type-bb {
  text-align: center;
  background: #0088ff;
}
/* line 178, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .main .menu li.item-type-bb > a {
  font-size: 1.2rem;
  color: white;
  padding: 0.6rem;
  display: block;
}
/* line 191, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .main .menu li.item-type-c {
  margin-left: 2.2rem;
}
/* line 203, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .footer {
  margin: 1rem;
  text-align: center;
}
/* line 206, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .footer .menu {
  position: relative;
  list-style: none;
  display: inline;
}
/* line 210, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .footer .menu li {
  line-height: 1.4rem;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  padding: 0.4rem 0.2rem 0.2rem 0.4rem;
}
/* line 216, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .footer .menu li a {
  color: #aaaaaa;
  white-space: nowrap;
  display: block;
  text-decoration: none !important;
  transition: color 0.3s ease;
}
/* line 222, ../sass/components/_4-slide-in-out-navigation.scss */
.navigation-slide-in-out .footer .menu li a:hover {
  color: #dddddd;
}

/* line 3, ../sass/components/_5-slide-in-out-search.scss */
.search-slide-in-out {
  font-family: ArialNarrow, sans-serif;
  font-weight: 100;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: #666666;
  background: white;
  position: fixed;
  overflow: auto;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0px;
}
/* line 22, ../sass/base/_4-responsive.scss */
.search-slide-in-out:before, .search-slide-in-out:after {
  content: '';
  display: table;
}
/* line 26, ../sass/base/_4-responsive.scss */
.search-slide-in-out:after {
  clear: both;
}
/* line 17, ../sass/components/_5-slide-in-out-search.scss */
.search-slide-in-out .header {
  padding-left: 1.5rem;
}
/* line 19, ../sass/components/_5-slide-in-out-search.scss */
.search-slide-in-out .header a.logo {
  text-decoration: none;
  display: block;
  vertical-align: middle;
  text-align: left;
}
@media only screen and (min-width: 75rem) {
  /* line 19, ../sass/components/_5-slide-in-out-search.scss */
  .search-slide-in-out .header a.logo {
    text-align: center;
  }
}
/* line 28, ../sass/components/_5-slide-in-out-search.scss */
.search-slide-in-out .header a > img {
  height: 2rem;
  vertical-align: middle;
  margin: 0.4rem 0.8rem 0 0;
}
/* line 33, ../sass/components/_5-slide-in-out-search.scss */
.search-slide-in-out .header a > span {
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 3rem;
  color: white;
  vertical-align: middle;
}
/* line 41, ../sass/components/_5-slide-in-out-search.scss */
.search-slide-in-out ul {
  z-index: 1000;
}
/* line 43, ../sass/components/_5-slide-in-out-search.scss */
.search-slide-in-out ul:hover {
  z-index: 1001;
}
/* line 47, ../sass/components/_5-slide-in-out-search.scss */
.search-slide-in-out > ul {
  font-size: 1.2rem;
}
/* line 51, ../sass/components/_5-slide-in-out-search.scss */
.search-slide-in-out .search-results-slide-in-out {
  padding: 1rem;
}
/* line 53, ../sass/components/_5-slide-in-out-search.scss */
.search-slide-in-out .search-results-slide-in-out ul.search-results {
  list-style: none !important;
}
/* line 55, ../sass/components/_5-slide-in-out-search.scss */
.search-slide-in-out .search-results-slide-in-out ul.search-results li {
  padding-bottom: 1rem;
  list-style: none;
  line-height: 1.3rem;
}
/* line 61, ../sass/components/_5-slide-in-out-search.scss */
.search-slide-in-out .search-results-slide-in-out a {
  line-height: 1.3rem;
}

/* line 67, ../sass/components/_5-slide-in-out-search.scss */
.search-in-out-header {
  color: #dddddd;
  background: #0088ff;
}

/* line 73, ../sass/components/_5-slide-in-out-search.scss */
.search-container {
  height: 3.75rem;
  padding-top: 0.875rem;
  padding-left: 1.5625rem;
  position: relative;
  width: 20rem;
}
/* line 79, ../sass/components/_5-slide-in-out-search.scss */
.search-container .search-slide-in-out-text {
  color: black;
  border: 0px solid #dddddd;
  background: white;
  border-radius: 0.3rem;
  width: 90%;
  height: 1.7rem;
  font-size: 1.1rem;
  padding: 0.2rem 4rem 0.1rem 1rem;
}
/* line 89, ../sass/components/_5-slide-in-out-search.scss */
.search-container .search-slide-in-out-clear {
  visibility: hidden;
}
/* line 91, ../sass/components/_5-slide-in-out-search.scss */
.search-container .search-slide-in-out-clear .i-clear {
  color: rgba(85, 85, 85, 0.6);
  position: absolute;
  width: 2rem;
  text-align: center;
  right: 3.8rem;
  font-size: 1rem;
  padding: 0.3125rem;
  visibility: hidden;
}
/* line 100, ../sass/components/_5-slide-in-out-search.scss */
.search-container .search-slide-in-out-clear .i-clear:hover {
  color: black;
}
/* line 106, ../sass/components/_5-slide-in-out-search.scss */
.search-container .search-slide-in-out-search .i-search {
  color: #555555;
  position: absolute;
  width: 2rem;
  text-align: center;
  right: 2.2rem;
  padding: 0.0625rem 0.4375rem 0.3125rem 0.3125rem;
}
/* line 114, ../sass/components/_5-slide-in-out-search.scss */
.search-container .search-slide-in-out-search .i-search:before {
  vertical-align: middle;
}
/* line 117, ../sass/components/_5-slide-in-out-search.scss */
.search-container .search-slide-in-out-search .i-search:hover {
  color: black;
}
/* line 122, ../sass/components/_5-slide-in-out-search.scss */
.search-container .search-slide-in-out-dropdown {
  z-index: 1000;
  width: 75%;
  margin-left: 4%;
  position: absolute;
  border-radius: 0.375rem;
  margin-top: 0.3125rem;
  list-style-type: none;
  border: 1px solid #dddddd;
  background-color: white;
}
/* line 127, ../sass/components/_5-slide-in-out-search.scss */
.search-container .search-slide-in-out-dropdown.hide {
  display: none;
}
/* line 135, ../sass/components/_5-slide-in-out-search.scss */
.search-container .search-slide-in-out-dropdown li {
  color: #888888;
  font-size: 1.1rem;
  white-space: nowrap;
  cursor: default;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.2rem 3rem 0.1rem 0.5rem;
  margin: 0.0625rem 0;
  list-style: none;
  border-radius: 0.375rem;
  transition: 0.1s;
}
/* line 148, ../sass/components/_5-slide-in-out-search.scss */
.search-container .search-slide-in-out-dropdown li:hover {
  color: black;
  background-color: #f7f7f7;
}
/* line 152, ../sass/components/_5-slide-in-out-search.scss */
.search-container .search-slide-in-out-dropdown li .i-clear {
  height: 1.1rem;
  width: 2rem;
  text-align: center;
  position: absolute;
  right: 1rem;
  float: right;
  color: rgba(136, 136, 136, 0.5);
  font-size: 1rem;
  padding: 0.25rem;
  margin-right: -0.3125rem;
}
/* line 163, ../sass/components/_5-slide-in-out-search.scss */
.search-container .search-slide-in-out-dropdown li .i-clear:hover {
  color: black;
}
/* line 168, ../sass/components/_5-slide-in-out-search.scss */
.search-container .search-slide-in-out-dropdown:before {
  position: absolute;
  top: -0.5625rem;
  left: 0.625rem;
  display: inline-block;
  border-right: 0.5625rem solid transparent;
  border-bottom: 0.5625rem solid #dddddd;
  border-left: 0.5625rem solid transparent;
  content: '';
}
/* line 178, ../sass/components/_5-slide-in-out-search.scss */
.search-container .search-slide-in-out-dropdown:after {
  position: absolute;
  top: -0.5rem;
  left: 0.625rem;
  display: inline-block;
  border-right: 0.5625rem solid transparent;
  border-bottom: 0.5625rem solid white;
  border-left: 0.5625rem solid transparent;
  content: '';
}
/* line 190, ../sass/components/_5-slide-in-out-search.scss */
.search-container .footer {
  margin: 1rem;
  text-align: center;
}
/* line 193, ../sass/components/_5-slide-in-out-search.scss */
.search-container .footer .menu {
  position: relative;
  list-style: none;
  display: inline;
}
/* line 197, ../sass/components/_5-slide-in-out-search.scss */
.search-container .footer .menu li {
  line-height: 1.4rem;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  padding: 0.4rem 0.2rem 0.2rem 0.4rem;
}
/* line 203, ../sass/components/_5-slide-in-out-search.scss */
.search-container .footer .menu li a {
  color: #aaaaaa;
  white-space: nowrap;
  display: block;
  text-decoration: none !important;
  transition: color 0.3s ease;
}
/* line 209, ../sass/components/_5-slide-in-out-search.scss */
.search-container .footer .menu li a:hover {
  color: #dddddd;
}

/* line 6, ../sass/components/_6-content.scss */
.content ul.search-results {
  list-style: none !important;
}
/* line 8, ../sass/components/_6-content.scss */
.content ul.search-results li {
  padding-bottom: 1rem;
  list-style: none;
  line-height: 1.3rem;
}
/* line 14, ../sass/components/_6-content.scss */
.content a {
  line-height: 1.3rem;
}

/* line 20, ../sass/components/_6-content.scss */
.homepage-list {
  margin-left: 0;
  list-style: none !important;
}
/* line 21, ../sass/components/_6-content.scss */
.homepage-list .item-full-width {
  display: block;
  width: 100%;
  text-align: left !important;
}
/* line 28, ../sass/components/_6-content.scss */
.homepage-list li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 100%;
  padding: 0rem;
}
@media only screen and (min-width: 350px) {
  /* line 28, ../sass/components/_6-content.scss */
  .homepage-list li {
    width: 49%;
    padding: 0.5rem;
  }
}
@media only screen and (min-width: 440px) {
  /* line 28, ../sass/components/_6-content.scss */
  .homepage-list li {
    padding: 0.5rem;
    width: 32.5%;
  }
}
@media only screen and (min-width: 640px) {
  /* line 28, ../sass/components/_6-content.scss */
  .homepage-list li {
    padding: 1rem;
    width: 11.5rem;
  }
}
/* line 48, ../sass/components/_6-content.scss */
.homepage-list li img.landscape {
  border-radius: 0.25rem;
  width: 100%;
}
/* line 52, ../sass/components/_6-content.scss */
.homepage-list li img.portrait {
  border-radius: 0.25rem;
  width: 80%;
}
/* line 57, ../sass/components/_6-content.scss */
.homepage-list a {
  margin-top: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.2rem;
  display: block;
}
/* line 65, ../sass/components/_6-content.scss */
.homepage-list .intro {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

/* line 72, ../sass/components/_6-content.scss */
.main-content {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
/* line 75, ../sass/components/_6-content.scss */
.main-content table {
  font-family: ArialNarrow, sans-serif;
  font-weight: 100;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 0.22rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  border-spacing: 0;
  border-collapse: separate;
}
/* line 86, ../sass/components/_6-content.scss */
.main-content table th {
  border-left: 1px solid #e0e0e0;
  background-color: #f0f0f0;
  padding: 0.5rem;
}
/* line 91, ../sass/components/_6-content.scss */
.main-content table td:first-child {
  border-left: 0px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  padding: 0.5rem;
}
/* line 96, ../sass/components/_6-content.scss */
.main-content table td {
  border-left: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  padding: 0.5rem;
}
/* line 102, ../sass/components/_6-content.scss */
.main-content img {
  background-color: rgba(0, 136, 255, 0);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
/* line 106, ../sass/components/_6-content.scss */
.main-content img.left {
  width: 100%;
  float: left;
  clear: left;
  margin-right: 1rem;
}
/* line 109, ../sass/components/_6-content.scss */
.main-content img.right {
  width: 100%;
  float: right;
  clear: right;
  margin-left: 1rem;
}
/* line 112, ../sass/components/_6-content.scss */
.main-content img.leftsmall {
  width: 100%;
  float: left;
  clear: left;
  margin-right: 1rem;
}
/* line 115, ../sass/components/_6-content.scss */
.main-content img.rightsmall {
  width: 100%;
  float: right;
  clear: right;
  margin-left: 1rem;
}
/* line 118, ../sass/components/_6-content.scss */
.main-content img.leftverysmall {
  width: 100%;
  float: left;
  clear: left;
  margin-right: 1rem;
}
/* line 121, ../sass/components/_6-content.scss */
.main-content img.rightverysmall {
  width: 100%;
  float: right;
  clear: right;
  margin-left: 1rem;
}
/* line 124, ../sass/components/_6-content.scss */
.main-content img.fullwidth {
  width: 100%;
  padding: 1rem;
}
/* line 127, ../sass/components/_6-content.scss */
.main-content img.border {
  border: 1px solid rgba(0, 136, 255, 0.5);
  padding: 0.5rem;
  border-radius: 0.3rem;
}
@media only screen and (min-width: 400px) {
  /* line 135, ../sass/components/_6-content.scss */
  .main-content img.left {
    width: 45%;
    float: left;
    clear: left;
    margin-right: 1rem;
  }
  /* line 138, ../sass/components/_6-content.scss */
  .main-content img.right {
    width: 45%;
    float: right;
    clear: right;
    margin-left: 1rem;
  }
  /* line 141, ../sass/components/_6-content.scss */
  .main-content img.leftsmall {
    width: 30%;
    min-width: 15rem;
    float: left;
    clear: left;
    margin-right: 1rem;
  }
  /* line 144, ../sass/components/_6-content.scss */
  .main-content img.rightsmall {
    width: 30%;
    min-width: 15rem;
    float: right;
    clear: right;
    margin-left: 1rem;
  }
  /* line 147, ../sass/components/_6-content.scss */
  .main-content img.leftverysmall {
    width: 15%;
    min-width: 10rem;
    float: left;
    clear: left;
    margin-right: 1rem;
  }
  /* line 150, ../sass/components/_6-content.scss */
  .main-content img.rightverysmall {
    width: 15%;
    min-width: 10rem;
    float: right;
    clear: right;
    margin-left: 1rem;
  }
}
/* line 156, ../sass/components/_6-content.scss */
.main-content .content-title {
  margin-bottom: 3.3rem;
  position: relative;
}
/* line 159, ../sass/components/_6-content.scss */
.main-content .content-title .date {
  position: absolute;
  top: 2.5rem;
  left: 0.2rem;
  color: #A7A5A5;
  font-size: 1rem;
  font-family: courier;
}
/* line 171, ../sass/components/_6-content.scss */
.main-content .content-related h2 {
  padding-top: 2.5rem;
  margin-bottom: 0;
  clear: both;
}
@media only screen and (min-width: 400px) {
  /* line 171, ../sass/components/_6-content.scss */
  .main-content .content-related h2 {
    padding-top: 4rem;
  }
}
/* line 179, ../sass/components/_6-content.scss */
.main-content .content-related ul {
  margin-left: 0 !important;
}
/* line 187, ../sass/components/_6-content.scss */
.main-content .footnote {
  font-size: 0.8rem;
  border-top: 1px solid #E3DDDD;
  color: #A49999;
}
/* line 194, ../sass/components/_6-content.scss */
.main-content blockquote {
  border-left: 4px solid #0088ff;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 1rem 1.5rem;
  font-size: 1.3rem;
  color: #0088ff;
}
/* line 205, ../sass/components/_6-content.scss */
.main-content div.division {
  margin-top: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 209, ../sass/components/_6-content.scss */
.main-content div.division .vertical {
  float: right;
  margin-left: 1rem;
  width: 25%;
}
/* line 216, ../sass/components/_6-content.scss */
.main-content div.sidebar {
  width: 22%;
  min-width: 11.25rem;
  float: right;
  margin-left: 1rem;
  padding: 0 0 0 0;
  border: 1px solid #0088ff;
  overflow: hidden;
  border-radius: 0.4rem;
  box-sizing: border-box;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  clear: right;
}
/* line 226, ../sass/components/_6-content.scss */
.main-content div.sidebar .title {
  background-color: 1px solid #0088ff;
  color: white;
  padding: 0.6rem;
  font-size: 1rem;
}
/* line 232, ../sass/components/_6-content.scss */
.main-content div.sidebar .content {
  padding: 0.6rem;
  font-size: 1rem;
}
/* line 238, ../sass/components/_6-content.scss */
.main-content pre {
  margin-top: 2rem;
  position: relative;
}
/* line 241, ../sass/components/_6-content.scss */
.main-content pre .title {
  display: inline-block;
  position: absolute;
  top: -0.8rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.3rem;
  background: #e2ebf3;
  padding: 0 0.5rem 0 0.5rem;
  font-size: 0.9rem;
}
/* line 252, ../sass/components/_6-content.scss */
.main-content code {
  padding-top: 1.3rem;
  border-radius: 0.3rem;
}
/* line 257, ../sass/components/_6-content.scss */
.main-content .content-content ul {
  margin: 0.5rem 0rem 0.6rem 1rem;
}
/* line 260, ../sass/components/_6-content.scss */
.main-content .content-content ol {
  margin: 0.5rem 0rem 0.6rem 1.5rem;
}
/* line 263, ../sass/components/_6-content.scss */
.main-content .content-content li ul {
  margin: 0.3rem 0rem 0.4rem 0.5rem;
}
/* line 266, ../sass/components/_6-content.scss */
.main-content .content-content li ol {
  margin: 0.3rem 0rem 0.4rem 1rem;
}
@media only screen and (min-width: 56.25rem) {
  /* line 270, ../sass/components/_6-content.scss */
  .main-content .content-content ul {
    margin: 0.5rem 0rem 0.6rem 1.5rem;
  }
  /* line 273, ../sass/components/_6-content.scss */
  .main-content .content-content ol {
    margin: 0.5rem 0rem 0.6rem 2rem;
  }
  /* line 276, ../sass/components/_6-content.scss */
  .main-content .content-content li ul {
    margin: 0.3rem 0rem 0.4rem 1.2rem;
  }
  /* line 279, ../sass/components/_6-content.scss */
  .main-content .content-content li ol {
    margin: 0.3rem 0rem 0.4rem 2.0rem;
  }
  /* line 282, ../sass/components/_6-content.scss */
  .main-content .content-content li {
    margin: 0.3rem 0rem 0.3rem 0rem;
  }
}
@media only screen and (min-width: 75rem) {
  /* line 287, ../sass/components/_6-content.scss */
  .main-content .content-content ul, .main-content .content-content ol {
    margin: 0.5rem 0rem 0.6rem 3rem;
  }
  /* line 290, ../sass/components/_6-content.scss */
  .main-content .content-content li ul, .main-content .content-content li ol {
    margin: 0.3rem 0rem 0.4rem 2rem;
  }
  /* line 293, ../sass/components/_6-content.scss */
  .main-content .content-content li {
    margin: 0.3rem 0rem 0.3rem 0rem;
  }
}
/* line 298, ../sass/components/_6-content.scss */
.main-content .content-content .ssba, .main-content .content-content .ssba a {
  padding-top: 1.5rem;
  text-decoration: none;
  border: 0;
  background: none;
  font-size: 1rem;
  font-weight: bold;
}
/* line 305, ../sass/components/_6-content.scss */
.main-content .content-content .ssba img, .main-content .content-content .ssba a img {
  width: 2.85rem !important;
  padding: 0.5rem;
  border: 0;
  box-shadow: none !important;
  display: inline !important;
  vertical-align: middle;
}
/* line 315, ../sass/components/_6-content.scss */
.main-content .content-content .signature {
  width: 8rem;
}
/* line 320, ../sass/components/_6-content.scss */
.main-content .content-content .sitemap a {
  text-decoration: none !important;
}

/* line 326, ../sass/components/_6-content.scss */
.main-content {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
/* line 22, ../sass/base/_4-responsive.scss */
.main-content:before, .main-content:after {
  content: '';
  display: table;
}
/* line 26, ../sass/base/_4-responsive.scss */
.main-content:after {
  clear: both;
}
/* line 329, ../sass/components/_6-content.scss */
.main-content .content-breadcrumb {
  font-family: ArialNarrow, sans-serif;
  font-weight: 100;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}
/* line 334, ../sass/components/_6-content.scss */
.main-content .content-breadcrumb a {
  text-decoration: none !important;
}
/* line 337, ../sass/components/_6-content.scss */
.main-content .content-breadcrumb .breadcrumb-is-active {
  display: none;
}
/* line 346, ../sass/components/_6-content.scss */
.main-content .previous-next {
  clear: both;
}
/* line 349, ../sass/components/_6-content.scss */
.main-content .content-previous, .main-content .content-next {
  font-family: ArialNarrow, sans-serif;
  font-weight: 100;
  margin-top: 1.5rem;
  position: relative;
  line-height: 1.3rem;
}
/* line 355, ../sass/components/_6-content.scss */
.main-content .content-previous a, .main-content .content-next a {
  text-decoration: none !important;
  line-height: 1.2rem;
  display: table-cell;
}
/* line 359, ../sass/components/_6-content.scss */
.main-content .content-previous a:before, .main-content .content-previous a:after, .main-content .content-next a:before, .main-content .content-next a:after {
  content: "";
  border: 0.3125rem solid transparent;
  opacity: .8;
  height: 0;
  width: 0;
  top: 35%;
  display: inline-block;
  position: absolute;
}
/* line 371, ../sass/components/_6-content.scss */
.main-content .content-previous {
  float: left;
  margin-right: 0.5rem;
  padding-left: 1.5rem;
}
/* line 375, ../sass/components/_6-content.scss */
.main-content .content-previous a:before {
  border-right: 0.375rem solid #005cad;
  left: 0.3rem;
}
/* line 380, ../sass/components/_6-content.scss */
.main-content .content-next {
  float: right;
  text-align: right;
  margin-left: 0.5rem;
  padding-right: 1.5rem;
}
/* line 385, ../sass/components/_6-content.scss */
.main-content .content-next a:after {
  border-left: 0.375rem solid #005cad;
  right: 0.3rem;
}

/* line 3, ../sass/components/_8-footer.scss */
.main-footer {
  font-family: ArialNarrow, sans-serif;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1400px;
  color: #999999;
  text-align: center;
  position: relative;
  margin: auto;
}
/* line 22, ../sass/base/_4-responsive.scss */
.main-footer:before, .main-footer:after {
  content: '';
  display: table;
}
/* line 26, ../sass/base/_4-responsive.scss */
.main-footer:after {
  clear: both;
}
@media only screen and (min-width: 75rem) {
  /* line 3, ../sass/components/_8-footer.scss */
  .main-footer {
    padding: 2rem 1rem 1rem 1rem;
  }
}
/* line 16, ../sass/components/_8-footer.scss */
.main-footer a {
  color: #999999;
  text-decoration: none;
  white-space: nowrap;
}
/* line 20, ../sass/components/_8-footer.scss */
.main-footer a:hover {
  color: #555555;
}
/* line 24, ../sass/components/_8-footer.scss */
.main-footer .main-button {
  display: none;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  margin: 1rem;
  line-height: 3.6rem;
  color: #f7f7f7;
  background: #008f44;
  border-radius: 0.5rem;
}
/* line 32, ../sass/components/_8-footer.scss */
.main-footer .main-button:hover {
  color: white;
  background: #1d8135;
}
@media only screen and (min-width: 75rem) {
  /* line 24, ../sass/components/_8-footer.scss */
  .main-footer .main-button {
    display: inline;
  }
}
/* line 40, ../sass/components/_8-footer.scss */
.main-footer .social-buttons .menu {
  list-style: none;
}
/* line 42, ../sass/components/_8-footer.scss */
.main-footer .social-buttons .menu li {
  display: inline-block;
  margin: 0.5rem;
}
/* line 45, ../sass/components/_8-footer.scss */
.main-footer .social-buttons .menu li a {
  font-size: 1.8rem;
}
@media only screen and (min-width: 75rem) {
  /* line 45, ../sass/components/_8-footer.scss */
  .main-footer .social-buttons .menu li a {
    font-size: 2.5rem;
  }
}
/* line 53, ../sass/components/_8-footer.scss */
.main-footer .secondary-button {
  padding: 0.5rem;
  line-height: 2rem;
}
@media only screen and (min-width: 75rem) {
  /* line 53, ../sass/components/_8-footer.scss */
  .main-footer .secondary-button {
    padding: 1rem;
    line-height: 3rem;
  }
}

/* line 4, ../sass/components/_9-search.scss */
.search-main {
  position: relative;
  border: 0px solid #aaaaaa;
  margin-top: 0rem;
  width: 100%;
  white-space: nowrap;
}
/* line 10, ../sass/components/_9-search.scss */
.search-main .search-main-text {
  width: 100%;
  color: black;
  border: 0px solid #dddddd;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2.5rem;
  height: 1.5rem;
  font-size: 0.95rem;
  padding: 0.1rem 3.3rem 0.1rem 1rem;
}
/* line 21, ../sass/components/_9-search.scss */
.search-main .search-main-clear {
  visibility: hidden;
}
/* line 23, ../sass/components/_9-search.scss */
.search-main .search-main-clear .i-clear {
  color: rgba(85, 85, 85, 0.6);
  position: absolute;
  width: 2rem;
  text-align: center;
  right: 1.7rem;
  font-size: 1rem;
  padding: 0.375rem;
  visibility: hidden;
}
/* line 32, ../sass/components/_9-search.scss */
.search-main .search-main-clear .i-clear:hover {
  color: black;
}
/* line 38, ../sass/components/_9-search.scss */
.search-main .search-main-search .i-search {
  color: #555555;
  position: absolute;
  width: 2rem;
  right: 0.2rem;
  font-size: 1.1rem;
  padding: 0.1875rem 0.4375rem 0.3125rem 0.3125rem;
}
/* line 46, ../sass/components/_9-search.scss */
.search-main .search-main-search .i-search:before {
  vertical-align: middle;
}
/* line 49, ../sass/components/_9-search.scss */
.search-main .search-main-search .i-search:hover {
  color: black;
}
/* line 54, ../sass/components/_9-search.scss */
.search-main .search-main-dropdown {
  z-index: 1000;
  width: 90%;
  margin-left: 4%;
  position: absolute;
  border-radius: 0.375rem;
  margin-top: 0.3125rem;
  list-style-type: none;
  border: 1px solid #dddddd;
  background-color: white;
}
/* line 59, ../sass/components/_9-search.scss */
.search-main .search-main-dropdown.hide {
  display: none;
}
/* line 67, ../sass/components/_9-search.scss */
.search-main .search-main-dropdown li {
  color: #888888;
  white-space: nowrap;
  cursor: default;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0rem 3rem 0rem 0.5rem;
  margin: 0.0625rem 0;
  list-style: none;
  border-radius: 0.375rem;
  transition: 0.1s;
}
/* line 79, ../sass/components/_9-search.scss */
.search-main .search-main-dropdown li:hover {
  color: black;
  background-color: #f7f7f7;
}
/* line 83, ../sass/components/_9-search.scss */
.search-main .search-main-dropdown li .i-clear {
  height: 1.1rem;
  width: 2rem;
  text-align: center;
  position: absolute;
  right: 1rem;
  float: right;
  color: rgba(136, 136, 136, 0.5);
  font-size: 1rem;
  padding: 0.3125rem;
  margin-right: -0.3125rem;
}
/* line 94, ../sass/components/_9-search.scss */
.search-main .search-main-dropdown li .i-clear:hover {
  color: black;
}
/* line 99, ../sass/components/_9-search.scss */
.search-main .search-main-dropdown:before {
  position: absolute;
  top: -0.5rem;
  left: 0.625rem;
  display: inline-block;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid #dddddd;
  border-left: 0.5rem solid transparent;
  content: '';
}
/* line 109, ../sass/components/_9-search.scss */
.search-main .search-main-dropdown:after {
  position: absolute;
  top: -0.4375rem;
  left: 0.625rem;
  display: inline-block;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid white;
  border-left: 0.5rem solid transparent;
  content: '';
}

/* line 4, ../sass/components/_10-tutorial.scss */
.tutorial {
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #555555;
  overflow: auto;
  margin: 1rem 0rem 2rem 0rem;
  border: 1px solid #0088ff;
  border-radius: 0.3rem;
}
/* line 8, ../sass/components/_10-tutorial.scss */
.tutorial i {
  color: #777777;
}
/* line 17, ../sass/components/_10-tutorial.scss */
.tutorial .caption {
  color: white;
  background: #0088ff;
  border-radius: 0.3rem 0.3rem 0.1rem 0.1rem;
  padding: 0.3rem 1rem 0.2rem 1rem;
  font-size: 1rem;
}
/* line 24, ../sass/components/_10-tutorial.scss */
.tutorial .content {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
/* line 29, ../sass/components/_10-tutorial.scss */
.tutorial .content li.no-list-style-type {
  list-style-type: none;
}
/* line 33, ../sass/components/_10-tutorial.scss */
.tutorial .content > ul {
  margin-left: 0rem !important;
}
/* line 36, ../sass/components/_10-tutorial.scss */
.tutorial .content > ul.indent {
  margin-left: 1.5rem !important;
}
/* line 39, ../sass/components/_10-tutorial.scss */
.tutorial .content > ol.indent {
  margin-left: 2.3rem !important;
}
/* line 43, ../sass/components/_10-tutorial.scss */
.tutorial .menu {
  background: #308453;
  border-radius: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  position: relative;
  z-index: 100;
  display: inline-block;
}
/* line 52, ../sass/components/_10-tutorial.scss */
.tutorial .menu li {
  position: relative;
  display: inline-block;
  padding: 0.3rem 1rem 0rem 1rem !important;
  background: #308453;
}
/* line 57, ../sass/components/_10-tutorial.scss */
.tutorial .menu li.item-has-children {
  padding-right: 1.5rem !important;
}
/* line 59, ../sass/components/_10-tutorial.scss */
.tutorial .menu li.item-has-children > ul {
  border-radius: 0.3rem;
  padding-bottom: 0.3rem;
  z-index: 101;
  margin: 0;
  padding: 0;
  list-style: none;
  visibility: hidden;
  transition: top 0.4s ease;
  position: absolute;
  top: 0%;
  left: 0;
  background: #308453;
}
/* line 72, ../sass/components/_10-tutorial.scss */
.tutorial .menu li.item-has-children > ul li {
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 0px 0.2px 0px 0px rgba(255, 255, 255, 0.75);
  display: list-item;
}
/* line 77, ../sass/components/_10-tutorial.scss */
.tutorial .menu li.item-has-children > ul li:last-child {
  padding-bottom: 0.2rem;
  box-shadow: none;
}
/* line 81, ../sass/components/_10-tutorial.scss */
.tutorial .menu li.item-has-children > ul li a {
  line-height: 2.4rem;
}
/* line 86, ../sass/components/_10-tutorial.scss */
.tutorial .menu li.item-has-children:hover {
  background: #308453;
}
/* line 88, ../sass/components/_10-tutorial.scss */
.tutorial .menu li.item-has-children:hover > ul {
  visibility: visible;
  top: 100%;
}
/* line 93, ../sass/components/_10-tutorial.scss */
.tutorial .menu li.item-has-children:after {
  content: "";
  border: 0.3125rem solid transparent;
  border-top: 0.375rem solid #fff;
  opacity: .5;
  height: 0;
  width: 0;
  display: inline-block;
  position: absolute;
  top: 48%;
  right: 0.5rem;
}
/* line 106, ../sass/components/_10-tutorial.scss */
.tutorial .menu li a {
  color: #dfdfdf;
  white-space: nowrap;
  line-height: 1.8rem;
  display: block;
  text-decoration: none !important;
  transition: color 0.3s ease;
}
/* line 113, ../sass/components/_10-tutorial.scss */
.tutorial .menu li a:hover {
  color: white;
}
/* line 118, ../sass/components/_10-tutorial.scss */
.tutorial .menu > li.item-no-children:hover {
  background: #308453;
}
/* line 122, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation {
  font-family: ArialNarrow, sans-serif;
  font-weight: 100;
  position: relative;
  list-style: none;
  display: block;
  background: #efefef;
  border-radius: 0.4rem;
}
/* line 130, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li {
  transition: background 0.5s ease;
  display: block;
  position: relative;
  margin: 0rem 0rem 0rem 0rem;
}
/* line 135, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li.item-type-a {
  text-align: center;
  background: #efefef;
}
/* line 138, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li.item-type-a:first-child {
  padding-top: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
/* line 143, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li.item-type-a:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
/* line 147, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li.item-type-a > a {
  font-size: 1.3rem;
  padding: 0.5rem;
  display: block;
}
/* line 151, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li.item-type-a > a:hover {
  color: #308453;
}
/* line 155, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li.item-type-a:hover {
  background: #eeeeee;
}
/* line 160, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li.item-type-b {
  text-align: center;
  background: #308453;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
/* line 165, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li.item-type-b:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
/* line 169, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li.item-type-b:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
/* line 173, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li.item-type-b > a {
  font-size: 1.3rem;
  color: white;
  padding: 0.8rem;
  display: block;
}
/* line 181, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li.item-type-b.is-active a:after {
  content: "";
  border: 0.3125rem solid transparent;
  border-left: 0.375rem solid white;
  opacity: .8;
  height: 0;
  width: 0;
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 0.3rem;
}
/* line 196, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li.item-type-c {
  text-align: right;
  line-height: 1.25rem;
  background: #efefef;
}
/* line 200, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li.item-type-c:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
/* line 204, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li.item-type-c:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-bottom: 0.8rem;
}
/* line 210, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li.item-type-c:hover a {
  color: #308453;
}
/* line 215, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li.item-type-c.is-active a {
  color: #308453;
}
/* line 217, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li.item-type-c.is-active a:after {
  content: "";
  border: 0.3125rem solid transparent;
  border-left: 0.375rem solid #005cad;
  opacity: .4;
  height: 0;
  width: 0;
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 0.3rem;
}
/* line 231, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li.item-type-c > a {
  font-size: 1.3rem;
  display: block;
  position: relative;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
}
/* line 241, ../sass/components/_10-tutorial.scss */
.tutorial .sub-navigation li a {
  text-decoration: none;
}
/* line 246, ../sass/components/_10-tutorial.scss */
.tutorial .menu2 {
  position: relative;
  list-style: none;
  display: block;
  box-shadow: 0px 0.25px 0px 0px rgba(255, 255, 255, 0.75), 0px -0.25px 0px 0px rgba(255, 255, 255, 0.75);
}
/* line 252, ../sass/components/_10-tutorial.scss */
.tutorial .menu2 li {
  line-height: 1.7rem;
  vertical-align: middle;
  position: relative;
  display: block;
  padding: 0.4rem 0.2rem 0.2rem 0rem;
}
/* line 259, ../sass/components/_10-tutorial.scss */
.tutorial .menu2 li.is-active a {
  color: white;
}
/* line 264, ../sass/components/_10-tutorial.scss */
.tutorial .menu2 li.no-menu a:first-child {
  visibility: hidden;
}
/* line 268, ../sass/components/_10-tutorial.scss */
.tutorial .menu2 li a {
  line-height: 1.3rem;
  color: #aaaaaa;
  font-size: 1.2rem;
  text-decoration: none !important;
  transition: color 0.3s ease;
  padding-left: 2.5rem;
  display: inline-block;
  width: 100%;
}
/* line 277, ../sass/components/_10-tutorial.scss */
.tutorial .menu2 li a:hover {
  color: #dddddd;
}
/* line 281, ../sass/components/_10-tutorial.scss */
.tutorial .menu2 li a:first-child {
  line-height: 1.3rem;
  padding-left: 0.3rem;
  position: absolute;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  top: 0.5rem;
}
/* line 290, ../sass/components/_10-tutorial.scss */
.tutorial .menu2 li.item-type-aa {
  box-shadow: 0px;
}
/* line 293, ../sass/components/_10-tutorial.scss */
.tutorial .menu2 li.item-type-bb {
  text-align: center;
  background: #0088ff;
}
/* line 297, ../sass/components/_10-tutorial.scss */
.tutorial .menu2 li.item-type-bb > a {
  font-size: 1.2rem;
  color: white;
  padding: 0.6rem;
  display: block;
}
/* line 310, ../sass/components/_10-tutorial.scss */
.tutorial .menu2 li.item-type-c {
  margin-left: 2.2rem;
}

/* line 2, ../sass/components/_11-recipe.scss */
.recipe h1 {
  background-color: #F5F2F2;
  position: relative;
  display: inline-block;
  border-radius: 0.3rem;
  padding: 0.2rem 5.3rem 0.5rem 0.5rem;
  width: 100%;
}
@media only screen and (min-width: 500px) {
  /* line 2, ../sass/components/_11-recipe.scss */
  .recipe h1 {
    width: 50%;
  }
}
/* line 12, ../sass/components/_11-recipe.scss */
.recipe h1 .intro, .recipe h1 .tags {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-right: -4rem;
  color: black;
}
/* line 18, ../sass/components/_11-recipe.scss */
.recipe h1 .intro {
  margin-top: 0.5rem;
}
/* line 21, ../sass/components/_11-recipe.scss */
.recipe h1 .tags {
  margin-top: 1rem;
}
/* line 24, ../sass/components/_11-recipe.scss */
.recipe h1 .i-tags {
  margin-right: 0.4rem;
}
/* line 27, ../sass/components/_11-recipe.scss */
.recipe h1 .tags {
  color: grey;
}
/* line 32, ../sass/components/_11-recipe.scss */
.recipe .duration {
  position: absolute;
  top: 0.4rem;
  right: 0.5rem;
  font-size: 1.2rem;
}
/* line 37, ../sass/components/_11-recipe.scss */
.recipe .duration i {
  text-shadow: 1px 1px 0px white;
  font-size: 1.3rem;
  margin-right: 0.1rem;
}
/* line 43, ../sass/components/_11-recipe.scss */
.recipe h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
/* line 47, ../sass/components/_11-recipe.scss */
.recipe ul {
  margin-bottom: 1.5rem !important;
}
/* line 50, ../sass/components/_11-recipe.scss */
.recipe li {
  line-height: 1.4rem;
}
/* line 53, ../sass/components/_11-recipe.scss */
.recipe hr {
  color: #F5F2F2;
}

/* line 2, ../sass/components/_12-article.scss */
.article h1 {
  display: inline-block;
  padding: 0.2rem 5.3rem 0.5rem 0rem;
  width: 100%;
}
@media only screen and (min-width: 500px) {
  /* line 2, ../sass/components/_12-article.scss */
  .article h1 {
    width: 50%;
  }
}
/* line 11, ../sass/components/_12-article.scss */
.article h1 .intro, .article h1 .tags {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-right: -4rem;
  color: black;
}
/* line 17, ../sass/components/_12-article.scss */
.article h1 .intro {
  margin-top: 0.5rem;
  display: none;
}
/* line 21, ../sass/components/_12-article.scss */
.article h1 .tags {
  margin-top: 1rem;
}
/* line 24, ../sass/components/_12-article.scss */
.article h1 .i-tags {
  margin-right: 0.4rem;
}
/* line 27, ../sass/components/_12-article.scss */
.article h1 .tags {
  color: grey;
}
/* line 32, ../sass/components/_12-article.scss */
.article .date {
  font-size: 1.2rem;
}
/* line 34, ../sass/components/_12-article.scss */
.article .date i {
  text-shadow: 1px 1px 0px white;
  font-size: 1.3rem;
  margin-top: -1rem;
}
/* line 40, ../sass/components/_12-article.scss */
.article h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
/* line 44, ../sass/components/_12-article.scss */
.article ul {
  margin-bottom: 1.5rem !important;
}
/* line 47, ../sass/components/_12-article.scss */
.article li {
  line-height: 1.4rem;
}
/* line 50, ../sass/components/_12-article.scss */
.article hr {
  color: #F5F2F2;
}

/* line 1, ../sass/components/_13-product.scss */
.product {
  text-align: right;
}
/* line 3, ../sass/components/_13-product.scss */
.product h1 {
  text-align: left;
  background-color: #F5F2F2;
  position: relative;
  display: inline-block;
  border-radius: 0.3rem;
  padding: 0.2rem 5.3rem 0.5rem 0.5rem;
  width: 100%;
  min-height: 5.3rem;
}
@media only screen and (min-width: 550px) {
  /* line 3, ../sass/components/_13-product.scss */
  .product h1 {
    width: 50%;
  }
}
/* line 16, ../sass/components/_13-product.scss */
.product h1 .item {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.3rem;
  margin-right: -4rem;
  color: grey;
}
/* line 23, ../sass/components/_13-product.scss */
.product h1 .intro, .product h1 .tags {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-right: -4rem;
  color: black;
}
/* line 29, ../sass/components/_13-product.scss */
.product h1 .intro {
  margin-top: 0.5rem;
}
/* line 33, ../sass/components/_13-product.scss */
.product h1 .tags {
  margin-top: 1rem;
}
/* line 36, ../sass/components/_13-product.scss */
.product h1 .i-tags {
  margin-right: 0.4rem;
}
/* line 39, ../sass/components/_13-product.scss */
.product h1 .tags {
  color: grey;
}
/* line 43, ../sass/components/_13-product.scss */
.product .price {
  position: absolute;
  top: 0.4rem;
  right: 0.5rem;
  font-size: 1.2rem;
}
/* line 48, ../sass/components/_13-product.scss */
.product .price i {
  text-shadow: 1px 1px 0px white;
  font-size: 1.3rem;
  margin-right: 0.1rem;
}
/* line 54, ../sass/components/_13-product.scss */
.product .add-to-cart {
  position: absolute;
  top: 3rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 0.4rem;
  right: 0.5rem;
  font-size: 0.9rem;
}
/* line 61, ../sass/components/_13-product.scss */
.product .add-to-cart i {
  text-shadow: 1px 1px 0px white;
  font-size: 1.3rem;
  margin-right: 0.1rem;
}
/* line 67, ../sass/components/_13-product.scss */
.product h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
/* line 71, ../sass/components/_13-product.scss */
.product ul {
  margin-bottom: 1.5rem !important;
}
/* line 74, ../sass/components/_13-product.scss */
.product li {
  line-height: 1.4rem;
}
/* line 77, ../sass/components/_13-product.scss */
.product hr {
  color: #F5F2F2;
}
/* line 80, ../sass/components/_13-product.scss */
.product .left {
  text-align: left;
}
/* line 84, ../sass/components/_13-product.scss */
.product img {
  background-color: rgba(0, 136, 255, 0);
  border-radius: 0.25rem;
}
/* line 87, ../sass/components/_13-product.scss */
.product img.zoom {
  width: 100%;
  float: left;
  clear: left;
  margin-right: 1rem;
}
/* line 90, ../sass/components/_13-product.scss */
.product img.border {
  border: 1px solid rgba(0, 136, 255, 0.5);
  padding: 0.5rem;
  border-radius: 0.3rem;
}
@media only screen and (min-width: 550px) {
  /* line 98, ../sass/components/_13-product.scss */
  .product img.zoom {
    width: 45%;
    float: left;
    clear: left;
    margin-right: 1rem;
  }
}
@media only screen and (min-width: 850px) {
  /* line 105, ../sass/components/_13-product.scss */
  .product img.zoom {
    width: 48%;
    float: left;
    clear: left;
    margin-right: 1rem;
  }
}
/* line 110, ../sass/components/_13-product.scss */
.product .gallery {
  text-align: left;
  margin-left: 0;
  list-style: none !important;
}
/* line 112, ../sass/components/_13-product.scss */
.product .gallery ul {
  margin: 0.5rem 0rem 0.6rem 0rem;
}
/* line 118, ../sass/components/_13-product.scss */
.product .gallery li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 100%;
  padding: 0rem;
  padding-top: 1rem;
}
@media only screen and (min-width: 350px) {
  /* line 118, ../sass/components/_13-product.scss */
  .product .gallery li {
    width: 30%;
  }
}
@media only screen and (min-width: 440px) {
  /* line 118, ../sass/components/_13-product.scss */
  .product .gallery li {
    width: 24%;
  }
}
@media only screen and (min-width: 640px) {
  /* line 118, ../sass/components/_13-product.scss */
  .product .gallery li {
    width: 7rem;
  }
}
/* line 134, ../sass/components/_13-product.scss */
.product .gallery li img.landscape {
  width: 100%;
}
/* line 137, ../sass/components/_13-product.scss */
.product .gallery li img.portrait {
  width: 80%;
}
/* line 142, ../sass/components/_13-product.scss */
.product .hide {
  display: none;
}

/* line 146, ../sass/components/_13-product.scss */
.zoomWindow {
  border-radius: 0.3rem;
}

/* Slider */
/* line 3, ../sass/components/_14-slick.scss */
.teaser {
  display: none;
}
/* line 5, ../sass/components/_14-slick.scss */
.teaser .slick-prev, .teaser .slick-next {
  display: none !important;
}
/* line 8, ../sass/components/_14-slick.scss */
.teaser .slick-track {
  height: inherit !important;
  overflow: hidden !important;
}
/* line 12, ../sass/components/_14-slick.scss */
.teaser img {
  width: 100%;
}
/* line 15, ../sass/components/_14-slick.scss */
.teaser div.slide-container {
  width: 100% !important;
}

/* line 20, ../sass/components/_14-slick.scss */
.slideshow {
  display: none;
}

/* line 24, ../sass/components/_14-slick.scss */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 39, ../sass/components/_14-slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 46, ../sass/components/_14-slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 50, ../sass/components/_14-slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 55, ../sass/components/_14-slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 64, ../sass/components/_14-slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  border-radius: 0.5rem;
  height: 500px;
  overflow: auto;
}
/* line 75, ../sass/components/_14-slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
}
/* line 82, ../sass/components/_14-slick.scss */
.slick-track:after {
  clear: both;
}
/* line 86, ../sass/components/_14-slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 90, ../sass/components/_14-slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
  text-align: center;
}
/* line 94, ../sass/components/_14-slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 97, ../sass/components/_14-slick.scss */
.slick-slide img {
  margin-bottom: 1rem;
}
/* line 101, ../sass/components/_14-slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 107, ../sass/components/_14-slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 111, ../sass/components/_14-slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 115, ../sass/components/_14-slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 119, ../sass/components/_14-slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
/* line 125, ../sass/components/_14-slick.scss */
.slick-slide:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 132, ../sass/components/_14-slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* line 29, ../sass/components/_15-slick-theme.scss */
.slick-loading .slick-list {
  background: #fff url("../slick/slick/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../slick/slick/fonts/slick.eot");
  src: url("../slick/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("../slick/slick/fonts/slick.woff") format("woff"), url("../slick/slick/fonts/slick.ttf") format("truetype"), url("../slick/slick/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 46, ../sass/components/_15-slick-theme.scss */
div.slide-container {
  vertical-align: middle;
  display: inline-block;
  width: 90%;
  margin: 0px;
  border: 0px solid gray;
  line-height: 150%;
  overflow: auto;
}

/* line 47, ../sass/components/_15-slick-theme.scss */
div.slide-header, div.slider-footer {
  padding: 0.5em;
  color: white;
  background-color: gray;
  clear: left;
}

/* line 48, ../sass/components/_15-slick-theme.scss */
h1.header {
  padding: 0;
  margin: 0;
}

/* line 49, ../sass/components/_15-slick-theme.scss */
div.slide-left {
  float: left;
  width: 160px;
  margin: 0;
  padding: 1em;
}

/* line 50, ../sass/components/_15-slick-theme.scss */
div.slide-content {
  margin-left: 190px;
  padding: 1em;
}

/* Arrows */
/* line 54, ../sass/components/_15-slick-theme.scss */
.slick-prev,
.slick-next {
  z-index: 1000;
  text-shadow: 0.5px 0.5px 0px white;
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
/* line 75, ../sass/components/_15-slick-theme.scss */
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
/* line 79, ../sass/components/_15-slick-theme.scss */
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
/* line 83, ../sass/components/_15-slick-theme.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

/* line 88, ../sass/components/_15-slick-theme.scss */
.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #0088ff;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 98, ../sass/components/_15-slick-theme.scss */
.slick-prev {
  left: 0px;
}
/* line 100, ../sass/components/_15-slick-theme.scss */
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
/* line 104, ../sass/components/_15-slick-theme.scss */
.slick-prev:before {
  content: "←";
}
/* line 106, ../sass/components/_15-slick-theme.scss */
[dir="rtl"] .slick-prev:before {
  content: "→";
}

/* line 112, ../sass/components/_15-slick-theme.scss */
.slick-next {
  right: 0px;
}
/* line 114, ../sass/components/_15-slick-theme.scss */
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
/* line 118, ../sass/components/_15-slick-theme.scss */
.slick-next:before {
  content: "→";
}
/* line 120, ../sass/components/_15-slick-theme.scss */
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
/* line 132, ../sass/components/_15-slick-theme.scss */
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
/* line 140, ../sass/components/_15-slick-theme.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 148, ../sass/components/_15-slick-theme.scss */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
/* line 160, ../sass/components/_15-slick-theme.scss */
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
/* line 162, ../sass/components/_15-slick-theme.scss */
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 166, ../sass/components/_15-slick-theme.scss */
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 183, ../sass/components/_15-slick-theme.scss */
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@font-face {
  font-family: 'wwwebify';
  src: url("../icons/fonts/wwwebify.eot?n5w8jl");
  src: url("../icons/fonts/wwwebify.eot?n5w8jl#iefix") format("embedded-opentype"), url("../icons/fonts/wwwebify.ttf?n5w8jl") format("truetype"), url("../icons/fonts/wwwebify.woff?n5w8jl") format("woff"), url("../icons/fonts/wwwebify.svg?n5w8jl#wwwebify") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/components/_16-icons.scss */
[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wwwebify' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../sass/components/_16-icons.scss */
.i-close3:before {
  content: "\e054";
}

/* line 30, ../sass/components/_16-icons.scss */
.i-redirect:before {
  content: "\e087";
}

/* line 33, ../sass/components/_16-icons.scss */
.i-image:before {
  content: "\e0e6";
}

/* line 36, ../sass/components/_16-icons.scss */
.i-slide:before {
  content: "\e0f0";
}

/* line 39, ../sass/components/_16-icons.scss */
.i-openmenu:before {
  content: "\e600";
}

/* line 42, ../sass/components/_16-icons.scss */
.i-closemenu:before {
  content: "\e601";
}

/* line 45, ../sass/components/_16-icons.scss */
.i-more2:before {
  content: "\e602";
}

/* line 48, ../sass/components/_16-icons.scss */
.i-more:before {
  content: "\e603";
}

/* line 51, ../sass/components/_16-icons.scss */
.i-active:before {
  content: "\e604";
}

/* line 54, ../sass/components/_16-icons.scss */
.i-next:before {
  content: "\e605";
}

/* line 57, ../sass/components/_16-icons.scss */
.i-previous:before {
  content: "\e606";
}

/* line 60, ../sass/components/_16-icons.scss */
.i-rlist:before {
  content: "\e607";
}

/* line 63, ../sass/components/_16-icons.scss */
.i-list:before {
  content: "\e608";
}

/* line 66, ../sass/components/_16-icons.scss */
.i-wwwebify:before {
  content: "\e609";
}

/* line 69, ../sass/components/_16-icons.scss */
.i-save:before {
  content: "\e60a";
}

/* line 72, ../sass/components/_16-icons.scss */
.i-images:before {
  content: "\e60b";
}

/* line 75, ../sass/components/_16-icons.scss */
.i-pagepartfolder:before {
  content: "\e60c";
}

/* line 78, ../sass/components/_16-icons.scss */
.i-contentpart:before {
  content: "\e60d";
}

/* line 81, ../sass/components/_16-icons.scss */
.i-pagepart:before {
  content: "\e60e";
}

/* line 84, ../sass/components/_16-icons.scss */
.i-log:before {
  content: "\e60f";
}

/* line 87, ../sass/components/_16-icons.scss */
.i-contentpartfolder:before {
  content: "\e610";
}

/* line 90, ../sass/components/_16-icons.scss */
.i-menu:before {
  content: "\e900";
}

/* line 93, ../sass/components/_16-icons.scss */
.i-zoom-out:before {
  content: "\e901";
}

/* line 96, ../sass/components/_16-icons.scss */
.i-zoom-in:before {
  content: "\e902";
}

/* line 99, ../sass/components/_16-icons.scss */
.i-close4:before {
  content: "\e903";
}

/* line 102, ../sass/components/_16-icons.scss */
.i-close5:before {
  content: "\e904";
}

/* line 105, ../sass/components/_16-icons.scss */
.i-slide-in:before {
  content: "\e905";
}

/* line 108, ../sass/components/_16-icons.scss */
.i-forward:before {
  content: "\e906";
}

/* line 111, ../sass/components/_16-icons.scss */
.i-back:before {
  content: "\e907";
}

/* line 114, ../sass/components/_16-icons.scss */
.i-search:before {
  content: "\e908";
}

/* line 117, ../sass/components/_16-icons.scss */
.i-search-cancel:before {
  content: "\e909";
}

/* line 120, ../sass/components/_16-icons.scss */
.i-clear:before {
  content: "\e90a";
}

/* line 123, ../sass/components/_16-icons.scss */
.i-audio:before {
  content: "\f001";
}

/* line 126, ../sass/components/_16-icons.scss */
.i-medium:before {
  content: "\f009";
}

/* line 129, ../sass/components/_16-icons.scss */
.i-small:before {
  content: "\f00a";
}

/* line 132, ../sass/components/_16-icons.scss */
.i-index:before {
  content: "\f00b";
}

/* line 135, ../sass/components/_16-icons.scss */
.i-check:before {
  content: "\f00c";
}

/* line 138, ../sass/components/_16-icons.scss */
.i-uncheck:before {
  content: "\f00d";
}

/* line 141, ../sass/components/_16-icons.scss */
.i-home:before {
  content: "\f015";
}

/* line 144, ../sass/components/_16-icons.scss */
.i-file2:before {
  content: "\f016";
}

/* line 147, ../sass/components/_16-icons.scss */
.i-refresh:before {
  content: "\f021";
}

/* line 150, ../sass/components/_16-icons.scss */
.i-fields:before {
  content: "\f022";
}

/* line 153, ../sass/components/_16-icons.scss */
.i-lock:before {
  content: "\f023";
}

/* line 156, ../sass/components/_16-icons.scss */
.i-tag:before {
  content: "\f02b";
}

/* line 159, ../sass/components/_16-icons.scss */
.i-tags:before {
  content: "\f02c";
}

/* line 162, ../sass/components/_16-icons.scss */
.i-video:before {
  content: "\f03d";
}

/* line 165, ../sass/components/_16-icons.scss */
.i-image2:before {
  content: "\f03e";
}

/* line 168, ../sass/components/_16-icons.scss */
.i-edit:before {
  content: "\f040";
}

/* line 171, ../sass/components/_16-icons.scss */
.i-edit2:before {
  content: "\f044";
}

/* line 174, ../sass/components/_16-icons.scss */
.i-move:before {
  content: "\f047";
}

/* line 177, ../sass/components/_16-icons.scss */
.i-close2:before {
  content: "\f057";
}

/* line 180, ../sass/components/_16-icons.scss */
.i-larger:before {
  content: "\f065";
}

/* line 183, ../sass/components/_16-icons.scss */
.i-smaller:before {
  content: "\f066";
}

/* line 186, ../sass/components/_16-icons.scss */
.i-view:before {
  content: "\f06e";
}

/* line 189, ../sass/components/_16-icons.scss */
.i-stopview:before {
  content: "\f070";
}

/* line 192, ../sass/components/_16-icons.scss */
.i-convert:before {
  content: "\f079";
}

/* line 195, ../sass/components/_16-icons.scss */
.i-folder2:before {
  content: "\f07b";
}

/* line 198, ../sass/components/_16-icons.scss */
.i-folder2-open:before {
  content: "\f07c";
}

/* line 201, ../sass/components/_16-icons.scss */
.i-fixedheight:before {
  content: "\f07d";
}

/* line 204, ../sass/components/_16-icons.scss */
.i-fixedwidth:before {
  content: "\f07e";
}

/* line 207, ../sass/components/_16-icons.scss */
.i-statistics:before {
  content: "\f080";
}

/* line 210, ../sass/components/_16-icons.scss */
.i-twitter:before {
  content: "\f081";
}

/* line 213, ../sass/components/_16-icons.scss */
.i-facebook:before {
  content: "\f082";
}

/* line 216, ../sass/components/_16-icons.scss */
.i-build:before {
  content: "\f085";
}

/* line 219, ../sass/components/_16-icons.scss */
.i-linkedin:before {
  content: "\f08c";
}

/* line 222, ../sass/components/_16-icons.scss */
.i-pin:before {
  content: "\f08d";
}

/* line 225, ../sass/components/_16-icons.scss */
.i-import:before {
  content: "\f090";
}

/* line 228, ../sass/components/_16-icons.scss */
.i-phone:before {
  content: "\f098";
}

/* line 231, ../sass/components/_16-icons.scss */
.i-unlock:before {
  content: "\f09c";
}

/* line 234, ../sass/components/_16-icons.scss */
.i-project:before {
  content: "\f0ac";
}

/* line 237, ../sass/components/_16-icons.scss */
.i-tools:before {
  content: "\f0ad";
}

/* line 240, ../sass/components/_16-icons.scss */
.i-fullscreen:before {
  content: "\f0b2";
}

/* line 243, ../sass/components/_16-icons.scss */
.i-link:before {
  content: "\f0c1";
}

/* line 246, ../sass/components/_16-icons.scss */
.i-copy:before {
  content: "\f0c5";
}

/* line 249, ../sass/components/_16-icons.scss */
.i-include:before {
  content: "\f0c6";
}

/* line 252, ../sass/components/_16-icons.scss */
.i-save2:before {
  content: "\f0c7";
}

/* line 255, ../sass/components/_16-icons.scss */
.i-large:before {
  content: "\f0c8";
}

/* line 258, ../sass/components/_16-icons.scss */
.i-slide-out:before {
  content: "\f0c9";
}

/* line 261, ../sass/components/_16-icons.scss */
.i-extra:before {
  content: "\f0d0";
}

/* line 264, ../sass/components/_16-icons.scss */
.i-pininterest:before {
  content: "\f0d3";
}

/* line 267, ../sass/components/_16-icons.scss */
.i-googleplus:before {
  content: "\f0d4";
}

/* line 270, ../sass/components/_16-icons.scss */
.i-close:before {
  content: "\f0d8";
}

/* line 273, ../sass/components/_16-icons.scss */
.i-openright:before {
  content: "\f0d9";
}

/* line 276, ../sass/components/_16-icons.scss */
.i-openleft:before {
  content: "\f0da";
}

/* line 279, ../sass/components/_16-icons.scss */
.i-sort:before {
  content: "\f0dc";
}

/* line 282, ../sass/components/_16-icons.scss */
.i-down:before {
  content: "\f0dd";
}

/* line 285, ../sass/components/_16-icons.scss */
.i-up:before {
  content: "\f0de";
}

/* line 288, ../sass/components/_16-icons.scss */
.i-mail:before {
  content: "\f0e0";
}

/* line 291, ../sass/components/_16-icons.scss */
.i-tree:before {
  content: "\f0e8";
}

/* line 294, ../sass/components/_16-icons.scss */
.i-file:before {
  content: "\f0f6";
}

/* line 297, ../sass/components/_16-icons.scss */
.i-add:before {
  content: "\f0fe";
}

/* line 300, ../sass/components/_16-icons.scss */
.i-folder:before {
  content: "\f114";
}

/* line 303, ../sass/components/_16-icons.scss */
.i-folder-open:before {
  content: "\f115";
}

/* line 306, ../sass/components/_16-icons.scss */
.i-template:before {
  content: "\f121";
}

/* line 309, ../sass/components/_16-icons.scss */
.i-help:before {
  content: "\f128";
}

/* line 312, ../sass/components/_16-icons.scss */
.i-info:before {
  content: "\f129";
}

/* line 315, ../sass/components/_16-icons.scss */
.i-attention:before {
  content: "\f12a";
}

/* line 318, ../sass/components/_16-icons.scss */
.i-rss:before {
  content: "\f143";
}

/* line 321, ../sass/components/_16-icons.scss */
.i-file3:before {
  content: "\f15b";
}

/* line 324, ../sass/components/_16-icons.scss */
.i-content:before {
  content: "\f15c";
}

/* line 327, ../sass/components/_16-icons.scss */
.i-youtube:before {
  content: "\f167";
}

/* line 330, ../sass/components/_16-icons.scss */
.i-data:before {
  content: "\f1c0";
}

/* line 333, ../sass/components/_16-icons.scss */
.i-pdf:before {
  content: "\f1c1";
}

/* line 336, ../sass/components/_16-icons.scss */
.i-word:before {
  content: "\f1c2";
}

/* line 339, ../sass/components/_16-icons.scss */
.i-excel:before {
  content: "\f1c3";
}

/* line 342, ../sass/components/_16-icons.scss */
.i-powerpoint:before {
  content: "\f1c4";
}

/* line 345, ../sass/components/_16-icons.scss */
.i-image3:before {
  content: "\f1c5";
}

/* line 348, ../sass/components/_16-icons.scss */
.i-css:before {
  content: "\f1c6";
}

/* line 351, ../sass/components/_16-icons.scss */
.i-audio2:before {
  content: "\f1c7";
}

/* line 354, ../sass/components/_16-icons.scss */
.i-video2:before {
  content: "\f1c8";
}

/* line 357, ../sass/components/_16-icons.scss */
.i-template2:before {
  content: "\f1c9";
}

/* line 360, ../sass/components/_16-icons.scss */
.i-settings:before {
  content: "\f1de";
}

/* line 363, ../sass/components/_16-icons.scss */
.i-visa:before {
  content: "\f1f0";
}

/* line 366, ../sass/components/_16-icons.scss */
.i-mastercard:before {
  content: "\f1f1";
}

/* line 369, ../sass/components/_16-icons.scss */
.i-americanexpres:before {
  content: "\f1f3";
}

/* line 372, ../sass/components/_16-icons.scss */
.i-paypal:before {
  content: "\f1f4";
}

/* line 375, ../sass/components/_16-icons.scss */
.i-stripe:before {
  content: "\f1f5";
}

/* line 378, ../sass/components/_16-icons.scss */
.i-delete:before {
  content: "\f1f8";
}

/* line 381, ../sass/components/_16-icons.scss */
.i-stopwatch:before {
  content: "\e90b";
}

/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/
/* line 7, ../sass/components/_17-highlight.scss */
.hljs {
  display: block;
  padding: 0.5em;
  background: #fbfbfb;
  border-radius: .4em;
  border: 1px solid #e0e0e0;
  margin: 10px 0 10px 0;
  overflow: auto;
}

/* line 16, ../sass/components/_17-highlight.scss */
.hljs,
.hljs-subst,
.hljs-tag .hljs-title,
.lisp .hljs-title,
.clojure .hljs-built_in,
.nginx .hljs-title {
  color: black;
}

/* line 25, ../sass/components/_17-highlight.scss */
.hljs-string,
.hljs-title,
.hljs-constant,
.hljs-parent,
.hljs-tag .hljs-value,
.hljs-rules .hljs-value,
.hljs-rules .hljs-value .hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.haml .hljs-symbol,
.ruby .hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.hljs-aggregate,
.hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.hljs-addition,
.hljs-flow,
.hljs-stream,
.bash .hljs-variable,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.tex .hljs-special,
.erlang_repl .hljs-function_or_atom,
.asciidoc .hljs-header,
.markdown .hljs-header,
.coffeescript .hljs-attribute {
  color: #800;
}

/* line 56, ../sass/components/_17-highlight.scss */
.smartquote,
.hljs-comment,
.hljs-annotation,
.hljs-template_comment,
.diff .hljs-header,
.hljs-chunk,
.asciidoc .hljs-blockquote,
.markdown .hljs-blockquote {
  color: #888;
}

/* line 67, ../sass/components/_17-highlight.scss */
.hljs-number,
.hljs-date,
.hljs-regexp,
.hljs-literal,
.hljs-hexcolor,
.smalltalk .hljs-symbol,
.smalltalk .hljs-char,
.go .hljs-constant,
.hljs-change,
.lasso .hljs-variable,
.makefile .hljs-variable,
.asciidoc .hljs-bullet,
.markdown .hljs-bullet,
.asciidoc .hljs-link_url,
.markdown .hljs-link_url {
  color: #080;
}

/* line 85, ../sass/components/_17-highlight.scss */
.hljs-label,
.hljs-javadoc,
.ruby .hljs-string,
.hljs-decorator,
.hljs-filter .hljs-argument,
.hljs-localvars,
.hljs-array,
.hljs-attr_selector,
.hljs-important,
.hljs-pseudo,
.hljs-pi,
.haml .hljs-bullet,
.hljs-doctype,
.hljs-deletion,
.hljs-envvar,
.hljs-shebang,
.apache .hljs-sqbracket,
.nginx .hljs-built_in,
.tex .hljs-formula,
.erlang_repl .hljs-reserved,
.hljs-prompt,
.asciidoc .hljs-link_label,
.markdown .hljs-link_label,
.vhdl .hljs-attribute,
.clojure .hljs-attribute,
.asciidoc .hljs-attribute,
.lasso .hljs-attribute,
.coffeescript .hljs-property,
.hljs-phony {
  color: #88F;
}

/* line 117, ../sass/components/_17-highlight.scss */
.hljs-keyword,
.hljs-id,
.hljs-title,
.hljs-built_in,
.hljs-aggregate,
.css .hljs-tag,
.hljs-javadoctag,
.hljs-phpdoc,
.hljs-yardoctag,
.smalltalk .hljs-class,
.hljs-winutils,
.bash .hljs-variable,
.apache .hljs-tag,
.go .hljs-typename,
.tex .hljs-command,
.asciidoc .hljs-strong,
.markdown .hljs-strong,
.hljs-request,
.hljs-status {
  font-weight: bold;
}

/* line 139, ../sass/components/_17-highlight.scss */
.asciidoc .hljs-emphasis,
.markdown .hljs-emphasis {
  font-style: italic;
}

/* line 144, ../sass/components/_17-highlight.scss */
.nginx .hljs-built_in {
  font-weight: normal;
}

/* line 148, ../sass/components/_17-highlight.scss */
.coffeescript .javascript,
.javascript .xml,
.lasso .markup,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
