<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>30min</div>
		<div class="intro">Try this awesome creamy chicken recipe, this will warm you up from inside on a chilly winter night.</div>
		<div class="tags"><i class="i-tags"></i>Christmas, New Year</div>
	</h1>
	<img class="right" src="../images/crock-pot chicken tikka masala.jpg" title="Crock-pot chicken tikka masala"/>
	<h2>Ingredients<small> (Serves 6)</small></h2> 
	<ul>
		<li>2 lbs / 900 gr free-range organic chicken breasts, cut into 1½-inch chunks</li>
		<li>1 large onion, finely chopped</li>
		<li>4 garlic cloves, minced</li> 
		<li>2 tablespoons grated fresh ginger</li>
		<li>1 (29 oz.) can of tomato sauce</li>
		<li>2 tablespoons olive oil</li>
		<li>1 tablespoon Garam masala</li>
		<li>2 teaspoons ground cumin</li> 
		<li>2 teaspoons ground coriander</li>
		<li>2 teaspoons paprika</li>
		<li>1 teaspoon turmeric</li>
		<li>½ teaspoon cinnamon</li>
		<li>½ teaspoon cayenne pepper</li>
		<li>½ teaspoon ground black pepper</li>
		<li>2 bay leaves</li>
		<li>1 cup / 250 ml heavy cream (or full-fat BPA-free coconut milk)</li>
		<li>2 tablespoons arrowroot powder*</li>
		<li>Juice of ½ lemon</li>
	</ul>
	<h2>Preparation</h2>
	<p>Grease the inside of your crockpot bowl with a bit of olive oil. Set aside.
		 Combine all ingredients (except for bay leaves, heavy cream, arrowroot powder, and lemon juice) in a large bowl. With a large large spatula, stir to combine everything, making sure that the chicken is well coated. 
		 Pour the mixture into the slow cooker and place the two bay leaves on top.
		 Cover and cook for 8 hours on low (or 4 hours on high).
		 When done, in a small bowl combine heavy cream and arrowroot powder (or cornstarch), and gently stir into the mixture. Let cook an additional 20 minutes to thicken up.
		 Finally add lemon juice and gently stir to incorporate.
		 Serve warm.
		 Leftovers can be stored in an airtight container in the fridge for up to 5 days.</p> 
	<h2>Nutrition facts</h2>
	<p>One serving yields 400 calories, 18 grams of fat, 6 grams of carbs, and 49 grams of protein.</p>
</div>