<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>1h30</div>
	</h1>
	<img class="right" src="../images/pizza.jpg" title="Pizza"/>
	<h2>Ingredients</h2>
	<ul>
		<li>Mozarella cheese</li>
		<li>Oregano</li>
		<li>Tomato sauce</li>
		<li>Olive oil</li>
	</ul>
	<h2>Directions</h2>
	<p>Pre-heat oven to 425°F. Place flatbread on baking sheet and brush with olive oil.</p>
	<p>Spread pizza sauce over flatbread. Sprinkle with cheeses.</p>
	<p>Bake 10-12 minutes, until cheese is melted and crust is golden.</p>
</div>	