<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>30min</div>
	</h1>
	<img class="right" src="../images/sauteed broccoli and zucchini casserole.jpg" title="Sauteed broccoli and zucchini casserole" />
	<h2>Ingredients<small> (Serves 4)</small></h2>
	<ul>
		<li>¾ lb / 12 oz / 350 gr broccoli florets (about 4 cups)</li>
		<li>2 medium zucchini, sliced into ¼-inch thick rounds</li>
		<li>½ medium onion, finely chopped</li>
		<li>1 tablespoon olive oil</li>
		<li>¾ teaspoon fine grain sea salt, divided</li>
		<li>¼ teaspoon ground black pepper</li>
		<li>A pinch of red pepper flakes</li>
		<li>3 free-range organic eggs</li>
		<li>½ cup / 115 ml milk (any choice of milk)</li>
		<li>A handful of fresh basil, chopped</li>
		<li>A pinch ground nutmeg</li>
		<li>3 tablespoons grated Parmesan cheese</li>
	</ul>
	<h2>Preparation</h2>
	<p>Preheat oven to 350°F (180°C), place a rack in the middle. Line a 8x8-inch baking dish with parchment paper and set aside.
	Heat the olive oil in a large skillet over medium-high heat. Add onions and a pinch of salt and saute for about 2 to 3 minutes until translucent. Add broccoli florets, zucchini rounds, black pepper, ½ teaspoon of salt, red pepper flakes and about ¼ cup of water.
	Cover with a lid and cook for about 15 to 20 minutes stirring every so often. The vegetables should brown a bit and must be thoroughly cooked, but still retain some of their crunchiness. If needed add more water, a couple of tablespoons at a time. Turn off the heat and let cool for 5 minutes.
	In the meantime, in a large bowl whisk eggs, milk, ¼ teaspoon of salt and nutmeg for a couple of minutes until fluffy. Finally add chopped basil and stir to combine.
	Add the vegetables to baking dish and spread them on an even layer. With the back of a spoon press them down gently.
	Pour the egg mixture over the vegetables and sprinkle with Parmesan cheese.
	Bake in the oven for about 30 minutes, until a skewer inserted into the center comes out clean.
	Serve warm.</p>

	<h2>Nutrition facts</h2>

	<p>One serving yields 140 calories, 5.75 grams of fat, 14 grams of carbs and 12 grams of protein.</p>
</div>