<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>30min</div>
		<div class="intro">Slow cook chicken</div>
		<div class="tags"><i class="i-tags"></i>Oven dish</div>
	</h1>
	<img class="right" src="../images/eggplant rollatini.jpg" title="Eggplant rollatini"/>
	<h2>Ingredients <small>(Serves 6)</small></h2>
	<ul>
		<li>2 large firm eggplants, cut into ½-inch slices</li>
		<li>3 tablespoons extra-virgin olive oil</li>
 		<li>1 medium yellow onion, finely chopped</li>
		<li>2 garlic cloves, minced</li>
		<li>¾ lb / 226 gr ground beef (I used 80/20)</li>
		<li>Fine grain salt and black pepper</li>
		<li>1 (28-ounce) can tomato sauce</li>
		<li>6 oz fresh mozzarella, grated</li>
	</ul>
	<h2>Preparations</h2>
	<p>Heat broiler and line a baking sheet with parchment paper.
		Brush both sides of eggplant slices with 2 tablespoons olive oil and sprinkle with 1 teaspoon salt. 
		Arrange slices on prepared baking sheet and broil in batches until they are deep brown, turning once halfway through, about 5 to 7 minutes per side.
		Adjust the oven temperature to 375°F (190°C) and place a rack in the middle.</p>
		 
	<p>In a large skillet, heat 1 tablespoon of the remaining olive oil over medium heat. 
		 Add onion and sauté until translucent, but not browned, stirring occasionally, about 5 minutes. Add garlic and cook until fragrant, about 1 minute. 
		 Add ground beef, stirring frequently and breaking up meat into very small pieces with the side of a metal spoon. Season with salt and pepper.
		 Sauté until meat is just cooked through, about 8 minutes.</p>
		 
	<p>Add 1 cup of tomato sauce and simmer for 10 to 15 minutes, stirring every now and then. Take a taste and adjust seasoning as needed.
		 Lightly grease a baking dish. Spread ½ cup of tomato sauce in the bottom of the dish. 
		 Place a scant tablespoon of the beef mixture on one end of the eggplant slices and roll up tightly.
		 Place the eggplant rollatini in the baking dish, seam side down. Continue with remaining eggplant slices.
		 Evenly distribute the remaining tomato sauce on top of the eggplant rollatini. Season with salt and pepper and sprinkle with grated mozzarella cheese.
		 Cover with foil and bake for 20 minutes. Uncover and bake for further 5 minutes or until the cheese is bubbly.
		 Serve warm!</p>
		 
	<h2>Nutrition facts</h2>

	<p>One serving yields 368 calories, 25 grams of fat, 19 grams of carbs, and 20 grams of protein. </p>
</div>