<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>1h30</div>
	</h1>
	<img class="right" src="../images/beef_tenderloin.jpg" title="Spinach and mushroom with beef tenderloin"/>
	<h2>Ingredients</h2> 
	<ul>
		<li>4tbsps butter</li>
		<li>2tbsps olive oil</li>
		<li>14ounces mushrooms</li>
		<li>4ounces beef</li>
	</ul>
	<h2>Directions</h2>
	<p>Heat the olive oil in large, heavy-bottomed stockpot over medium-low heat. Once hot, add the leeks, garlic, and a pinch of salt and sweat until they begin to soften, approximately 7 to 8 minutes. Add the carrots, potatoes, and green beans and continue to cook for 4 to 5 more minutes, stirring occasionally.
	</p>
	<p>
	Add the stock, increase the heat to high, and bring to a simmer. Once simmering, add the tomatoes, corn kernels, and pepper. Reduce the heat to low, cover, and cook until the vegetables are fork tender, approximately 25 to 30 minutes. Remove from heat and add the parsley and lemon juice. Season, to taste, with kosher salt. Serve immediately.
	</p>
	
</div>	