<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Try this awesome creamy chicken recipe, this will warm you up from inside on a chilly winter night.">
	<meta name="keywords" content="{{keywords}}">
	<title>Crock-pot chicken tikka masala</title>
	<!--  Built with wwwebify : page href = {{hrefS}} -->
	<link rel="shortcut icon" type="image/x-icon" href="../../../images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../../../stylesheets/main.css" />
	<script>var linkref = "L22";</script>
</head>
<body class="preload">
	<div class="main-header">
		<div class="wrapper">
			<div class="row">
				<div class="sidebar top">
					<a href="../../../index.html" class="logo" title="Lilia Azur">
						<img src="../../../images/lilia_azur_logo_0088f_008400.svg"  alt="Lilia Azur"/>
					</a>
				</div>
				<div class="sidebar top-small">
					<a href="../../../index.html" class="logo" title="Lilia Azur">
						<img src="../../../images/lilia_azur_logo_white.svg"  alt="Lilia Azur"/>
					</a>
				</div>
				<div class="main top">
					<div>
						<div class="main-navigation">	
							<ul class="menu">
								<li class="item-no-children"><a href="../../1_Contact/home.html" target="" >Contact</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../../2_My webshop/home.html" target="" >My webshop</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../home.html" target="" >My recipes</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../../4__My photo's/home.html" target="" >My photo's</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../../9_My blog/home.html" target="" >My blog</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../../999_Sitemap/home.html" target="" >Sitemap</a><ul class="children"></ul></li>
							</ul>
							<div class="right search-container">
								<input class="search-main-text" id="search_main_text"  data-action="search.search_main"/>
								<span class="search-main-clear" id="search_main_clear"><i class="i-clear" data-action="search.searchClear"></i></span>
								<span class="search-main-search"><i class="i-search" data-action="search.searchMainSearch"></i></span>
								<ul class="search-main-dropdown hide" id="search_main_dropdown" ></ul>
							</div>								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-content">
	<div class="wrapper">
		<div class="row">
			<div class="search-results-main" id="search_results_main"></div>
		</div>
		<div class="row" >
			<div id="content">
				<div class="col-sub-nav" id="col_sub_nav">
					<ul class="sub-navigation">
						<li class="item-type-a not-active"><a href="../home.html" target="" >My recipes</a></li><li class="item-type-b not-active"><a href="home.html" target="" >Main courses</a></li><li class="item-type-c is-active"><a href="Crock-pot chicken tikka masala.html" target="" >Crock-pot chicken tikka masala</a></li><li class="item-type-c not-active"><a href="Pizza.html" target="" >Pizza</a></li><li class="item-type-c not-active"><a href="Sauteed broccoli and zucchini casserole.html" target="" >Sauteed broccoli and zucchini casserole</a></li><li class="item-type-c not-active"><a href="Eggplant rollatini.html" target="" >Eggplant rollatini</a></li><li class="item-type-c not-active"><a href="Spinach and mushroom with beef tenderloin.html" target="" >Spinach and mushroom with beef tenderloin</a></li>
					</ul>
				</div>				
				<div class="col-content" id="col_content">
					<div class="content-content" id="contentContent">
						<div class="content-breadcrumb" id="contentBreadcrumb"><a href="../home.html" class="breadcrumb-not-active">My recipes</a> / <a href="home.html" class="breadcrumb-not-active">Main courses</a> / <a href="Crock-pot chicken tikka masala.html" class="breadcrumb-is-active">Crock-pot chicken tikka masala</a></div>
						<div class="text-align-left"><div class="recipe">
	<h1>Crock-pot chicken tikka masala
		<div class="duration"><i class="i-stopwatch"></i>30min</div>
		<div class="intro">Try this awesome creamy chicken recipe, this will warm you up from inside on a chilly winter night.</div>
		<div class="tags"><i class="i-tags"></i>Christmas, New Year</div>
	</h1>
	<img class="right" src="../images/crock-pot chicken tikka masala.jpg" title="Crock-pot chicken tikka masala"/>
	<h2>Ingredients<small> (Serves 6)</small></h2> 
	<ul>
		<li>2 lbs / 900 gr free-range organic chicken breasts, cut into 1½-inch chunks</li>
		<li>1 large onion, finely chopped</li>
		<li>4 garlic cloves, minced</li> 
		<li>2 tablespoons grated fresh ginger</li>
		<li>1 (29 oz.) can of tomato sauce</li>
		<li>2 tablespoons olive oil</li>
		<li>1 tablespoon Garam masala</li>
		<li>2 teaspoons ground cumin</li> 
		<li>2 teaspoons ground coriander</li>
		<li>2 teaspoons paprika</li>
		<li>1 teaspoon turmeric</li>
		<li>½ teaspoon cinnamon</li>
		<li>½ teaspoon cayenne pepper</li>
		<li>½ teaspoon ground black pepper</li>
		<li>2 bay leaves</li>
		<li>1 cup / 250 ml heavy cream (or full-fat BPA-free coconut milk)</li>
		<li>2 tablespoons arrowroot powder*</li>
		<li>Juice of ½ lemon</li>
	</ul>
	<h2>Preparation</h2>
	<p>Grease the inside of your crockpot bowl with a bit of olive oil. Set aside.
		 Combine all ingredients (except for bay leaves, heavy cream, arrowroot powder, and lemon juice) in a large bowl. With a large large spatula, stir to combine everything, making sure that the chicken is well coated. 
		 Pour the mixture into the slow cooker and place the two bay leaves on top.
		 Cover and cook for 8 hours on low (or 4 hours on high).
		 When done, in a small bowl combine heavy cream and arrowroot powder (or cornstarch), and gently stir into the mixture. Let cook an additional 20 minutes to thicken up.
		 Finally add lemon juice and gently stir to incorporate.
		 Serve warm.
		 Leftovers can be stored in an airtight container in the fridge for up to 5 days.</p> 
	<h2>Nutrition facts</h2>
	<p>One serving yields 400 calories, 18 grams of fat, 6 grams of carbs, and 49 grams of protein.</p>
</div></div>
						<div class="previous-next">
							<div class="content-previous" id="contentPreviuos"><a id="previous" class="previous" href="home.html">Main courses</a>	</div>
							<div class="content-next" id="contentNext"><a class="next" id="next" href="Pizza.html">Pizza</a>	</div>
						</div>
						<div class="content-related" id="contentRelated"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="navigation-slide-in-out">
		<div class="header">
			<a href="../../../index.html" class="logo" title="Lilia Azur">
				<img src="../../../images/lilia_azur_logo_white.svg"  alt="Lilia Azur"/>
			</a>
		</div>
		<div class="main">	
			<ul class="menu">
				<li class="item-type-a not-active has-children">
					<a href="../../home.html#menu" target=""><i class="i-menu"></i></a><a href="../../home.html" target="">Home</a>
				</li>
				<li class="item-type-a not-active has-menu"><a class="i-menu" href="../home.html#menu" target="" ></a><a href="../home.html" target="" >My recipes</a></li>		<li class="item-type-b not-active has-menu"><a class="i-menu" href="home.html#menu" target="" ></a><a href="home.html" target="" >Main courses</a></li>		<li class="item-type-c is-active no-menu"><a class="i-menu" href="Crock-pot chicken tikka masala.html#menu" target="" ></a><a href="Crock-pot chicken tikka masala.html" target="" >Crock-pot chicken tikka masala</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="Pizza.html#menu" target="" ></a><a href="Pizza.html" target="" >Pizza</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="Sauteed broccoli and zucchini casserole.html#menu" target="" ></a><a href="Sauteed broccoli and zucchini casserole.html" target="" >Sauteed broccoli and zucchini casserole</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="Eggplant rollatini.html#menu" target="" ></a><a href="Eggplant rollatini.html" target="" >Eggplant rollatini</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="Spinach and mushroom with beef tenderloin.html#menu" target="" ></a><a href="Spinach and mushroom with beef tenderloin.html" target="" >Spinach and mushroom with beef tenderloin</a></li>		
			</ul>
		</div>
		<div class="footer">
			<ul class="menu">
					<li class="item-no-children item-icon"><a class="i-linkedin" href="https://www.linkedin.com/company/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-facebook" href="https://www.facebook.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-twitter" href="https://twitter.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-youtube" href="https://www.youtube.com/user/wwwebify" target="blank"></a></li>
				</ul>
		</div>
	</div>
	<div class="search-slide-in-out">
		<div class="search-in-out-header">
			<div class="header">
				<a href="../../../index.html" class="logo" title="Lilia Azur">
					<img src="../../../images/lilia_azur_logo_white.svg"  alt="Lilia Azur"/>
				</a>
			</div>
			<div class="search-container">
				<div>
					<input class="search-slide-in-out-text" id="search_slide_in_out_text"  data-action="search.search_slide-in-out"/>
					<span class="search-slide-in-out-clear" id="search_slide_in_out_clear"><i class="i-clear" data-action="search.searchClear"></i></span>
					<span class="search-slide-in-out-search"><i class="i-search" data-action="search.searchSlideInOutSearch"></i></span>
				</div>
				<ul class="search-slide-in-out-dropdown hide" id="search_slide_in_out_dropdown" ></ul>
			</div>
		</div>
		<div class="search-results-slide-in-out" id="search_results_slide_in_out"></div>
	</div>
	<div class="main-footer">
	<div class="wrapper">
	<div class="row">
		<div  class="footer" id="footer">
			<div class="social-buttons">
				<ul class="menu">
					<li class="item-no-children item-icon"><a class="i-linkedin" href="https://www.linkedin.com/company/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-facebook" href="https://www.facebook.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-twitter" href="https://twitter.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-youtube" href="https://www.youtube.com/user/wwwebify" target="blank"></a></li>
				</ul>
			</div>
			<div class="secondary-buttons">
				<a class="secondary-button i-zoom-out" href="#" data-action="init.decreaseFontSize"></a>
				<a class="secondary-button i-zoom-in" href="#" data-action="init.increaseFontSize"></a>
			</div>
		</div>
	</div>
	</div>
	</div>
	<div class="buttons-slide-in-out">
		<div class="slide-in-out-search-toggle-button"><i class="i-search" data-action="search.slide_out"></i></div>
		<div class="slide-in-out-slide-out-button"><i class="i-slide-out" data-action="navigation.slide_out"></i></div>
	</div>
	<!-- javascripts -->
	<script src="../../../javascripts/jquery.min.js"></script>
	<script src="../../../slick/slick/slick.min.js"></script>
	<script src="../../../javascripts/base.js"></script>
	<script src="../../../javascripts/init.js"></script>
	<script src="../../../javascripts/slick.js"></script>
	<script src="../../../javascripts/navigation.js"></script>
	<script src="../../../javascripts/rangy-core.js"></script>
	<script src="../../../highlight/highlight.pack.js"></script>
	<script src="../../../elevatezoom/jquery.elevatezoom.js"></script>
	<script src="../../../unveil/jquery.unveil.js"></script>
	<script src="../../../javascripts/search.js"></script>
	<!-- search dictionary -->
	<script src="../../../javascripts/searchdata_en.js"></script>
</body>
</html>
