<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Slow cook chicken">
	<meta name="keywords" content="{{keywords}}">
	<title>Eggplant rollatini</title>
	<!--  Built with wwwebify : page href = {{hrefS}} -->
	<link rel="shortcut icon" type="image/x-icon" href="../../../images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../../../stylesheets/main.css" />
	<script>var linkref = "L25";</script>
</head>
<body class="preload">
	<div class="main-header">
		<div class="wrapper">
			<div class="row">
				<div class="sidebar top">
					<a href="../../../index.html" class="logo" title="Lilia Azur">
						<img src="../../../images/lilia_azur_logo_0088f_008400.svg"  alt="Lilia Azur"/>
					</a>
				</div>
				<div class="sidebar top-small">
					<a href="../../../index.html" class="logo" title="Lilia Azur">
						<img src="../../../images/lilia_azur_logo_white.svg"  alt="Lilia Azur"/>
					</a>
				</div>
				<div class="main top">
					<div>
						<div class="main-navigation">	
							<ul class="menu">
								<li class="item-no-children"><a href="../../1_Contact/home.html" target="" >Contact</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../../2_My webshop/home.html" target="" >My webshop</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../home.html" target="" >My recipes</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../../4__My photo's/home.html" target="" >My photo's</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../../9_My blog/home.html" target="" >My blog</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../../999_Sitemap/home.html" target="" >Sitemap</a><ul class="children"></ul></li>
							</ul>
							<div class="right search-container">
								<input class="search-main-text" id="search_main_text"  data-action="search.search_main"/>
								<span class="search-main-clear" id="search_main_clear"><i class="i-clear" data-action="search.searchClear"></i></span>
								<span class="search-main-search"><i class="i-search" data-action="search.searchMainSearch"></i></span>
								<ul class="search-main-dropdown hide" id="search_main_dropdown" ></ul>
							</div>								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-content">
	<div class="wrapper">
		<div class="row">
			<div class="search-results-main" id="search_results_main"></div>
		</div>
		<div class="row" >
			<div id="content">
				<div class="col-sub-nav" id="col_sub_nav">
					<ul class="sub-navigation">
						<li class="item-type-a not-active"><a href="../home.html" target="" >My recipes</a></li><li class="item-type-b not-active"><a href="home.html" target="" >Main courses</a></li><li class="item-type-c not-active"><a href="Crock-pot chicken tikka masala.html" target="" >Crock-pot chicken tikka masala</a></li><li class="item-type-c not-active"><a href="Pizza.html" target="" >Pizza</a></li><li class="item-type-c not-active"><a href="Sauteed broccoli and zucchini casserole.html" target="" >Sauteed broccoli and zucchini casserole</a></li><li class="item-type-c is-active"><a href="Eggplant rollatini.html" target="" >Eggplant rollatini</a></li><li class="item-type-c not-active"><a href="Spinach and mushroom with beef tenderloin.html" target="" >Spinach and mushroom with beef tenderloin</a></li>
					</ul>
				</div>				
				<div class="col-content" id="col_content">
					<div class="content-content" id="contentContent">
						<div class="content-breadcrumb" id="contentBreadcrumb"><a href="../home.html" class="breadcrumb-not-active">My recipes</a> / <a href="home.html" class="breadcrumb-not-active">Main courses</a> / <a href="Eggplant rollatini.html" class="breadcrumb-is-active">Eggplant rollatini</a></div>
						<div class="text-align-left"><div class="recipe">
	<h1>Eggplant rollatini
		<div class="duration"><i class="i-stopwatch"></i>30min</div>
		<div class="intro">Slow cook chicken</div>
		<div class="tags"><i class="i-tags"></i>Oven dish</div>
	</h1>
	<img class="right" src="../images/eggplant rollatini.jpg" title="Eggplant rollatini"/>
	<h2>Ingredients <small>(Serves 6)</small></h2>
	<ul>
		<li>2 large firm eggplants, cut into ½-inch slices</li>
		<li>3 tablespoons extra-virgin olive oil</li>
 		<li>1 medium yellow onion, finely chopped</li>
		<li>2 garlic cloves, minced</li>
		<li>¾ lb / 226 gr ground beef (I used 80/20)</li>
		<li>Fine grain salt and black pepper</li>
		<li>1 (28-ounce) can tomato sauce</li>
		<li>6 oz fresh mozzarella, grated</li>
	</ul>
	<h2>Preparations</h2>
	<p>Heat broiler and line a baking sheet with parchment paper.
		Brush both sides of eggplant slices with 2 tablespoons olive oil and sprinkle with 1 teaspoon salt. 
		Arrange slices on prepared baking sheet and broil in batches until they are deep brown, turning once halfway through, about 5 to 7 minutes per side.
		Adjust the oven temperature to 375°F (190°C) and place a rack in the middle.</p>
		 
	<p>In a large skillet, heat 1 tablespoon of the remaining olive oil over medium heat. 
		 Add onion and sauté until translucent, but not browned, stirring occasionally, about 5 minutes. Add garlic and cook until fragrant, about 1 minute. 
		 Add ground beef, stirring frequently and breaking up meat into very small pieces with the side of a metal spoon. Season with salt and pepper.
		 Sauté until meat is just cooked through, about 8 minutes.</p>
		 
	<p>Add 1 cup of tomato sauce and simmer for 10 to 15 minutes, stirring every now and then. Take a taste and adjust seasoning as needed.
		 Lightly grease a baking dish. Spread ½ cup of tomato sauce in the bottom of the dish. 
		 Place a scant tablespoon of the beef mixture on one end of the eggplant slices and roll up tightly.
		 Place the eggplant rollatini in the baking dish, seam side down. Continue with remaining eggplant slices.
		 Evenly distribute the remaining tomato sauce on top of the eggplant rollatini. Season with salt and pepper and sprinkle with grated mozzarella cheese.
		 Cover with foil and bake for 20 minutes. Uncover and bake for further 5 minutes or until the cheese is bubbly.
		 Serve warm!</p>
		 
	<h2>Nutrition facts</h2>

	<p>One serving yields 368 calories, 25 grams of fat, 19 grams of carbs, and 20 grams of protein. </p>
</div></div>
						<div class="previous-next">
							<div class="content-previous" id="contentPreviuos"><a id="previous" class="previous" href="Sauteed broccoli and zucchini casserole.html">Sauteed broccoli and zucchini casserole</a>	</div>
							<div class="content-next" id="contentNext"><a class="next" id="next" href="Spinach and mushroom with beef tenderloin.html">Spinach and mushroom with beef tenderloin</a>	</div>
						</div>
						<div class="content-related" id="contentRelated"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="navigation-slide-in-out">
		<div class="header">
			<a href="../../../index.html" class="logo" title="Lilia Azur">
				<img src="../../../images/lilia_azur_logo_white.svg"  alt="Lilia Azur"/>
			</a>
		</div>
		<div class="main">	
			<ul class="menu">
				<li class="item-type-a not-active has-children">
					<a href="../../home.html#menu" target=""><i class="i-menu"></i></a><a href="../../home.html" target="">Home</a>
				</li>
				<li class="item-type-a not-active has-menu"><a class="i-menu" href="../home.html#menu" target="" ></a><a href="../home.html" target="" >My recipes</a></li>		<li class="item-type-b not-active has-menu"><a class="i-menu" href="home.html#menu" target="" ></a><a href="home.html" target="" >Main courses</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="Crock-pot chicken tikka masala.html#menu" target="" ></a><a href="Crock-pot chicken tikka masala.html" target="" >Crock-pot chicken tikka masala</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="Pizza.html#menu" target="" ></a><a href="Pizza.html" target="" >Pizza</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="Sauteed broccoli and zucchini casserole.html#menu" target="" ></a><a href="Sauteed broccoli and zucchini casserole.html" target="" >Sauteed broccoli and zucchini casserole</a></li>		<li class="item-type-c is-active no-menu"><a class="i-menu" href="Eggplant rollatini.html#menu" target="" ></a><a href="Eggplant rollatini.html" target="" >Eggplant rollatini</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="Spinach and mushroom with beef tenderloin.html#menu" target="" ></a><a href="Spinach and mushroom with beef tenderloin.html" target="" >Spinach and mushroom with beef tenderloin</a></li>		
			</ul>
		</div>
		<div class="footer">
			<ul class="menu">
					<li class="item-no-children item-icon"><a class="i-linkedin" href="https://www.linkedin.com/company/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-facebook" href="https://www.facebook.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-twitter" href="https://twitter.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-youtube" href="https://www.youtube.com/user/wwwebify" target="blank"></a></li>
				</ul>
		</div>
	</div>
	<div class="search-slide-in-out">
		<div class="search-in-out-header">
			<div class="header">
				<a href="../../../index.html" class="logo" title="Lilia Azur">
					<img src="../../../images/lilia_azur_logo_white.svg"  alt="Lilia Azur"/>
				</a>
			</div>
			<div class="search-container">
				<div>
					<input class="search-slide-in-out-text" id="search_slide_in_out_text"  data-action="search.search_slide-in-out"/>
					<span class="search-slide-in-out-clear" id="search_slide_in_out_clear"><i class="i-clear" data-action="search.searchClear"></i></span>
					<span class="search-slide-in-out-search"><i class="i-search" data-action="search.searchSlideInOutSearch"></i></span>
				</div>
				<ul class="search-slide-in-out-dropdown hide" id="search_slide_in_out_dropdown" ></ul>
			</div>
		</div>
		<div class="search-results-slide-in-out" id="search_results_slide_in_out"></div>
	</div>
	<div class="main-footer">
	<div class="wrapper">
	<div class="row">
		<div  class="footer" id="footer">
			<div class="social-buttons">
				<ul class="menu">
					<li class="item-no-children item-icon"><a class="i-linkedin" href="https://www.linkedin.com/company/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-facebook" href="https://www.facebook.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-twitter" href="https://twitter.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-youtube" href="https://www.youtube.com/user/wwwebify" target="blank"></a></li>
				</ul>
			</div>
			<div class="secondary-buttons">
				<a class="secondary-button i-zoom-out" href="#" data-action="init.decreaseFontSize"></a>
				<a class="secondary-button i-zoom-in" href="#" data-action="init.increaseFontSize"></a>
			</div>
		</div>
	</div>
	</div>
	</div>
	<div class="buttons-slide-in-out">
		<div class="slide-in-out-search-toggle-button"><i class="i-search" data-action="search.slide_out"></i></div>
		<div class="slide-in-out-slide-out-button"><i class="i-slide-out" data-action="navigation.slide_out"></i></div>
	</div>
	<!-- javascripts -->
	<script src="../../../javascripts/jquery.min.js"></script>
	<script src="../../../slick/slick/slick.min.js"></script>
	<script src="../../../javascripts/base.js"></script>
	<script src="../../../javascripts/init.js"></script>
	<script src="../../../javascripts/slick.js"></script>
	<script src="../../../javascripts/navigation.js"></script>
	<script src="../../../javascripts/rangy-core.js"></script>
	<script src="../../../highlight/highlight.pack.js"></script>
	<script src="../../../elevatezoom/jquery.elevatezoom.js"></script>
	<script src="../../../unveil/jquery.unveil.js"></script>
	<script src="../../../javascripts/search.js"></script>
	<!-- search dictionary -->
	<script src="../../../javascripts/searchdata_en.js"></script>
</body>
</html>
