<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="{{keywords}}">
	<title>My webshop</title>
	<!--  Built with wwwebify : page href = {{hrefS}} -->
	<link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../../stylesheets/main.css" />
	<script>var linkref = ",";</script>
</head>
<body class="preload">
	<div class="main-header">
		<div class="wrapper">
			<div class="row">
				<div class="sidebar top">
					<a href="../../index.html" class="logo" title="Lilia Azur">
						<img src="../../images/lilia_azur_logo_0088f_008400.svg"  alt="Lilia Azur"/>
					</a>
				</div>
				<div class="sidebar top-small">
					<a href="../../index.html" class="logo" title="Lilia Azur">
						<img src="../../images/lilia_azur_logo_white.svg"  alt="Lilia Azur"/>
					</a>
				</div>
				<div class="main top">
					<div>
						<div class="main-navigation">	
							<ul class="menu">
								<li class="item-no-children"><a href="../1_Contact/home.html" target="" >Contact</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="home.html" target="" >My webshop</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../3_My recipes/home.html" target="" >My recipes</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../4__My photo's/home.html" target="" >My photo's</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../9_My blog/home.html" target="" >My blog</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../999_Sitemap/home.html" target="" >Sitemap</a><ul class="children"></ul></li>
							</ul>
							<div class="right search-container">
								<input class="search-main-text" id="search_main_text"  data-action="search.search_main"/>
								<span class="search-main-clear" id="search_main_clear"><i class="i-clear" data-action="search.searchClear"></i></span>
								<span class="search-main-search"><i class="i-search" data-action="search.searchMainSearch"></i></span>
								<ul class="search-main-dropdown hide" id="search_main_dropdown" ></ul>
							</div>								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-content">
	<div class="wrapper">
		<div class="row">
			<div class="search-results-main" id="search_results_main"></div>
		</div>
		<div class="row" >
			<div id="content">
				<div class="col-sub-nav" id="col_sub_nav">
					<ul class="sub-navigation">
						<li class="item-type-b is-active"><a href="home.html" target="" >My webshop</a></li><li class="item-type-c not-active"><a href="1_Jewelry/home.html" target="" >Jewelry</a></li><li class="item-type-c not-active"><a href="2__Accessories/home.html" target="" >Accessories</a></li>
					</ul>
				</div>				
				<div class="col-content" id="col_content">
					<div class="content-content" id="contentContent">
						<div class="content-breadcrumb" id="contentBreadcrumb"><a href="home.html" class="breadcrumb-is-active">My webshop</a></div>
						<h1>My webshop</h1>
<ul class="homepage-list"><li class="item-full-width">
	<a href="1_Jewelry/home.html">Jewelry</a>
	<div class="intro"></div>
	<ul><li class="item-full-width">
	<a href="1_Jewelry/1_Necklaces/home.html">Necklaces</a>
	<div class="intro"></div>
	<ul><li>
	<a href="1_Jewelry/1_Necklaces/Necklace flower.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_3798.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace flower.html">Necklace flower</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace blue strand suede.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4105.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace blue strand suede.html">Necklace blue strand suede</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace silver cross-heart.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4263.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace silver cross-heart.html">Necklace silver cross-heart</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace silver flower.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4113.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace silver flower.html">Necklace silver flower</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace faceted bead strand.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4138.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace faceted bead strand.html">Necklace faceted bead strand</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace green acrylic flowers.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4211.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace green acrylic flowers.html">Necklace green acrylic flowers</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace pearl flower beads.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4212.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace pearl flower beads.html">Necklace pearl flower beads</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace white-coated pearl with gold-diamond ring beads.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4215.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace white-coated pearl with gold-diamond ring beads.html">Necklace white-coated pearl with gold-diamond ring beads</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace blue beads with silver heart shape.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4348.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace blue beads with silver heart shape.html">Necklace blue beads with silver heart shape</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace blue oval-shaped bead, diamond studs.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4220.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace blue oval-shaped bead, diamond studs.html">Necklace blue oval-shaped bead, diamond studs</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace spider chain gold-polish.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4222.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace spider chain gold-polish.html">Necklace spider chain gold-polish</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace gold and black chain with diamond studs.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4297.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace gold and black chain with diamond studs.html">Necklace gold and black chain with diamond studs</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace gold and black chain with diamond studs.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4230.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace gold and black chain with diamond studs.html">Necklace gold and black chain with diamond studs</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace pearl beads with black beads.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4232.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace pearl beads with black beads.html">Necklace pearl beads with black beads</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace silver wired with white crystal beads.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4234.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace silver wired with white crystal beads.html">Necklace silver wired with white crystal beads</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace rose wired with white crystal beads.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4344.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace rose wired with white crystal beads.html">Necklace rose wired with white crystal beads</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace silver-polish wired ball with white crystal beads.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4346.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace silver-polish wired ball with white crystal beads.html">Necklace silver-polish wired ball with white crystal beads</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace gold-polished strands with leaf.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4243.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace gold-polished strands with leaf.html">Necklace gold-polished strands with leaf</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace silver-polished strands with leaf.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4244.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace silver-polished strands with leaf.html">Necklace silver-polished strands with leaf</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace peach pearls.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4290.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace peach pearls.html">Necklace peach pearls</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace cube white with Zwarovski.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4251.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace cube white with Zwarovski.html">Necklace cube white with Zwarovski</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace black and gold strands chains with crystal beads.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4256.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace black and gold strands chains with crystal beads.html">Necklace black and gold strands chains with crystal beads</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace black, grey and silver Zwarovski beads.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4260.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace black, grey and silver Zwarovski beads.html">Necklace black, grey and silver Zwarovski beads</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace golden cross with red stone.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4286.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace golden cross with red stone.html">Necklace golden cross with red stone</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace black cross.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4288.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace black cross.html">Necklace black cross</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/1_Necklaces/Necklace white-golden.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4291.JPG"/></a>
	<a href="1_Jewelry/1_Necklaces/Necklace white-golden.html">Necklace white-golden</a>
	<div class="intro"></div>
	<ul></ul>
</li>

</ul>
</li>

<li class="item-full-width">
	<a href="1_Jewelry/2_Bracelets/home.html">Bracelets</a>
	<div class="intro"></div>
	<ul><li>
	<a href="1_Jewelry/2_Bracelets/Armband with multi-color flowers.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_3799.JPG"/></a>
	<a href="1_Jewelry/2_Bracelets/Armband with multi-color flowers.html">Armband with multi-color flowers</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/2_Bracelets/Bracelet gold finished brass.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4090.JPG"/></a>
	<a href="1_Jewelry/2_Bracelets/Bracelet gold finished brass.html">Bracelet gold finished brass</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/2_Bracelets/Bracelet hearts.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4099.JPG"/></a>
	<a href="1_Jewelry/2_Bracelets/Bracelet hearts.html">Bracelet hearts</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/2_Bracelets/Bracelet turquoise.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4107.JPG"/></a>
	<a href="1_Jewelry/2_Bracelets/Bracelet turquoise.html">Bracelet turquoise</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/2_Bracelets/Bracelet charm Elle.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4111.JPG"/></a>
	<a href="1_Jewelry/2_Bracelets/Bracelet charm Elle.html">Bracelet charm Elle</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/2_Bracelets/Bracelet white-black pearl with silver-coated heart pendant.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4116.JPG"/></a>
	<a href="1_Jewelry/2_Bracelets/Bracelet white-black pearl with silver-coated heart pendant.html">Bracelet white-black pearl with silver-coated heart pendant</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/2_Bracelets/Bracelet Zwarovski brown beads.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4274.JPG"/></a>
	<a href="1_Jewelry/2_Bracelets/Bracelet Zwarovski brown beads.html">Bracelet Zwarovski brown beads</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/2_Bracelets/Bracelet silver.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4179.JPG"/></a>
	<a href="1_Jewelry/2_Bracelets/Bracelet silver.html">Bracelet silver</a>
	<div class="intro"></div>
	<ul></ul>
</li>

</ul>
</li>

<li class="item-full-width">
	<a href="1_Jewelry/3_Rings/home.html">Rings</a>
	<div class="intro"></div>
	<ul><li>
	<a href="1_Jewelry/3_Rings/Ring stone orange.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_3939.JPG"/></a>
	<a href="1_Jewelry/3_Rings/Ring stone orange.html">Ring stone orange</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/3_Rings/Ring swarovski brown.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4280.JPG"/></a>
	<a href="1_Jewelry/3_Rings/Ring swarovski brown.html">Ring swarovski brown</a>
	<div class="intro"></div>
	<ul></ul>
</li>

</ul>
</li>

<li class="item-full-width">
	<a href="1_Jewelry/4_Earrings/home.html">Earrings</a>
	<div class="intro"></div>
	<ul><li>
	<a href="1_Jewelry/4_Earrings/Earrings blue flower.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4092.JPG"/></a>
	<a href="1_Jewelry/4_Earrings/Earrings blue flower.html">Earrings blue flower</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/4_Earrings/Earrings pink flower.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4093.JPG"/></a>
	<a href="1_Jewelry/4_Earrings/Earrings pink flower.html">Earrings pink flower</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/4_Earrings/Earrings white.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4094.JPG"/></a>
	<a href="1_Jewelry/4_Earrings/Earrings white.html">Earrings white</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/4_Earrings/Earrings yellow.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4095.JPG"/></a>
	<a href="1_Jewelry/4_Earrings/Earrings yellow.html">Earrings yellow</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/4_Earrings/Earrings olive green.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4096.JPG"/></a>
	<a href="1_Jewelry/4_Earrings/Earrings olive green.html">Earrings olive green</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/4_Earrings/Earrings multi color beads.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4101.JPG"/></a>
	<a href="1_Jewelry/4_Earrings/Earrings multi color beads.html">Earrings multi color beads</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/4_Earrings/Earrings blue-green pearl.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4108.JPG"/></a>
	<a href="1_Jewelry/4_Earrings/Earrings blue-green pearl.html">Earrings blue-green pearl</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/4_Earrings/Earrings white glass.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4110.JPG"/></a>
	<a href="1_Jewelry/4_Earrings/Earrings white glass.html">Earrings white glass</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/4_Earrings/Earrings clear-white beads.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4117.JPG"/></a>
	<a href="1_Jewelry/4_Earrings/Earrings clear-white beads.html">Earrings clear-white beads</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/4_Earrings/Earrings, white coated pearl.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4132.JPG"/></a>
	<a href="1_Jewelry/4_Earrings/Earrings, white coated pearl.html">Earrings, white coated pearl</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/4_Earrings/Earrings pear-shaped pearl.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4183.JPG"/></a>
	<a href="1_Jewelry/4_Earrings/Earrings pear-shaped pearl.html">Earrings pear-shaped pearl</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/4_Earrings/Earrings white coated pearl.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4187.JPG"/></a>
	<a href="1_Jewelry/4_Earrings/Earrings white coated pearl.html">Earrings white coated pearl</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/4_Earrings/Earrings diamond studs, silver-plated.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4189.JPG"/></a>
	<a href="1_Jewelry/4_Earrings/Earrings diamond studs, silver-plated.html">Earrings diamond studs, silver-plated</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/4_Earrings/Earring red cross beads.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4195.JPG"/></a>
	<a href="1_Jewelry/4_Earrings/Earring red cross beads.html">Earring red cross beads</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/4_Earrings/Earrings dangling red beads.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4197.JPG"/></a>
	<a href="1_Jewelry/4_Earrings/Earrings dangling red beads.html">Earrings dangling red beads</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/4_Earrings/Earrings antique blue Zwarovski.html"><img class="landscape" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4201.JPG"/></a>
	<a href="1_Jewelry/4_Earrings/Earrings antique blue Zwarovski.html">Earrings antique blue Zwarovski</a>
	<div class="intro"></div>
	<ul></ul>
</li>

</ul>
</li>

<li class="item-full-width">
	<a href="1_Jewelry/5_Sets/home.html">Sets</a>
	<div class="intro"></div>
	<ul><li>
	<a href="1_Jewelry/5_Sets/Necklace + earrings brown.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4128.JPG"/></a>
	<a href="1_Jewelry/5_Sets/Necklace + earrings brown.html">Necklace + earrings brown</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/5_Sets/Necklace, bracelet and earrings peach pearl.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4129.JPG"/></a>
	<a href="1_Jewelry/5_Sets/Necklace, bracelet and earrings peach pearl.html">Necklace, bracelet and earrings peach pearl</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/5_Sets/Necklace, bracelet and earrings white pearl.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4131.JPG"/></a>
	<a href="1_Jewelry/5_Sets/Necklace, bracelet and earrings white pearl.html">Necklace, bracelet and earrings white pearl</a>
	<div class="intro"></div>
	<ul></ul>
</li>

<li>
	<a href="1_Jewelry/5_Sets/Necklace and bracelet blue-white beads.html"><img class="portrait" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="images/thumbs/IMG_4139.JPG"/></a>
	<a href="1_Jewelry/5_Sets/Necklace and bracelet blue-white beads.html">Necklace and bracelet blue-white beads</a>
	<div class="intro"></div>
	<ul></ul>
</li>

</ul>
</li>

</ul>
</li>

<li class="item-full-width">
	<a href="2__Accessories/home.html">Accessories</a>
	<div class="intro"></div>
	<ul><li class="item-full-width">
	<a href="2__Accessories/1__My best pictures/home.html">My best pictures</a>
	<div class="intro"></div>
	<ul></ul>
</li>

</ul>
</li>

</ul>


						<div class="previous-next">
							<div class="content-previous" id="contentPreviuos"><a id="previous" class="previous" href="../1_Contact/home.html">Contact</a>	</div>
							<div class="content-next" id="contentNext"><a class="next" id="next" href="1_Jewelry/home.html">Jewelry</a>	</div>
						</div>
						<div class="content-related" id="contentRelated"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="navigation-slide-in-out">
		<div class="header">
			<a href="../../index.html" class="logo" title="Lilia Azur">
				<img src="../../images/lilia_azur_logo_white.svg"  alt="Lilia Azur"/>
			</a>
		</div>
		<div class="main">	
			<ul class="menu">
				<li class="item-type-a not-active has-children">
					<a href="../home.html#menu" target=""><i class="i-menu"></i></a><a href="../home.html" target="">Home</a>
				</li>
				<li class="item-type-b is-active has-menu"><a class="i-menu" href="home.html#menu" target="" ></a><a href="home.html" target="" >My webshop</a></li>		<li class="item-type-c not-active has-menu"><a class="i-menu" href="1_Jewelry/home.html#menu" target="" ></a><a href="1_Jewelry/home.html" target="" >Jewelry</a></li>		<li class="item-type-c not-active has-menu"><a class="i-menu" href="2__Accessories/home.html#menu" target="" ></a><a href="2__Accessories/home.html" target="" >Accessories</a></li>		
			</ul>
		</div>
		<div class="footer">
			<ul class="menu">
					<li class="item-no-children item-icon"><a class="i-linkedin" href="https://www.linkedin.com/company/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-facebook" href="https://www.facebook.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-twitter" href="https://twitter.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-youtube" href="https://www.youtube.com/user/wwwebify" target="blank"></a></li>
				</ul>
		</div>
	</div>
	<div class="search-slide-in-out">
		<div class="search-in-out-header">
			<div class="header">
				<a href="../../index.html" class="logo" title="Lilia Azur">
					<img src="../../images/lilia_azur_logo_white.svg"  alt="Lilia Azur"/>
				</a>
			</div>
			<div class="search-container">
				<div>
					<input class="search-slide-in-out-text" id="search_slide_in_out_text"  data-action="search.search_slide-in-out"/>
					<span class="search-slide-in-out-clear" id="search_slide_in_out_clear"><i class="i-clear" data-action="search.searchClear"></i></span>
					<span class="search-slide-in-out-search"><i class="i-search" data-action="search.searchSlideInOutSearch"></i></span>
				</div>
				<ul class="search-slide-in-out-dropdown hide" id="search_slide_in_out_dropdown" ></ul>
			</div>
		</div>
		<div class="search-results-slide-in-out" id="search_results_slide_in_out"></div>
	</div>
	<div class="main-footer">
	<div class="wrapper">
	<div class="row">
		<div  class="footer" id="footer">
			<div class="social-buttons">
				<ul class="menu">
					<li class="item-no-children item-icon"><a class="i-linkedin" href="https://www.linkedin.com/company/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-facebook" href="https://www.facebook.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-twitter" href="https://twitter.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-youtube" href="https://www.youtube.com/user/wwwebify" target="blank"></a></li>
				</ul>
			</div>
			<div class="secondary-buttons">
				<a class="secondary-button i-zoom-out" href="#" data-action="init.decreaseFontSize"></a>
				<a class="secondary-button i-zoom-in" href="#" data-action="init.increaseFontSize"></a>
			</div>
		</div>
	</div>
	</div>
	</div>
	<div class="buttons-slide-in-out">
		<div class="slide-in-out-search-toggle-button"><i class="i-search" data-action="search.slide_out"></i></div>
		<div class="slide-in-out-slide-out-button"><i class="i-slide-out" data-action="navigation.slide_out"></i></div>
	</div>
	<!-- javascripts -->
	<script src="../../javascripts/jquery.min.js"></script>
	<script src="../../slick/slick/slick.min.js"></script>
	<script src="../../javascripts/base.js"></script>
	<script src="../../javascripts/init.js"></script>
	<script src="../../javascripts/slick.js"></script>
	<script src="../../javascripts/navigation.js"></script>
	<script src="../../javascripts/rangy-core.js"></script>
	<script src="../../highlight/highlight.pack.js"></script>
	<script src="../../elevatezoom/jquery.elevatezoom.js"></script>
	<script src="../../unveil/jquery.unveil.js"></script>
	<script src="../../javascripts/search.js"></script>
	<!-- search dictionary -->
	<script src="../../javascripts/searchdata_en.js"></script>
</body>
</html>
