<div class="article">
	<h1>{{name}}
		<div class="date">{{-0D-}}/{{-0M-}}/{{-YYYY-}}</div>
		<div class="intro"></div>
		<div class="tags"><i class="i-tags"></i>City trip</div>
	</h1>
	<img class="right" src="../images/Eiffel-Paris.jpg" title=""/>
	<p>I love to travel and see interesting new places to add to my travel book. This time, my husband and I have the chance to visit Paris
	without any plans of going at all. We left Belgium and hit the road. And take note, no luggage,
	nothing. Yes, just us and a car! Exciting doesn't it?</p>
	
	<p>Visiting Paris is not always easy and comfortable, especially driving around the city. Driving in Paris is chaotic! 
	Traffic is everywhere, any time of the day. Even worser than I could even imagined! One time we were even caught in a middle of the street with cars trying to find their way out from left to right. 
	Imagine yourself in this kind of situation. How we wish we could fly? 
	That is why we always have the GPS, or a map in handy. But don't forget the battery loader for God's sake!</p>
	
	<p>The city itself is undeniably huge to be exact, so don't be surpised that you'll be walking endless! Invest on a good walking shoes.
	I mean, a comfortable walking shoes for your trip. It pays to have one pair of expensive one, if you're not that money conscious! 
	Otherwise, you'll end up like you've lost the game or beaten-up you can't hardly walk no more!</p>
	
	<p>Paris isn't all about the latest fashion and shopping, as you might think. Paris timeless beauty and charm that it brings to the city,
	that is what i love about Paris. Not to mention the lined structured building with fine 
	and intricately delicate designs that still standout todate, as you walk or drive along the famous and "chic" Avenue des Champs 
	and blocks around the Arc de Triomphe on one end.Then we passed and the in other side of the Arondessement. 
	These places looks amazing at night with all the lights on, one could enjoy this ambience just walking around the area.
	Then we passed-by Rue de Rennes and Rue Saint honore, Notre Dame de Paris, Arc de Triomphe and 
	last but not least the iconic Eiffel tower. Long journey, but it's worth it!</p>
</div>	
	