<div class="article">
	<h1>{{name}}
		<div class="date">{{-0D-}}/{{-0M-}}/{{-YYYY-}}</div>
		<div class="intro">Try this awesome creamy chicken recipe, this will warm you up from inside on a chilly winter night.</div>
		<div class="tags"><i class="i-tags"></i>Christmas, New Year</div>
	</h1>
	<img class="right" src="../images/crock-pot chicken tikka masala.jpg" title="Crock-pot chicken tikka masala"/>
	<p>Grease the inside of your crockpot bowl with a bit of olive oil. Set aside.
		 Combine all ingredients (except for bay leaves, heavy cream, arrowroot powder, and lemon juice) in a large bowl. With a large large spatula, stir to combine everything, making sure that the chicken is well coated. 
		 Pour the mixture into the slow cooker and place the two bay leaves on top.
		 Cover and cook for 8 hours on low (or 4 hours on high).
		 When done, in a small bowl combine heavy cream and arrowroot powder (or cornstarch), and gently stir into the mixture. Let cook an additional 20 minutes to thicken up.
		 Finally add lemon juice and gently stir to incorporate.
		 Serve warm.
		 Leftovers can be stored in an airtight container in the fridge for up to 5 days.
	</p> 
	<p>One serving yields 400 calories, 18 grams of fat, 6 grams of carbs, and 49 grams of protein.</p>
</div>