<div class="article">
	<h1>{{name}}
		<div class="date">{{-0D-}}/{{-0M-}}/{{-YYYY-}}</div>
		<div class="intro"></div>
		<div class="tags"><i class="i-tags"></i>SEO, webdesign</div>
	</h1>
	<img class="right" src="../images/SEO.svg" title="Search Engine Optimization"/>
	<p>Talking about Search Engine Optimization or SEO, is about optimizing your content 
	to be able to get a higher ranking in search results.</p>
	The first thing to have is a good content for your visitors. The next step is about attracting new potential 
	customers with the help of applied SEO.In order to have a successful and excellent high search results for your website,
	it is always important to remember via a successful SEO strategy. 
	
	You need to fully understand what the new visitor is looking. What kind of keywords is he maybe using to search via
	search engines.
	
	Here we use term keyword and long tail keywords.
	<p>
	Three elements to consider:
     -
	
	
	</p>
	
	<p></p>
	
	<p></p>
</div>	
	