<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>55 min</div>
		<div class="intro">Tender carrot cake recipe topped with sweet cream cheese frosting.</div>
	</h1>
	<img class="right" src="../images/carrot cake.jpg" title=" Healthy carrot cake recipe" />
	<h2>Ingredients <small>(1 cake, 12 slices)</small></h2>
	<ul>
		<li>21/4 cups  wheat flour  (whole, measured like this)</li>  
		<li>21/4 tsps  baking powder</li>  
		<li>3/4 tsp  baking soda  </li>
		<li>21/2 tsps  ground cinnamon</li>  
		<li>3/4 tsp  ground nutmeg</li>  
		<li>1/2 tsp  salt  </li>
		<li>2 tbsps  coconut oil  (or unsalted butter, melted and cooled slightly)</li>  
		<li>3  large egg whites  (room temperature) </li> 
		<li>1 tbsp  vanilla extract </li> 
		<li>1/2 cup  nonfat plain greek yogurt </li> 
		<li>1/4 cup  pure maple syrup </li> 
		<li>11/4 tsps  vanilla  (crème stevia)</li> 
		<li>3/4 cup  nonfat milk  </li>
		<li>21/2 cups  carrots  (freshly grated, about 4-5 medium, peeled first!) </li> 
		<li>1 cup  nonfat plain greek yogurt  </li>
		<li>8 ozs  cream cheese  (Greek yogurt, softened) </li> 
		<li>11/4 tsps  vanilla  (crème stevia) </li>
	</ul>
	<h3>for the cake</h3>
	<ul>
		<li>2 ¼ cups (270g) whole wheat or gluten-free* flour (measured like this)</li>
		<li>2 ¼ tsp baking powder</li>
		<li>¾ tsp baking soda</li>
		<li>2 ½ tsp ground cinnamon</li>
		<li>¾ tsp ground nutmeg</li>
		<li>½ tsp salt</li>
		<li>2 tbsp (28g) coconut oil or unsalted butter, melted and cooled slightly</li>
		<li>3 large egg whites, room temperature</li>
		<li>1 tbsp (15mL) vanilla extract</li>
		<li>½ cup (120g) plain nonfat Greek yogurt</li>
		<li>¼ cup (60mL) pure maple syrup</li>
		<li>1 ¼ tsp vanilla crème stevia</li>
		<li>¾ cup (180mL) nonfat milk</li>
		<li>2 ½ cups (265g) freshly grated carrots (about 4-5 medium, peeled first!)</li>
	</ul>
	<h3>for the frosting</h3>
	<ul>
		<li>1 cup (240g) plain nonfat Greek yogurt</li>
		<li>1 (8oz) block Greek yogurt cream cheese, softened</li>
		<li>1 ¼ tsp vanilla crème stevia	</li>
	</ul>
	<h2>Preparations</h2>
	<p>To prepare the cake, preheat the oven to 350°F. Cut two 9”-round circles out of wax paper to fit inside two 9”-round cake pans. 
	Lightly coat the two 9”-round cake pans with nonstick cooking spray. Gently press one wax paper circle into the bottom of each cake pan, 
and lightly coat the wax paper with nonstick cooking spray.</p>

<p>In a large bowl, whisk together the flour, baking powder, baking soda, cinnamon, nutmeg, and salt. In a separate bowl, 
whisk together the coconut oil, egg whites, and vanilla. Stir in the Greek yogurt, mixing until no large lumps remain. Mix in the maple syrup and stevia. 
Alternate between adding the flour mixture and the milk, beginning and ending with the flour mixture, and stirring just until incorporated. (For best results, 
add the flour mixture in 4 equal parts.) Gently fold in the carrots.</p>

<p>Divide the batter between the prepared pans. Bake at 350°F for 24-28 minutes, or until the center feels firm to the touch and a 
toothpick inserted into the center comes out clean. Cool in the pans for 10 minutes before inverting, peeling 
off the wax paper, and transferring to wire racks to cool completely.
To prepare the frosting, add the Greek yogurt, Greek yogurt cream cheese, and stevia to 
a medium bowl, and beat with an electric mixer until smooth.
To assemble the cake, spread a generous dollop of frosting on top of one of the cake layers.
 Place the second layer on top. Frost the tops and sides.</p>

<h2>Notes: </h2>
<p>For the gluten-free flour (whole wheat flour)
</p>
<ul>
	<li>1 cup (120g) millet flour,</li>
	<li>¾ cup (90g)tapioca flour,</li>
	<li>½ cup (60g) brown rice flour</li>
	<li>1 ¾ teaspoons xanthan gum. </li>
</ul>
 </p>
</div>