<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>1h30</div>
	</h1>
	<img class="right" src="../images/pancake.jpg" title="..." />
	<h2>Ingredients</h2>
	<ul>
		<li>1 cup flour</li>
		<li>1 teaspoon salt</li>
		<li>1 teaspoon baking soda</li>
		<li>1 egg</li>
		<li>1 1/8cups buttermilk</li>
		<li>2 tablespoons butter, melted</li>
	</ul>
	<h2>Preparations</h2>
	<p>Pre-heat and lightly grease a large skillet or electric griddle.
		Mix the flour, salt, and baking soda together in a bowl. Add the egg, buttermilk, and butter; stir together lightly, but keep it lumpy. The batter should look thick, spongy, and puffy.
	</p>
	<p>Drop 1/3 cup of the batter onto the cooking surface, spreading lightly with the bottom of the cup. Cook until lightly-browned on each side, 1 to 2 minutes per side.
	</p>
</div>	