<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>30min</div>
		<div class="These gluten-free bars are super-easy to make: Mix crunchy cornflake cereal with honey and peanut butter
		, and bake just briefly so everything holds together. intro"></div>
		<div class="tags"><i class="i-tags"></i>Snacks,parties</div>
	</h1>
	<img class="right" src="../images/cornflakebars.jpg" title="Cornflake and peanut butter squares" />
	<h2>Ingredients<small>Makes 16(2-inch)squares</small></h2>
	<ul>
		<li>Cooking spray or vegetable oil, for greasing the pan</li>
		<li>6 cups cornflakes</li>
		<li>1/2 cup honey</li>
		<li>1/4 cup creamy natural peanut butter</li>
		<li>1/4 teaspoon fine salt</li>
		<li>1/2 cup semisweet or bittersweet chocolate chips</li>
	</ul>
	<h2>Preparations</h2>
	<p>Arrange a rack in the middle of the oven and heat to 325°F. </p> 
	<p>Line an 8x8-inch baking pan with parchment paper, paper hanging off 2 of the sides, 
		spray the pan with cooking spray or grease with oil; set aside. 
		Place the cornflakes in a food processor and crush cornflakes about 5 (1-second) pulses 
		or place the cornflakes in a large resealable plastic bag, seal, and smash with a rolling pin.)
	</p> 
	<p>Transfer to a large bowl.Heat the honey, peanut butter, and salt in a small saucepan over low heat, stirring until combined, 
		until warm and liquid enough to pour, 2 to 3 minutes. Pour over the cornflakes and gently stir with a rubber spatula until combined.
		Transfer the mixture to the baking pan and use wet or oiled hands to press firmly into the pan to form an even layer.
	</p>
	<p>Bake until the bars are just fragrant, 10 to 12 minutes (do not overbake or the bars will be too brittle). Remove the pan to a wire cooling rack. 
		Place the chocolate in a small microwave-safe bowl and heat in 30-second bursts, stirring between each burst, until melted and smooth.
	</p>  
	<p> Alternatively, melt the chocolate on the stovetop over low heat.) Using a small spoon, drizzle the melted chocolate over the bars. 
		Let the bars sit until completely cooled and the chocolate is hardened, about 1 hour. Use the excess parchment to lift the bars out of the pan 
		and onto a cutting board. Cut into 16 squares with a very sharp knife. Store in an airtight container and eat within 2 days.
	</p>
</div>