<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Go vegan with chocolate mix with Avocado. It&apos;s super silky, smooth and velvety pudding. Simply delicious and healthy!">
	<meta name="keywords" content="{{keywords}}">
	<title>Chocolate avocado chia pudding</title>
	<!--  Built with wwwebify : page href = {{hrefS}} -->
	<link rel="shortcut icon" type="image/x-icon" href="../../../images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../../../stylesheets/main.css" />
	<link rel="stylesheet" type="text/css" href="../../../icons/style.css" />
	<link rel="stylesheet" type="text/css" href="../../../highlight/styles/default.css" />
	<link rel="stylesheet" type="text/css" href="../../../slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="../../../slick/slick-theme.css"/>
</head>
<body>
	<div class="main-header">
		<div class="wrapper">
			<div class="row">
				<div class="sidebar top">
					<a href="../../../index.html" class="logo" title="Lilia Azur">
						<img src="../../../images/logo.svg"  alt="Lilia Azur"/>
						<span>Lilia Azur</span>
					</a>
				</div>
				<div class="sidebar top-small">
					<a href="../../../index.html" class="logo" title="Lilia Azur">
						<img src="../../../images/logo-white.svg"  alt="Lilia Azur"/>
						<span>Lilia Azur</span>
					</a>
				</div>
				<div class="main top">
					<div>
						<div class="main-navigation">	
							<ul class="menu">
								<li class="item-no-children"><a href="../../1_Contact/home.html" target="" >Contact</a><ul class="children"></ul></li><li class="item-has-children"><a href="../../2_My webshop/home.html" target="" >My webshop</a><ul class="children"><li class="item-no-children"><a href="../../2_My webshop/1_Jewelry/home.html" target="" >Jewelry</a><ul class="children"></ul></li><li class="item-no-children"><a href="../../2_My webshop/2_Accessories/home.html" target="" >Accessories</a><ul class="children"></ul></li></ul></li><li class="item-has-children"><a href="../home.html" target="" >My recipes</a><ul class="children"><li class="item-no-children"><a href="../1_Drinks/home.html" target="" >Drinks</a><ul class="children"></ul></li><li class="item-no-children"><a href="../2_Soups/home.html" target="" >Soups</a><ul class="children"></ul></li><li class="item-no-children"><a href="../3_Main courses/home.html" target="" >Main courses</a><ul class="children"></ul></li><li class="item-no-children"><a href="home.html" target="" >Desserts</a><ul class="children"></ul></li></ul></li><li class="item-has-children"><a href="../../9_My blog/home.html" target="" >My blog</a><ul class="children"><li class="item-no-children"><a href="../../9_My blog/2015/home.html" target="" >2015</a><ul class="children"></ul></li><li class="item-no-children"><a href="../../9_My blog/2016/home.html" target="" >2016</a><ul class="children"></ul></li></ul></li><li class="item-no-children"><a href="../../999_Sitemap/home.html" target="" >Sitemap</a><ul class="children"></ul></li>
							</ul>
							<div class="right search-container">
								<input class="search-main-text" id="search_main_text"  data-action="search.search_main"/>
								<span class="search-main-clear" id="search_main_clear"><i class="i-clear" data-action="search.searchClear"></i></span>
								<span class="search-main-search"><i class="i-search" data-action="search.searchMainSearch"></i></span>
								<ul class="search-main-dropdown hide" id="search_main_dropdown" ></ul>
							</div>								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-content">
	<div class="wrapper">
		<div class="row">
			<div class="search-results-main" id="search_results_main"></div>
		</div>
		<div class="row" >
			<div id="content">
				<div class="col-sub-nav" id="col_sub_nav">
					<ul class="sub-navigation">
						<li class="item-type-a not-active"><a href="../home.html" target="" >My recipes</a></li><li class="item-type-b not-active"><a href="home.html" target="" >Desserts</a></li><li class="item-type-c not-active"><a href="Pancakes.html" target="" >Pancakes</a></li><li class="item-type-c not-active"><a href="Cornflakebars.html" target="" >Cornflakebars</a></li><li class="item-type-c is-active"><a href="Chocolate avocado chia pudding.html" target="" >Chocolate avocado chia pudding</a></li><li class="item-type-c not-active"><a href="Chocolate rice crispy.html" target="" >Chocolate rice crispy</a></li><li class="item-type-c not-active"><a href="Carrot cake.html" target="" >Carrot cake</a></li>
					</ul>
				</div>				
				<div class="col-content" id="col_content">
					<div class="content-content" id="contentContent">
						<div class="content-breadcrumb" id="contentBreadcrumb"><a href="../home.html" class="breadcrumb-not-active">My recipes</a> / <a href="home.html" class="breadcrumb-not-active">Desserts</a> / <a href="Chocolate avocado chia pudding.html" class="breadcrumb-is-active">Chocolate avocado chia pudding</a></div>
						<div class="recipe">
	<h1>Chocolate avocado chia pudding
		<div class="duration"><i class="i-stopwatch"></i>15min</div>
		<div class="intro">Go vegan with chocolate mix with Avocado. It's super silky, smooth and velvety pudding. Simply delicious and healthy!</div>
		<div class="tags"><i class="i-tags"></i></div>
	</h1>
	<img class="right" src="../images/chocolate avocado chia pudding.jpg" title="Chocolate avocado chia pudding" />
	<h2>Ingredients</h2><small> Serves 4</small></h2>
	<ul>
		<li>2 very ripe avocados</li>
		<li>⅓ cup / 4 oz / 113 gr raw organic honey (or maple syrup)</li>
		<li>⅓ cup / 1.4 oz / 40 gr cocoa powder</li> 
		<li>3 tablespoons extra virgin coconut oil (optional)</li>
		<li>1 teaspoon vanilla extract</li>
		<li>½ teaspoon chia seeds, ground</li>
	</ul>
	<h2>Preparations</h2>
	<p>Combine all ingredients in a blender and blend until smooth and silky. You might need to stop the blender
	and mix with a spoon to make the blending easier.</p> 
	<p>Divide pudding among ramekins/cups and refrigerate for at least 30 minutes before serving (this allows the chia to thicken).</p>  
	<p>Sprinkle with chopped almonds, walnuts, cocoa nibs or top with some whipped cream or Greek yogurt before serving.</p> 
	
	
</div>
						<div class="previous-next">
							<div class="content-previous" id="contentPreviuos"><a id="previous" class="previous" href="Cornflakebars.html">Cornflakebars</a>	</div>
							<div class="content-next" id="contentNext"><a class="next" id="next" href="Chocolate rice crispy.html">Chocolate rice crispy</a>	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="navigation-slide-in-out">
		<div class="header">
			<a href="../../../index.html" class="logo" title="Lilia Azur">
				<img src="../../../images/logo-white.svg"  alt="Lilia Azur"/>
				<span>Lilia Azur</span>
			</a>
		</div>
		<div class="main">	
			<ul class="menu">
				<li class="item-type-a not-active has-children">
					<a href="../../home.html#menu" target=""><i class="i-menu"></i></a><a href="../../home.html" target="">Home</a>
				</li>
				<li class="item-type-a not-active has-menu"><a class="i-menu" href="../home.html#menu" target="" ></a><a href="../home.html" target="" >My recipes</a></li>		<li class="item-type-b not-active has-menu"><a class="i-menu" href="home.html#menu" target="" ></a><a href="home.html" target="" >Desserts</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="Pancakes.html#menu" target="" ></a><a href="Pancakes.html" target="" >Pancakes</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="Cornflakebars.html#menu" target="" ></a><a href="Cornflakebars.html" target="" >Cornflakebars</a></li>		<li class="item-type-c is-active no-menu"><a class="i-menu" href="Chocolate avocado chia pudding.html#menu" target="" ></a><a href="Chocolate avocado chia pudding.html" target="" >Chocolate avocado chia pudding</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="Chocolate rice crispy.html#menu" target="" ></a><a href="Chocolate rice crispy.html" target="" >Chocolate rice crispy</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="Carrot cake.html#menu" target="" ></a><a href="Carrot cake.html" target="" >Carrot cake</a></li>		
			</ul>
		</div>
		<div class="footer">
			<ul class="menu">
					<li class="item-no-children item-icon"><a class="i-linkedin" href="https://www.linkedin.com/company/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-facebook" href="https://www.facebook.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-twitter" href="https://twitter.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-youtube" href="https://www.youtube.com/user/wwwebify" target="blank"></a></li>
				</ul>
		</div>
	</div>
	<div class="search-slide-in-out">
		<div class="search-in-out-header">
			<div class="header">
				<a href="../../../index.html" class="logo" title="Lilia Azur">
					<img src="../../../images/logo-white.svg"  alt="Lilia Azur"/>
					<span>Lilia Azur</span>
				</a>
			</div>
			<div class="search-container">
				<div>
					<input class="search-slide-in-out-text" id="search_slide_in_out_text"  data-action="search.search_slide-in-out"/>
					<span class="search-slide-in-out-clear" id="search_slide_in_out_clear"><i class="i-clear" data-action="search.searchClear"></i></span>
					<span class="search-slide-in-out-search"><i class="i-search" data-action="search.searchSlideInOutSearch"></i></span>
				</div>
				<ul class="search-slide-in-out-dropdown hide" id="search_slide_in_out_dropdown" ></ul>
			</div>
		</div>
		<div class="search-results-slide-in-out" id="search_results_slide_in_out"></div>
	</div>
	<div class="main-footer">
	<div class="wrapper">
	<div class="row">
		<div  class="footer" id="footer">
			<div class="social-buttons">
				<ul class="menu">
					<li class="item-no-children item-icon"><a class="i-linkedin" href="https://www.linkedin.com/company/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-facebook" href="https://www.facebook.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-twitter" href="https://twitter.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-youtube" href="https://www.youtube.com/user/wwwebify" target="blank"></a></li>
				</ul>
			</div>
			<div class="secondary-buttons">
				<a class="secondary-button i-zoom-out" href="#" data-action="init.decreaseFontSize"></a>
				<a class="secondary-button i-zoom-in" href="#" data-action="init.increaseFontSize"></a>
			</div>
		</div>
	</div>
	</div>
	</div>
	<div class="buttons-slide-in-out">
		<div class="slide-in-out-search-toggle-button"><i class="i-search" data-action="search.slide_out"></i></div>
		<div class="slide-in-out-slide-out-button"><i class="i-slide-out" data-action="navigation.slide_out"></i></div>
	</div>
	<!-- vendor libs -->
	<script src="../../../javascripts/jquery.min.js"></script>
	<script src="../../../javascripts/rangy-core.js"></script>
	<script src="../../../highlight/highlight.pack.js"></script>
	<script src="../../../elevatezoom/jquery.elevatezoom.js"></script>
	<script src="../../../slick/slick.min.js"></script>
	<!-- custom javascripts -->
	<script src="../../../javascripts/base.js"></script>
	<script src="../../../javascripts/init.js"></script>
	<script src="../../../javascripts/navigation.js"></script>
	<script src="../../../javascripts/search.js"></script>
	<script src="../../../javascripts/slick.js"></script>
	<!-- search dictionary -->
	<script src="../../../javascripts/searchdata_en.js"></script>
	
</body>
</html>
