<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="{{keywords}}">
	<title>Cornflakebars</title>
	<!--  Built with wwwebify : page href = {{hrefS}} -->
	<link rel="shortcut icon" type="image/x-icon" href="../../../images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../../../stylesheets/main.css" />
	<script>var linkref = "L31";</script>
</head>
<body class="preload">
	<div class="main-header">
		<div class="wrapper">
			<div class="row">
				<div class="sidebar top">
					<a href="../../../index.html" class="logo" title="Lilia Azur">
						<img src="../../../images/lilia_azur_logo_0088f_008400.svg"  alt="Lilia Azur"/>
					</a>
				</div>
				<div class="sidebar top-small">
					<a href="../../../index.html" class="logo" title="Lilia Azur">
						<img src="../../../images/lilia_azur_logo_white.svg"  alt="Lilia Azur"/>
					</a>
				</div>
				<div class="main top">
					<div>
						<div class="main-navigation">	
							<ul class="menu">
								<li class="item-no-children"><a href="../../1_Contact/home.html" target="" >Contact</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../../2_My webshop/home.html" target="" >My webshop</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../home.html" target="" >My recipes</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../../4__My photo's/home.html" target="" >My photo's</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../../9_My blog/home.html" target="" >My blog</a><ul class="children"></ul></li>|<li class="item-no-children"><a href="../../999_Sitemap/home.html" target="" >Sitemap</a><ul class="children"></ul></li>
							</ul>
							<div class="right search-container">
								<input class="search-main-text" id="search_main_text"  data-action="search.search_main"/>
								<span class="search-main-clear" id="search_main_clear"><i class="i-clear" data-action="search.searchClear"></i></span>
								<span class="search-main-search"><i class="i-search" data-action="search.searchMainSearch"></i></span>
								<ul class="search-main-dropdown hide" id="search_main_dropdown" ></ul>
							</div>								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-content">
	<div class="wrapper">
		<div class="row">
			<div class="search-results-main" id="search_results_main"></div>
		</div>
		<div class="row" >
			<div id="content">
				<div class="col-sub-nav" id="col_sub_nav">
					<ul class="sub-navigation">
						<li class="item-type-a not-active"><a href="../home.html" target="" >My recipes</a></li><li class="item-type-b not-active"><a href="home.html" target="" >Desserts</a></li><li class="item-type-c not-active"><a href="Pancakes.html" target="" >Pancakes</a></li><li class="item-type-c is-active"><a href="Cornflakebars.html" target="" >Cornflakebars</a></li><li class="item-type-c not-active"><a href="100_Sweet/home.html" target="" >Sweet</a></li><li class="item-type-c not-active"><a href="Carrot cake.html" target="" >Carrot cake</a></li>
					</ul>
				</div>				
				<div class="col-content" id="col_content">
					<div class="content-content" id="contentContent">
						<div class="content-breadcrumb" id="contentBreadcrumb"><a href="../home.html" class="breadcrumb-not-active">My recipes</a> / <a href="home.html" class="breadcrumb-not-active">Desserts</a> / <a href="Cornflakebars.html" class="breadcrumb-is-active">Cornflakebars</a></div>
						<div class="text-align-left"><div class="recipe">
	<h1>Cornflakebars
		<div class="duration"><i class="i-stopwatch"></i>30min</div>
		<div class="These gluten-free bars are super-easy to make: Mix crunchy cornflake cereal with honey and peanut butter
		, and bake just briefly so everything holds together. intro"></div>
		<div class="tags"><i class="i-tags"></i>Snacks,parties</div>
	</h1>
	<img class="right" src="../images/cornflakebars.jpg" title="Cornflake and peanut butter squares" />
	<h2>Ingredients<small>Makes 16(2-inch)squares</small></h2>
	<ul>
		<li>Cooking spray or vegetable oil, for greasing the pan</li>
		<li>6 cups cornflakes</li>
		<li>1/2 cup honey</li>
		<li>1/4 cup creamy natural peanut butter</li>
		<li>1/4 teaspoon fine salt</li>
		<li>1/2 cup semisweet or bittersweet chocolate chips</li>
	</ul>
	<h2>Preparations</h2>
	<p>Arrange a rack in the middle of the oven and heat to 325°F. </p> 
	<p>Line an 8x8-inch baking pan with parchment paper, paper hanging off 2 of the sides, 
		spray the pan with cooking spray or grease with oil; set aside. 
		Place the cornflakes in a food processor and crush cornflakes about 5 (1-second) pulses 
		or place the cornflakes in a large resealable plastic bag, seal, and smash with a rolling pin.)
	</p> 
	<p>Transfer to a large bowl.Heat the honey, peanut butter, and salt in a small saucepan over low heat, stirring until combined, 
		until warm and liquid enough to pour, 2 to 3 minutes. Pour over the cornflakes and gently stir with a rubber spatula until combined.
		Transfer the mixture to the baking pan and use wet or oiled hands to press firmly into the pan to form an even layer.
	</p>
	<p>Bake until the bars are just fragrant, 10 to 12 minutes (do not overbake or the bars will be too brittle). Remove the pan to a wire cooling rack. 
		Place the chocolate in a small microwave-safe bowl and heat in 30-second bursts, stirring between each burst, until melted and smooth.
	</p>  
	<p> Alternatively, melt the chocolate on the stovetop over low heat.) Using a small spoon, drizzle the melted chocolate over the bars. 
		Let the bars sit until completely cooled and the chocolate is hardened, about 1 hour. Use the excess parchment to lift the bars out of the pan 
		and onto a cutting board. Cut into 16 squares with a very sharp knife. Store in an airtight container and eat within 2 days.
	</p>
</div></div>
						<div class="previous-next">
							<div class="content-previous" id="contentPreviuos"><a id="previous" class="previous" href="Pancakes.html">Pancakes</a>	</div>
							<div class="content-next" id="contentNext"><a class="next" id="next" href="100_Sweet/home.html">Sweet</a>	</div>
						</div>
						<div class="content-related" id="contentRelated"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="navigation-slide-in-out">
		<div class="header">
			<a href="../../../index.html" class="logo" title="Lilia Azur">
				<img src="../../../images/lilia_azur_logo_white.svg"  alt="Lilia Azur"/>
			</a>
		</div>
		<div class="main">	
			<ul class="menu">
				<li class="item-type-a not-active has-children">
					<a href="../../home.html#menu" target=""><i class="i-menu"></i></a><a href="../../home.html" target="">Home</a>
				</li>
				<li class="item-type-a not-active has-menu"><a class="i-menu" href="../home.html#menu" target="" ></a><a href="../home.html" target="" >My recipes</a></li>		<li class="item-type-b not-active has-menu"><a class="i-menu" href="home.html#menu" target="" ></a><a href="home.html" target="" >Desserts</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="Pancakes.html#menu" target="" ></a><a href="Pancakes.html" target="" >Pancakes</a></li>		<li class="item-type-c is-active no-menu"><a class="i-menu" href="Cornflakebars.html#menu" target="" ></a><a href="Cornflakebars.html" target="" >Cornflakebars</a></li>		<li class="item-type-c not-active has-menu"><a class="i-menu" href="100_Sweet/home.html#menu" target="" ></a><a href="100_Sweet/home.html" target="" >Sweet</a></li>		<li class="item-type-c not-active no-menu"><a class="i-menu" href="Carrot cake.html#menu" target="" ></a><a href="Carrot cake.html" target="" >Carrot cake</a></li>		
			</ul>
		</div>
		<div class="footer">
			<ul class="menu">
					<li class="item-no-children item-icon"><a class="i-linkedin" href="https://www.linkedin.com/company/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-facebook" href="https://www.facebook.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-twitter" href="https://twitter.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-youtube" href="https://www.youtube.com/user/wwwebify" target="blank"></a></li>
				</ul>
		</div>
	</div>
	<div class="search-slide-in-out">
		<div class="search-in-out-header">
			<div class="header">
				<a href="../../../index.html" class="logo" title="Lilia Azur">
					<img src="../../../images/lilia_azur_logo_white.svg"  alt="Lilia Azur"/>
				</a>
			</div>
			<div class="search-container">
				<div>
					<input class="search-slide-in-out-text" id="search_slide_in_out_text"  data-action="search.search_slide-in-out"/>
					<span class="search-slide-in-out-clear" id="search_slide_in_out_clear"><i class="i-clear" data-action="search.searchClear"></i></span>
					<span class="search-slide-in-out-search"><i class="i-search" data-action="search.searchSlideInOutSearch"></i></span>
				</div>
				<ul class="search-slide-in-out-dropdown hide" id="search_slide_in_out_dropdown" ></ul>
			</div>
		</div>
		<div class="search-results-slide-in-out" id="search_results_slide_in_out"></div>
	</div>
	<div class="main-footer">
	<div class="wrapper">
	<div class="row">
		<div  class="footer" id="footer">
			<div class="social-buttons">
				<ul class="menu">
					<li class="item-no-children item-icon"><a class="i-linkedin" href="https://www.linkedin.com/company/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-facebook" href="https://www.facebook.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-twitter" href="https://twitter.com/wwwebify" target="blank"></a></li>
					<li class="item-no-children item-icon"><a class="i-youtube" href="https://www.youtube.com/user/wwwebify" target="blank"></a></li>
				</ul>
			</div>
			<div class="secondary-buttons">
				<a class="secondary-button i-zoom-out" href="#" data-action="init.decreaseFontSize"></a>
				<a class="secondary-button i-zoom-in" href="#" data-action="init.increaseFontSize"></a>
			</div>
		</div>
	</div>
	</div>
	</div>
	<div class="buttons-slide-in-out">
		<div class="slide-in-out-search-toggle-button"><i class="i-search" data-action="search.slide_out"></i></div>
		<div class="slide-in-out-slide-out-button"><i class="i-slide-out" data-action="navigation.slide_out"></i></div>
	</div>
	<!-- javascripts -->
	<script src="../../../javascripts/jquery.min.js"></script>
	<script src="../../../slick/slick/slick.min.js"></script>
	<script src="../../../javascripts/base.js"></script>
	<script src="../../../javascripts/init.js"></script>
	<script src="../../../javascripts/slick.js"></script>
	<script src="../../../javascripts/navigation.js"></script>
	<script src="../../../javascripts/rangy-core.js"></script>
	<script src="../../../highlight/highlight.pack.js"></script>
	<script src="../../../elevatezoom/jquery.elevatezoom.js"></script>
	<script src="../../../unveil/jquery.unveil.js"></script>
	<script src="../../../javascripts/search.js"></script>
	<!-- search dictionary -->
	<script src="../../../javascripts/searchdata_en.js"></script>
</body>
</html>
