<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>20 min</div>
	</h1>
	<img class="right" src="../images/matcha ginger iced tea.jpg" title="Matcha ginger iced tea"/>
	<h2>Ingredients</h2>
	<ul>
		<li>1 tsp matcha powder</li>
		<li>2 tbsp fresh ginger, chopped or grated</li>
		<li>1/2 cup ice</li>
		<li>Juice of 1/2 lime</li>
		<li>honey or honey alternative (optional, to taste)</li>
	</ul>
	<h2>Preparations</h2>
	<p>Blend ice, matcha and ginger together at high speed until ice is crushed. Pour immediately into a chilled glass. Add lime juice and honey to taste.

	Don't have a blender? Use grated ginger and a martini shaker with ice-cubes for a ginger tea on the rocks. No electricity required.</p>
	<h2>Tips & Tricks</h2>
	<ol>
	<li>Temperature matters. Heat brings out the bitter flavors in matcha. 
	Ice will bring out the sweetness and the rich creamy mouth feel unique to matcha</li>
	<li>Use best quality water and ice cubes available.</li>
	<li>For best results, use good quality matcha and adjust proportions to taste.</li>
	<li>Drink up immediately. Matcha tea does not technically “dissolve” but rather “suspends” in liquid.</li>
	<li>After a while, the tea will float to the bottom and your beverage will separate.</li>
	</ol> 
</div>