<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>15min</div>
		<div class="intro">What do we need most on a hot summer night?</div>
		<div class="tags"><i class="i-tags"></i>Christmas, New Year</div>
	</h1>
	<img class="right" src="../images/bloody mary.jpg" title=" Blood mary" />
	<h2>Ingredients</h2>
	<ul>
		<li>3 ounces tomato juice</li>
		<li>1 1/2 ounces vodka</li>
		<li>1/2 ounce lemon juice</li>
		<li>1 dash of Worcestershire sauce</li>
		<li>Celery salt</li>
		<li>Ground pepper</li>
		<li>Hot pepper sauce to taste</li>
		<li>Horseradish to taste (optional)</li>
		<li>Celery stalk and/or pickle spear for garnish</li>
		<li>Lemon and/or lime wedge for garnish</li>
		<li>1/4 cup (2 ounces) tomato juice</li>
		<li>1 lemon wedge (optional)</li>
	</ul>
	<h2>Preparation</h2>
	<p>
	Build the liquid ingredients together in a 11-ounce highball glass over ice cubes.
	Stir well. If you feel like trying a fun mixing technique, try rolling this one or 
	pour back and forth 3 to 4 times to mix well.
	Add the seasonings to taste. Garnish with a lemon or lime and celery or pickle.
	Garnish with celery stalk and lemon wedge (optional) and serve.</p>
</div>	
