<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>20min</div>
		<div class="intro">Fancy this simple refreshing mouth-watering drink in the summer? Punchy lemon it is!</div>
		<div class="tags"><i class="i-tags"></i>mocktail</div>
	</h1>
	<img class="right" src="../images/rosemary lemonade.jpg" title="rosemary lemonade" />
	<h2>Ingredients <small>makes eight 5-ounce servings</small></h2>
	<ul>
		<li>1 cup lime juice (from about 6 limes)</li> 
		<li>3/4 cup sugar</li> 
		<li>Peel of 2 limes</li> 
		<li>Two 4-inch sprigs fresh rosemary, plus more to serve</li>
		<li>4 to 6 cups chilled sparkling water</li>
		<li>1 cup lime juice (from about 6 limes)</li> 
		<li>3/4 cup sugar</li> 
		<li>Peel of 2 limes</li> 
		<li>Two 4-inch sprigs fresh rosemary, plus more to serve</li>
		<li>4 to 6 cups chilled sparkling water</li>
	</ul>
	<h2>Preparations</h2>
		<p>Stir the lime juice with the sugar in a small saucepan and bring to a simmer over medium heat. 
		Lower the heat and cook, stirring frequently, until the sugar is completely dissolved. 
		Add the lime peel and the rosemary sprigs. Simmer for another minute, then turn off the heat.
		Cover and refrigerate overnight.</p>

		<p>Strain out the lime peel and rosemary and mix with the chilled sparkling water in a sealed jar or bottle. 
		Taste and add more water if you want a lighter flavor.
		Serve over ice with a small sprig of rosemary muddled into the drink.</p> 
</div>