<div class="recipe">
	<h1>{{name}}
		<div class="duration"><i class="i-stopwatch"></i>duration</div>
		<div class="intro">intro</div>
		<div class="tags"><i class="i-tags"></i>tags</div>
	</h1>
	<img class="right" src="../images/...jpg" title="" />
	<h2>Ingredients</h2>
	<ul>
		<li></li>
	</ul>
	<h2>Preparations</h2>
	<p></p>
</div>